/****** Object:  Table [dbo].[sqlagent_info]    Script Date: 5/15/2018 12:03:00 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[sqlagent_info](
	[attribute] [sysname] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[value] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
