/****** Object:  Table [dbo].[COR_SALES_REGIONS]    Script Date: 5/15/2018 11:58:37 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[COR_SALES_REGIONS](
	[SalesRegionID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FullName] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_COR_SALES_REGIONS] PRIMARY KEY CLUSTERED 
(
	[SalesRegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 97) ON [PRIMARY]
) ON [PRIMARY]

GO
