/****** Object:  Table [dbo].[COR_POLITICAL_DIVISION]    Script Date: 5/15/2018 11:58:36 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[COR_POLITICAL_DIVISION](
	[PoliticalDivisionID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ShortName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FullName] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryID] [bigint] NULL,
	[SalesRegionID] [bigint] NULL,
	[AuditID] [bigint] NULL,
	[Status] [bigint] NULL,
 CONSTRAINT [PK_COR_POLITICAL_DIVISION] PRIMARY KEY CLUSTERED 
(
	[PoliticalDivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
