/****** Object:  Table [dbo].[COR_STORE_STATUS_TYPES]    Script Date: 5/15/2018 11:58:37 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[COR_STORE_STATUS_TYPES](
	[StoreStatusType] [bigint] NOT NULL,
	[Description] [varchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_CORE_STORE_STATUS_TYPES] PRIMARY KEY CLUSTERED 
(
	[StoreStatusType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 97) ON [PRIMARY]
) ON [PRIMARY]

GO
