/****** Object:  Table [dbo].[COR_AUDIT]    Script Date: 5/15/2018 11:58:34 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[COR_AUDIT](
	[AuditID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ActionCode] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Success] [bit] NOT NULL,
	[LastAuditID] [bigint] NULL,
 CONSTRAINT [PK_AUDIT] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 97) ON [PRIMARY]
) ON [PRIMARY]

GO
