/****** Object:  Table [dbo].[COR_STORES_ADDRESSES_LINK]    Script Date: 5/15/2018 11:58:38 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[COR_STORES_ADDRESSES_LINK](
	[StoreID] [bigint] NOT NULL,
	[AddressID] [bigint] NOT NULL
) ON [PRIMARY]

GO
