/****** Object:  Table [dbo].[FIIWebNumbersToDelete]    Script Date: 5/15/2018 12:03:44 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FIIWebNumbersToDelete](
	[WebNumber] [int] NULL
) ON [PRIMARY]

GO
