/****** Object:  StoredProcedure [dbo].[proc_MSS_ProcessStartInc]    Script Date: 5/15/2018 12:13:36 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_MSS_ProcessStartInc
@FullIncrementalInterval int, @DeleteOnErrorInterval int,
@DocID int, @StartAddressID int, @ContentSourceID int, @ProjectID int,
@CrawlID int
WITH RECOMPILE
AS
    SET NOCOUNT ON  
    DECLARE @ITEMTYPE_INVALIDLINK int SET @ITEMTYPE_INVALIDLINK = 0 DECLARE @ITEMTYPE_STARTADDRESS int SET @ITEMTYPE_STARTADDRESS = 1 DECLARE @ITEMTYPE_LINK int SET @ITEMTYPE_LINK = 2 DECLARE @ITEMTYPE_COMMITTED int SET @ITEMTYPE_COMMITTED = 3 DECLARE @ITEMTYPE_ANCHORNEWLINK int SET @ITEMTYPE_ANCHORNEWLINK = 4 DECLARE @ITEMTYPE_ANCHORCOMMITTED int SET @ITEMTYPE_ANCHORCOMMITTED = 5 DECLARE @ITEMTYPE_ANCHORNOCRAWL int SET @ITEMTYPE_ANCHORNOCRAWL = 6
    DECLARE @ERRORLEVEL_SUCCESS int SET @ERRORLEVEL_SUCCESS = 0 DECLARE @ERRORLEVEL_WARNING int SET @ERRORLEVEL_WARNING = 1 DECLARE @ERRORLEVEL_ERROR int SET @ERRORLEVEL_ERROR = 2
    DECLARE @GTHR_CA_ADD int SET @GTHR_CA_ADD = 0 DECLARE @GTHR_CA_DELETE int SET @GTHR_CA_DELETE = 1 DECLARE @GTHR_CA_MODIFY int SET @GTHR_CA_MODIFY = 2 DECLARE @GTHR_CA_MOVE_RENAME int SET @GTHR_CA_MOVE_RENAME = 3 
    DECLARE @SCOPE_SHALLOW int SET @SCOPE_SHALLOW = 0X0001 DECLARE @SCOPE_DEEP int SET @SCOPE_DEEP = 0X0002
    DECLARE @CRAWLTYPE_FULL int SET @CRAWLTYPE_FULL = 1 DECLARE @CRAWLTYPE_INCREMENTAL int SET @CRAWLTYPE_INCREMENTAL = 2 DECLARE @CRAWLTYPE_DELETE int SET @CRAWLTYPE_DELETE = 6 
    DECLARE @TF_DIRECTORY int SET @TF_DIRECTORY = 0x0004 DECLARE @TF_FOLLOW_DIRECTORIES int SET @TF_FOLLOW_DIRECTORIES = 0x0008 DECLARE @TF_USES_EXTENDED_DIRLINKS int SET @TF_USES_EXTENDED_DIRLINKS = 0x0200 DECLARE @TF_SITE_CONTAINER int SET @TF_SITE_CONTAINER = 0x0000400 DECLARE @TF_RARE_CRAWL int SET @TF_RARE_CRAWL = 0x0000800 DECLARE @TF_USE_LAST_MODIFIED int SET @TF_USE_LAST_MODIFIED = 0x0040 DECLARE @TF_UPDATE_SECURITY_ONLY int SET @TF_UPDATE_SECURITY_ONLY = 0x2000000
    DECLARE @PRTH_S_NOT_MODIFIED int SET @PRTH_S_NOT_MODIFIED = 0x41203 DECLARE @GTHR_E_URL_EXCLUDED int SET @GTHR_E_URL_EXCLUDED = 0x80040d07 DECLARE @GTHR_E_URL_EXCLUDED_DEPTH int SET @GTHR_E_URL_EXCLUDED_DEPTH = 0x80040d08 DECLARE @GTHR_S_NO_INDEX int SET @GTHR_S_NO_INDEX = 0x40D90 DECLARE @WSS_TOKEN_TOO_EARLY int SET @WSS_TOKEN_TOO_EARLY = 0x810200BC 
    DECLARE @CRAWL_ACQUIREID int SET @CRAWL_ACQUIREID = 1 DECLARE @CRAWL_STATUS_INSERTSTARTPAGE int SET @CRAWL_STATUS_INSERTSTARTPAGE = 2 DECLARE @CRAWL_STARTCHECK int SET @CRAWL_STARTCHECK = 3 DECLARE @CRAWL_STATUS_START int SET @CRAWL_STATUS_START = 4 DECLARE @CRAWL_STATUS_FORBID int SET @CRAWL_STATUS_FORBID = 5 DECLARE @CRAWL_UPDATE_SEED int SET @CRAWL_UPDATE_SEED = 6 DECLARE @CRAWL_QUERY_DONE int SET @CRAWL_QUERY_DONE = 7 DECLARE @CRAWL_STATUS_DELETEUNVISITEDITEMS int SET @CRAWL_STATUS_DELETEUNVISITEDITEMS = 8 DECLARE @CRAWL_STATUS_PAUSE int SET @CRAWL_STATUS_PAUSE = 9 DECLARE @CRAWL_STATUS_RESUME int SET @CRAWL_STATUS_RESUME =10 DECLARE @CRAWL_STATUS_DONE int SET @CRAWL_STATUS_DONE = 11 DECLARE @CRAWL_UPDATE_STOP int SET @CRAWL_UPDATE_STOP = 12 DECLARE @CRAWL_STATUS_STOP int SET @CRAWL_STATUS_STOP = 13 DECLARE @CRAWL_STATUS_RESET int SET @CRAWL_STATUS_RESET = 14 DECLARE @CRAWL_START_DELETE int SET @CRAWL_START_DELETE = 15 DECLARE @CRAWL_DELETE_CS int SET @CRAWL_DELETE_CS = 16 DECLARE @CRAWL_DELETE_SA int SET @CRAWL_DELETE_SA = 17
    DECLARE @DELETE_ERROR int SET @DELETE_ERROR = 1 DECLARE @DELETE_CRAWL int SET @DELETE_CRAWL = 2 DECLARE @DELETE_UNVISITED_FULL int SET @DELETE_UNVISITED_FULL = 3 DECLARE @DELETE_UNVISITED_INC int SET @DELETE_UNVISITED_INC = 4 DECLARE @DELETE_UNVISITED_LOG int SET @DELETE_UNVISITED_LOG = 5 DECLARE @DELETE_RECURSIVE int SET @DELETE_RECURSIVE = 6 DECLARE @DELETE_EXCLUDED int SET @DELETE_EXCLUDED = 7 DECLARE @DELETE_CHANGELOG int SET @DELETE_CHANGELOG = 8 
    UPDATE MSSCrawlURL SET CrawlID = @CrawlID, ParentDocID = -1, StartAddressID = @StartAddressID, ContentSourceID = @ContentSourceID 
    WHERE DocID = @DocID
    UPDATE MSSCrawlURL SET CrawlID = @CrawlID 
    WHERE StartAddressID = @StartAddressID AND 
    (
        ErrorLevel = @ERRORLEVEL_ERROR OR 
        ChangeLogCookie IS NOT NULL OR  
        (
        UseChangeLog = 0  AND 
            (
                (TransactionFlags & @TF_USES_EXTENDED_DIRLINKS = 0 AND TransactionFlags & @TF_SITE_CONTAINER = 0 AND TransactionFlags & @TF_RARE_CRAWL = 0) OR 
                (TransactionFlags & @TF_DIRECTORY <> 0 AND TransactionFlags & @TF_SITE_CONTAINER = 0 AND TransactionFlags & @TF_RARE_CRAWL = 0) OR
                (TransactionFlags & @TF_SITE_CONTAINER <> 0 AND DATEDIFF(mi, LastTouchStart, getdate()) > @FullIncrementalInterval) OR
                (TransactionFlags & @TF_RARE_CRAWL <> 0 AND DATEDIFF(mi, LastTouchStart, getdate()) > @FullIncrementalInterval)
            )
        )
    )
    INSERT INTO MSSCrawlQueue (CrawlID,
        StartAddressID,
        DocID,
        TransactionType,
        Scope, 
        TransactionFlags,
        HostDepth,
        EnumerationDepth,
        SourceDocID,
        ChangeLogBatchID, 
        ItemType,
        FolderHighPriority,
        ItemHighPriority,
        ProjectID)
    SELECT @CrawlID,
        StartAddressID,
        DocID,
        @GTHR_CA_MODIFY,
        CASE WHEN A.CrawlScope = 0 THEN @SCOPE_DEEP ELSE A.CrawlScope END,
        TransactionFlags | @TF_USE_LAST_MODIFIED,
        HostDepth,
        EnumerationDepth,
        ParentDocID,
        0,
        @ITEMTYPE_LINK,
        0,
        0,
        ProjectID
    FROM MSSCrawlURL A
    WHERE StartAddressID = @StartAddressID AND CrawlID = @CrawlID
    INSERT INTO MSSCrawlQueue (CrawlID,
        StartAddressID,
        DocID,
        TransactionType,
        Scope, 
        TransactionFlags,
        HostDepth,
        EnumerationDepth,
        SourceDocID,
        ChangeLogBatchID, 
        ItemType,
        FolderHighPriority,
        ItemHighPriority,
        ProjectID)
    SELECT @CrawlID,
        StartAddressID,
        DocID,
        @GTHR_CA_MODIFY,
        @SCOPE_DEEP,
        TransactionFlags | @TF_UPDATE_SECURITY_ONLY,
        HostDepth,
        EnumerationDepth,
        ParentDocID,
        0,
        @ITEMTYPE_LINK,
        0,
        0,
        ProjectID
    FROM MSSCrawlURL WHERE SecurityUpdateErrorID <> 0 AND StartAddressID = @StartAddressID

GO
