/****** Object:  Table [dbo].[DataSets]    Script Date: 5/15/2018 12:02:19 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[DataSets](
	[ID] [uniqueidentifier] NOT NULL,
	[ItemID] [uniqueidentifier] NOT NULL,
	[LinkID] [uniqueidentifier] NULL,
	[Name] [nvarchar](260) COLLATE Latin1_General_CI_AS_KS_WS NOT NULL,
 CONSTRAINT [PK_DataSet] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [IX_DataSet_ItemID_Name]    Script Date: 5/15/2018 12:02:19 PM ******/
CREATE CLUSTERED INDEX [IX_DataSet_ItemID_Name] ON [dbo].[DataSets]
(
	[ItemID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
/****** Object:  Index [IX_DataSetLinkID]    Script Date: 5/15/2018 12:02:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataSetLinkID] ON [dbo].[DataSets]
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
ALTER TABLE [dbo].[DataSets]  WITH NOCHECK ADD  CONSTRAINT [FK_DataSetItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Catalog] ([ItemID])
ALTER TABLE [dbo].[DataSets] CHECK CONSTRAINT [FK_DataSetItemID]
ALTER TABLE [dbo].[DataSets]  WITH NOCHECK ADD  CONSTRAINT [FK_DataSetLinkID] FOREIGN KEY([LinkID])
REFERENCES [dbo].[Catalog] ([ItemID])
ALTER TABLE [dbo].[DataSets] CHECK CONSTRAINT [FK_DataSetLinkID]
GO
