/****** Object:  StoredProcedure [dbo].[dt_removefromsourcecontrol]    Script Date: 5/15/2018 12:13:15 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
create procedure dbo.dt_removefromsourcecontrol

as

    set nocount on

    declare @iPropertyObjectId int
    select @iPropertyObjectId = (select objectid from dbo.dtproperties where property = 'VCSProjectID')

    exec dbo.dt_droppropertiesbyid @iPropertyObjectId, null

    /* -1 is returned by dt_droppopertiesbyid */
    if @@error <> 0 and @@error <> -1 return 1

    return 0



GO
