/****** Object:  StoredProcedure [dbo].[MakePrimaryKeys]    Script Date: 5/15/2018 12:13:16 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [MakePrimaryKeys] AS ALTER TABLE [dbo].[Account] ADD CONSTRAINT [Account_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AccountContact] ADD CONSTRAINT [AccountContact_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AccountContactUserField] ADD CONSTRAINT [AccountContactUserField_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AccountUserField] ADD CONSTRAINT [AccountUserField_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Address] ADD CONSTRAINT [Address_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AddressLink] ADD CONSTRAINT [AddressLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AdvQuery] ADD CONSTRAINT [AdvQuery_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[AdvQueryNode] ADD CONSTRAINT [AdvQueryNode_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Closeout] ADD CONSTRAINT [Closeout_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[CommissionPlan] ADD CONSTRAINT [CommissionPlan_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[CommissionPlanException] ADD CONSTRAINT [CommissionPlanException_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[ContactActivity] ADD CONSTRAINT [ContactActivity_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Country] ADD CONSTRAINT [Country_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[CustomerGoodsItem] ADD CONSTRAINT [CustomerGoodsItem_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[DiscountTableItem] ADD CONSTRAINT [DiscountTableItem_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[DiscountTable] ADD CONSTRAINT [DiscountTable_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Element] ADD CONSTRAINT [Element_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[EmailActivity] ADD CONSTRAINT [EmailActivity_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Employee] ADD CONSTRAINT [Employee_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[EmployeeContact] ADD CONSTRAINT [EmployeeContact_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[EmployeeGroup] ADD CONSTRAINT [EmployeeGroup_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[GL] ADD CONSTRAINT [GL_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[GLAccount] ADD CONSTRAINT [GLAccount_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[GoodsItemPartLink] ADD CONSTRAINT [GoodsItemPartLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Graphic] ADD CONSTRAINT [Graphic_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[IncomeAccount] ADD CONSTRAINT [IncomeAccount_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[IOTemplate] ADD CONSTRAINT [IOTemplate_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Journal] ADD CONSTRAINT [Journal_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Link] ADD CONSTRAINT [Link_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[MarketingListItem] ADD CONSTRAINT [MarketingListItem_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Parameter] ADD CONSTRAINT [Parameter_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Part] ADD CONSTRAINT [Part_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PartConsumptionJournal] ADD CONSTRAINT [PartConsumptionJournal_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PartGL] ADD CONSTRAINT [PartGL_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PartInventoryConversion] ADD CONSTRAINT [PartInventoryConversion_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Payment] ADD CONSTRAINT [Payment_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PaymentAccount] ADD CONSTRAINT [PaymentAccount_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PaymentTerms] ADD CONSTRAINT [PaymentTerms_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PhoneNumber] ADD CONSTRAINT [PhoneNumber_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingElement] ADD CONSTRAINT [PricingElement_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingGraphic] ADD CONSTRAINT [PricingGraphic_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingLink] ADD CONSTRAINT [PricingLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingPlan] ADD CONSTRAINT [PricingPlan_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingPlanParam] ADD CONSTRAINT [PricingPlanParam_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingTable] ADD CONSTRAINT [PricingTable_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[PricingTableElement] ADD CONSTRAINT [PricingTableElement_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[ProdModLink] ADD CONSTRAINT [ProdModLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Report] ADD CONSTRAINT [Report_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[ReportElement] ADD CONSTRAINT [ReportElement_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[ReportTemplate] ADD CONSTRAINT [ReportTemplate_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[RuleAction] ADD CONSTRAINT [RuleAction_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[RuleActivity] ADD CONSTRAINT [RuleActivity_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[RuleMacro] ADD CONSTRAINT [RuleMacro_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[SecurityLink] ADD CONSTRAINT [SecurityLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[SecurityTemplate] ADD CONSTRAINT [SecurityTemplate_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[SelectionList] ADD CONSTRAINT [SelectionList_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[SelectionListItem] ADD CONSTRAINT [SelectionListItem_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[SpeedNote] ADD CONSTRAINT [SpeedNote_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[Store] ADD CONSTRAINT [Store_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[StoreConstant] ADD CONSTRAINT [StoreConstant_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TaxAccount] ADD CONSTRAINT [TaxAccount_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TaxClass] ADD CONSTRAINT [TaxClass_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TaxLink] ADD CONSTRAINT [TaxLink_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TimeCard] ADD CONSTRAINT [TimeCard_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TimeClockStatus] ADD CONSTRAINT [TimeClockStatus_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransDetail] ADD CONSTRAINT [TransDetail_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransDetailGraphic] ADD CONSTRAINT [TransDetailGraphic_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransDetailParam] ADD CONSTRAINT [TransDetailParam_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransHeader] ADD CONSTRAINT [TransHeader_PK] PRIMARY KEY CLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransHeaderUserField] ADD CONSTRAINT [TransHeaderUserField_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransMod] ADD CONSTRAINT [TransMod_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransPart] ADD CONSTRAINT [TransPart_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[TransVariation] ADD CONSTRAINT [TransVariation_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[UserColumns] ADD CONSTRAINT [UserColumns_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[UserFieldDef] ADD CONSTRAINT [UserFieldDef_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[UserName] ADD CONSTRAINT [UserName_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] ALTER TABLE [dbo].[UserOption] ADD CONSTRAINT [UserOption_PK] PRIMARY KEY NONCLUSTERED ( [ID], [StoreID], [ClassTypeID] ) ON [PRIMARY] 

GO
