/****** Object:  Table [Contact].[ZipDim]    Script Date: 5/15/2018 11:59:24 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Contact].[ZipDim](
	[ZipKey] [int] IDENTITY(1,1) NOT NULL,
	[ZipName] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_ZipKey] PRIMARY KEY CLUSTERED 
(
	[ZipKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [ZipDim_ZipName]    Script Date: 5/15/2018 11:59:24 AM ******/
CREATE NONCLUSTERED INDEX [ZipDim_ZipName] ON [Contact].[ZipDim]
(
	[ZipName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
ALTER TABLE [Contact].[ZipDim] ADD  CONSTRAINT [DF_Zip_IsValid]  DEFAULT ((0)) FOR [IsValid]
GO
