/****** Object:  Table [dbo].[July4th]    Script Date: 5/15/2018 11:59:25 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[July4th](
	[CENTER] [float] NULL,
	[FIRST] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDRESS 1] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDRESS 2] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZIP] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NOTES] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OWNERSHIP] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PHONE] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NOTES1] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmailToBeAdded] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AllEmail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[F16] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
