/****** Object:  Table [dbo].[EMAIL_FM_PK1]    Script Date: 5/15/2018 11:59:24 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[EMAIL_FM_PK1](
	[EmailAddress] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
