/****** Object:  Table [dbo].[ZipLatLong]    Script Date: 5/15/2018 11:59:29 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ZipLatLong](
	[ZIP] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAT] [real] NULL,
	[LONG] [real] NULL
) ON [PRIMARY]

GO
