/****** Object:  Table [dbo].[Test_StoreFact]    Script Date: 5/15/2018 11:59:28 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Test_StoreFact](
	[CenterKey] [int] NOT NULL,
	[ZW_Franchise_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreNumber] [bigint] NULL,
	[GoldmineId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [int] NULL,
	[RoyaltyFIIpercent] [float] NULL,
	[RoyaltyNACpercent] [float] NULL,
	[Alert] [bit] NULL,
	[LimitedServices] [bit] NULL,
	[COD] [bit] NULL,
	[OperationalKey] [int] NULL,
	[Pacesetter] [bit] NULL,
	[VanityNameKey] [int] NULL,
	[StoreOpenDate] [date] NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Reportable] [bit] NULL,
	[STBLevelKey] [int] NULL,
	[ASI] [bit] NULL,
	[EquipmentPackage] [int] NULL,
	[Router] [bit] NULL,
	[LastConvention] [int] NULL,
	[OutsideSalesRep] [bit] NULL,
	[Luminate] [bit] NULL,
	[LocationTypeKey] [int] NULL,
	[TrafficCount] [int] NULL,
	[SingleOwner] [bit] NULL,
	[OwnerCount] [int] NULL,
	[Landlord] [bit] NULL,
	[FAC] [bit] NULL,
	[NAC] [bit] NULL,
	[TAC] [bit] NULL,
	[SquareFeet] [int] NULL,
	[StoreTypeKey] [int] NULL,
	[CountryKey] [int] NULL,
	[CityKey] [int] NULL,
	[StateKey] [int] NULL,
	[UpdateCheckSum] [int] NULL,
	[Zip] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OpenStatus] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] [varchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Region] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FAX] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FBC] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Director] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CloseDate] [date] NULL,
	[ResaleOpenDate] [date] NULL,
	[NCBC] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsertDate] [datetime] NULL
) ON [PRIMARY]

ALTER TABLE [dbo].[Test_StoreFact] ADD  CONSTRAINT [DF_Test_StoreFact_InsertDate]  DEFAULT (getdate()) FOR [InsertDate]
GO
