/****** Object:  Table [GL].[TextDim]    Script Date: 5/15/2018 11:59:34 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [GL].[TextDim](
	[TextKey] [int] IDENTITY(1,1) NOT NULL,
	[TextName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_TextKey] PRIMARY KEY CLUSTERED 
(
	[TextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [GL].[TextDim] ADD  CONSTRAINT [DF_Text_IsValid]  DEFAULT ((0)) FOR [IsValid]
GO
