/****** Object:  Table [Orders].[ReasonDim]    Script Date: 5/15/2018 11:59:38 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Orders].[ReasonDim](
	[ReasonKey] [int] IDENTITY(1,1) NOT NULL,
	[ReasonName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_ReasonKey] PRIMARY KEY CLUSTERED 
(
	[ReasonKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [Hint_ReasonName]    Script Date: 5/15/2018 11:59:38 AM ******/
CREATE NONCLUSTERED INDEX [Hint_ReasonName] ON [Orders].[ReasonDim]
(
	[ReasonName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
ALTER TABLE [Orders].[ReasonDim] ADD  CONSTRAINT [DF_Reason_IsValid]  DEFAULT ((0)) FOR [IsValid]
GO
