/****** Object:  Table [Store].[CityDim]    Script Date: 5/15/2018 11:59:43 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Store].[CityDim](
	[CityKey] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_CityKey] PRIMARY KEY CLUSTERED 
(
	[CityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [Store].[CityDim] ADD  CONSTRAINT [DF_City_IsValid]  DEFAULT ((0)) FOR [IsValid]
GO
