/****** Object:  Table [Store].[AreaDim]    Script Date: 5/15/2018 11:59:43 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Store].[AreaDim](
	[AreaKey] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsValid] [bit] NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_AreaDim] PRIMARY KEY CLUSTERED 
(
	[AreaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
