/****** Object:  Table [Store].[CoreDARTypes]    Script Date: 5/15/2018 11:59:43 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Store].[CoreDARTypes](
	[ID] [int] NULL,
	[GroupName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SortOrder] [smallint] NULL,
	[CountID] [smallint] NULL,
	[AmountID] [smallint] NULL
) ON [PRIMARY]

GO
