/****** Object:  StoredProcedure [dbo].[proc_ANL_SiteTopPages]    Script Date: 5/15/2018 12:11:24 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
-------------------------------------------------------------------------------
-- The Site-level reporting stored procedures are in many cases copies of their
-- Web-level counterparts. This duplication is unfortunate but there isn't a
-- clean way to reuse the logic while maintaining legibility.
-------------------------------------------------------------------------------

CREATE PROCEDURE dbo.proc_ANL_SiteTopPages
 @siteGuid uniqueidentifier
AS

BEGIN TRANSACTION
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @locked INT
EXEC @locked = proc_ANL_LockMasterTablesForRead
IF @locked = -1 
BEGIN
 ROLLBACK TRANSACTION
 RETURN 0
END

DECLARE @days INT
SELECT @days = dbo.fn_ANL_GetNumDetailedReportingDays()

SELECT TOP 5 h.FullUrl, h.DocName, CAST(SUM(h.HitCount) AS FLOAT)/@days AS AvgDailyHits
FROM ANLHitsByResourceByDay h WITH (NOLOCK)
WHERE (h.SiteGuid = @siteGuid)
GROUP BY h.SiteGuid, h.DocName, h.FullUrl
ORDER BY AvgDailyHits DESC

ROLLBACK TRANSACTION
RETURN 1


GO
