/****** Object:  StoredProcedure [dbo].[usp_SSIS_Update_StoreFact]    Script Date: 5/15/2018 12:09:35 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [dbo].[usp_SSIS_Update_StoreFact]
AS 
    INSERT  INTO History.[StoreFact]
            ( CenterKey ,
              ZW_Franchise_ID ,
              StoreNumber ,
              GoldmineId ,
              Status ,
              RoyaltyFIIpercent ,
              RoyaltyNACpercent ,
              Alert ,
              LimitedServices ,
              COD ,
              OperationalKey ,
              Pacesetter ,
              VanityNameKey ,
              StoreOpenDate ,
              Email ,
              Reportable ,
              STBLevelKey ,
              ASI ,
              EquipmentPackage ,
              Router ,
              LastConvention ,
              OutsideSalesRep ,
              Luminate ,
              LocationTypeKey ,
              TrafficCount ,
              SingleOwner ,
              OwnerCount ,
              Landlord ,
              FAC ,
              NAC ,
              TAC ,
              SquareFeet ,
              StoreTypeKey ,
              CountryKey ,
              CityKey ,
              StateKey ,
              UpdateCheckSum ,
              Zip ,
              OpenStatus ,
              Address ,
              Region ,
              Phone ,
              FAX ,
              FBC ,
              Director ,
              ChangeDate,
			  CloseDate ,
	          ResaleOpenDate,NCBC
            )
            SELECT
                F.CenterKey ,
                F.ZW_Franchise_ID ,
                F.StoreNumber ,
                F.GoldmineId ,
                F.Status ,
                F.RoyaltyFIIpercent ,
                F.RoyaltyNACpercent ,
                F.Alert ,
                F.LimitedServices ,
                F.COD ,
                F.OperationalKey ,
                F.Pacesetter ,
                F.VanityNameKey ,
                F.StoreOpenDate ,
                F.Email ,
                F.Reportable ,
                F.STBLevelKey ,
                F.ASI ,
                F.EquipmentPackage ,
                F.Router ,
                F.LastConvention ,
                F.OutsideSalesRep ,
                F.Luminate ,
                F.LocationTypeKey ,
                F.TrafficCount ,
                F.SingleOwner ,
                F.OwnerCount ,
                F.Landlord ,
                F.FAC ,
                F.NAC ,
                F.TAC ,
                F.SquareFeet ,
                F.StoreTypeKey ,
                F.CountryKey ,
                F.CityKey ,
                F.StateKey ,
                F.UpdateCheckSum ,
                F.Zip ,
                F.OpenStatus ,
                F.Address ,
                F.Region ,
                F.Phone ,
                F.FAX ,
                F.FBC ,
                F.Director ,GETDATE(),
			  F.CloseDate ,
	          F.ResaleOpenDate,F.NCBC
            FROM
                [Staging].[dbo].[StoreFactUpdate] U
                JOIN [Store].[StoreFact] F ON U.CenterKey = F.CenterKey
            WHERE
                U.CenterKey > 0 

    UPDATE
        F
    SET 
        F.ZW_Franchise_ID = U.ZW_Franchise_ID ,
        F.StoreNumber = U.StoreNumber ,
        F.GoldmineId = U.GoldmineId ,
        F.Status = U.Status ,
        F.RoyaltyFIIpercent = U.RoyaltyFIIpercent ,
        F.RoyaltyNACpercent = U.RoyaltyNACpercent ,
        F.Alert = U.Alert ,
        F.LimitedServices = U.LimitedServices ,
        F.COD = U.COD ,
        F.OperationalKey = U.OperationalKey ,
        F.Pacesetter = U.Pacesetter ,
        F.VanityNameKey = U.VanityNameKey ,
        F.StoreOpenDate = U.StoreOpenDate ,
        F.Email = U.Email ,
        F.Reportable = U.Reportable ,
        F.STBLevelKey = U.STBLevelKey ,
        F.ASI = U.ASI ,
        F.EquipmentPackage = U.EquipmentPackage ,
        F.Router = U.Router ,
        F.LastConvention = U.LastConvention ,
        F.OutsideSalesRep = U.OutsideSalesRep ,
        F.Luminate = U.Luminate ,
        F.LocationTypeKey = U.LocationTypeKey ,
        F.TrafficCount = U.TrafficCount ,
        F.SingleOwner = U.SingleOwner ,
        F.OwnerCount = U.OwnerCount ,
        F.Landlord = U.Landlord ,
        F.FAC = U.FAC ,
        F.NAC = U.NAC ,
        F.TAC = U.TAC ,
        F.SquareFeet = U.SquareFeet ,
        F.StoreTypeKey = U.StoreTypeKey ,
        F.CountryKey = U.CountryKey ,
        F.CityKey = U.CityKey ,
        F.StateKey = U.StateKey ,
        F.UpdateCheckSum = U.UpdateCheckSum ,
        F.Zip = U.Zip ,
        F.OpenStatus = U.OpenStatus ,
        F.ADDRESS = U.Address ,
        F.Region = U.Region ,
        F.Phone = U.Phone ,
        F.FAX = U.FAX ,
        F.FBC = U.FBC ,
        F.Director = U.Director,
	    F.CloseDate=U.CloseDate ,
	    F.ResaleOpenDate=U.ResaleOpenDate,
		F.NCBC = U.NCBC
    FROM
        [Staging].[dbo].[StoreFactUpdate] U
        JOIN [Store].[StoreFact] F ON U.CenterKey = F.CenterKey
    WHERE
        U.CenterKey > 0 

    UPDATE
        FM
    SET 
        [IsModified] = 1
    FROM
        [Staging].[dbo].[StoreFactUpdate] U
        JOIN [Store].[FastMailDim] FM ON U.CenterKey = FM.CenterKey
    WHERE
        U.CenterKey > 0 

 
    INSERT  INTO [Store].[StoreFact]
            ( ZW_Franchise_ID ,
              StoreNumber ,
              GoldmineId ,
              Status ,
              RoyaltyFIIpercent ,
              RoyaltyNACpercent ,
              Alert ,
              LimitedServices ,
              COD ,
              OperationalKey ,
              Pacesetter ,
              VanityNameKey ,
              StoreOpenDate ,
              Email ,
              Reportable ,
              STBLevelKey ,
              ASI ,
              EquipmentPackage ,
              Router ,
              LastConvention ,
              OutsideSalesRep ,
              Luminate ,
              LocationTypeKey ,
              TrafficCount ,
              SingleOwner ,
              OwnerCount ,
              Landlord ,
              FAC ,
              NAC ,
              TAC ,
              SquareFeet ,
              StoreTypeKey ,
              CountryKey ,
              CityKey ,
              StateKey ,
              UpdateCheckSum ,
              Zip ,
              OpenStatus ,
              Address ,
              Region ,
              Phone ,
              FAX ,
              FBC ,
              Director,
			  CloseDate ,
	          ResaleOpenDate,NCBC
            )
            SELECT
                ZW_Franchise_ID ,
                StoreNumber ,
                GoldmineId ,
                Status ,
                RoyaltyFIIpercent ,
                RoyaltyNACpercent ,
                Alert ,
                LimitedServices ,
                COD ,
                OperationalKey ,
                Pacesetter ,
                VanityNameKey ,
                StoreOpenDate ,
                Email ,
                Reportable ,
                STBLevelKey ,
                ASI ,
                EquipmentPackage ,
                Router ,
                LastConvention ,
                OutsideSalesRep ,
                Luminate ,
                LocationTypeKey ,
                TrafficCount ,
                SingleOwner ,
                OwnerCount ,
                Landlord ,
                FAC ,
                NAC ,
                TAC ,
                SquareFeet ,
                StoreTypeKey ,
                CountryKey ,
                CityKey ,
                StateKey ,
                UpdateCheckSum ,
                Zip ,
                OpenStatus ,
                Address ,
                Region ,
                Phone ,
                FAX ,
                FBC ,
                Director,
			  CloseDate ,
	          ResaleOpenDate,NCBC
            FROM
                [Staging].[dbo].[StoreFactUpdate]
            WHERE
                CenterKey = 0 

INSERT INTO Test_StoreFact
SELECT *,GETDATE()  FROM Staging.dbo.StoreFactUpdate 

    TRUNCATE TABLE Staging.dbo.StoreFactUpdate 

GO
