/****** Object:  Table [dbo].[NewLedgerDates]    Script Date: 5/15/2018 12:06:48 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[NewLedgerDates](
	[ID] [int] NOT NULL,
	[EntryDateTime] [datetime] NULL,
	[NewEntryDateTime] [datetime] NULL
) ON [PRIMARY]

GO
