/****** Object:  Table [dbo].[TempClosedOrders]    Script Date: 5/15/2018 12:06:58 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TempClosedOrders](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[Controlled] [bit] NULL,
	[ControlledByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ControlledByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ControlledDate] [datetime] NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[TransactionType] [int] NULL,
	[EstimateNumber] [int] NULL,
	[OrderNumber] [int] NULL,
	[OrderTemplateNumber] [int] NULL,
	[Version] [int] NULL,
	[Description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountID] [int] NULL,
	[AccountStoreID] [int] NULL,
	[ContactID] [int] NULL,
	[SalesPerson1ID] [int] NULL,
	[SalesPerson2ID] [int] NULL,
	[SalesPerson3ID] [int] NULL,
	[OrderNotes] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PONumber] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductionNotes] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingLevel] [float] NULL,
	[PricingLevelOverridden] [bit] NULL,
	[DiscountLevel] [float] NULL,
	[DiscountLevelOverridden] [bit] NULL,
	[EstimateCreatedDate] [datetime] NULL,
	[OrderCreatedDate] [datetime] NULL,
	[BuiltDate] [datetime] NULL,
	[SaleDate] [datetime] NULL,
	[ClosedDate] [datetime] NULL,
	[VoidedDate] [datetime] NULL,
	[ConvertedDate] [datetime] NULL,
	[RejectedDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ProofDate] [datetime] NULL,
	[LastFinanceChargeDate] [datetime] NULL,
	[DispositionID] [int] NULL,
	[SalesDispositionID] [int] NULL,
	[EnteredByID] [int] NULL,
	[HTMLShortFormat] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HTMLLongFormat] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BasePrice] [decimal](18, 4) NULL,
	[DiscountPrice] [decimal](18, 4) NULL,
	[ModifierPrice] [decimal](18, 4) NULL,
	[RawSubTotalPrice] [decimal](18, 4) NULL,
	[RoundingPrice] [decimal](18, 4) NULL,
	[SubTotalPrice] [decimal](18, 4) NULL,
	[TaxesPrice] [decimal](18, 4) NULL,
	[TotalPrice] [decimal](18, 4) NULL,
	[SonsBasePrice] [decimal](18, 4) NULL,
	[SonsDiscountPrice] [decimal](18, 4) NULL,
	[SonsModifierPrice] [decimal](18, 4) NULL,
	[SonsRawSubTotalPrice] [decimal](18, 4) NULL,
	[SonsRoundingPrice] [decimal](18, 4) NULL,
	[SonsSubTotalPrice] [decimal](18, 4) NULL,
	[SonsTaxesPrice] [decimal](18, 4) NULL,
	[SonsTotalPrice] [decimal](18, 4) NULL,
	[FinanceChargeAmount] [decimal](18, 4) NULL,
	[BalanceDue] [decimal](18, 4) NULL,
	[PaymentTotal] [decimal](18, 4) NULL,
	[WriteOffAmount] [decimal](18, 4) NULL,
	[StatusID] [int] NULL,
	[StatusText] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TaxClassID] [int] NULL,
	[TaxClassOverridden] [bit] NULL,
	[InvoiceAddressID] [int] NULL,
	[InvoiceAddressOverridden] [bit] NULL,
	[InvoiceContactID] [int] NULL,
	[ShippingAddressID] [int] NULL,
	[ShippingAddressOverridden] [bit] NULL,
	[ShippingContactID] [int] NULL,
	[InvoiceAddressLinkID] [int] NULL,
	[ShippingAddressLinkID] [int] NULL,
	[EstimateGreeting] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EstimateGreetingTemplate] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsTaxExempt] [bit] NULL,
	[TaxNumber] [nchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderOriginID] [int] NULL,
	[OrderOriginName] [nchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManuallyReOpened] [bit] NULL,
	[CreditMemoAmount] [float] NULL,
	[CreditMemoOrderID] [int] NULL,
	[NextRefNumber] [int] NULL,
	[PricingLevelID] [int] NULL,
	[PromotionID] [int] NULL,
	[UseTaxLookup] [bit] NULL,
	[TaxItems] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InvoiceNumber] [int] NULL,
	[ServiceTicketNumber] [int] NULL,
	[DivisionID] [int] NULL,
	[DivisionIDOverridden] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
