/****** Object:  Table [dbo].[TempGL2]    Script Date: 5/15/2018 12:06:59 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TempGL2](
	[TransactionID] [int] NULL,
	[GLAmount] [decimal](38, 4) NULL
) ON [PRIMARY]

GO
