/****** Object:  Table [dbo].[JDFTask]    Script Date: 5/15/2018 12:06:48 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[JDFTask](
	[ID] [varbinary](16) NOT NULL,
	[SubmittedDate] [datetime] NOT NULL,
	[TaskType] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TransHeaderID] [int] NOT NULL,
	[TransDetailID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[LinteItemNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_JDFTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Index [IX_JDFTask_TDID]    Script Date: 5/15/2018 12:06:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_JDFTask_TDID] ON [dbo].[JDFTask]
(
	[TransDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/****** Object:  Index [IX_JDFTask_THID]    Script Date: 5/15/2018 12:06:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_JDFTask_THID] ON [dbo].[JDFTask]
(
	[TransHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
