/****** Object:  Table [dbo].[GLPreZero2192010]    Script Date: 5/15/2018 12:06:47 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[GLPreZero2192010](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[EntryDateTime] [datetime] NULL,
	[Amount] [decimal](18, 4) NULL,
	[Classification] [int] NULL,
	[IsTaxable] [bit] NULL,
	[GroupID] [int] NULL,
	[GLAccountID] [int] NULL,
	[GLAccountClassTypeID] [int] NULL,
	[AccountID] [int] NULL,
	[AccountClassTypeID] [int] NULL,
	[TransactionID] [int] NULL,
	[TransactionClassTypeID] [int] NULL,
	[TransDetailID] [int] NULL,
	[TransDetailClassTypeID] [int] NULL,
	[GoodsItemID] [int] NULL,
	[GoodsItemClassTypeID] [int] NULL,
	[Description] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DivisionID] [int] NULL,
	[Notes] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsModified] [bit] NULL,
	[IsUser] [bit] NULL,
	[TaxClassID] [int] NULL,
	[Quantity] [float] NULL,
	[PartID] [int] NULL,
	[PartClassTypeID] [int] NULL,
	[JournalID] [int] NULL,
	[JournalClassTypeID] [int] NULL,
	[Reconciled] [bit] NULL,
	[ReconciliationDateTime] [datetime] NULL,
	[ReconciliationID] [int] NULL,
	[ReconciliationClassTypeID] [int] NULL,
	[ProcessedDivisionID] [int] NULL,
	[GLClassificationType] [int] NULL,
	[GLClassTypeName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TransPartID] [int] NULL,
	[TransPartClassTypeID] [int] NULL,
	[StationID] [int] NULL,
	[PayrollID] [int] NULL,
	[PayrollClassTypeID] [int] NULL,
	[DepositJournalID] [int] NULL,
	[EntryType] [int] NULL,
	[EmployeeID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
