/****** Object:  StoredProcedure [dbo].[zw_delete_PricingTable]    Script Date: 5/15/2018 12:09:20 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_delete_PricingTable ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@RowCount int  = NULL , 
@ColCount int  = NULL , 
@IsSymmetricTable bit  = NULL , 
@RowParam1ID int  = NULL , 
@RowParam1ClassTypeID int  = NULL , 
@RowParam2ID int  = NULL , 
@RowParam2ClassTypeID int  = NULL , 
@ColParamID int  = NULL , 
@ColParamClassTypeID int  = NULL , 
@OnRowNotFound int  = NULL , 
@OnRowOutOfBounds int  = NULL , 
@OnColNotFound int  = NULL , 
@TableElementStr [nvarchar](MAX)   = NULL , 
@PricingTableName varchar(50)  = NULL , 
@CategoryID int  = NULL , 
@CategoryStoreID int  = NULL , 
@CategoryClassTypeID int  = NULL , 
@Row1UnitID int  = NULL , 
@Row2UnitID int  = NULL , 
@ColUnitID int  = NULL , 
@Notes [nvarchar](MAX)   = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [PricingTable] 
	 SET 
		[zw_active] = 0, 
		[sys_du] = getdate() 
	 WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID

GO
