/****** Object:  StoredProcedure [dbo].[zw_upsert_Variable]    Script Date: 5/15/2018 12:09:27 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE [dbo].[zw_upsert_Variable] ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser varchar(25)  = NULL , 
@ModifiedByComputer varchar(25)  = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@VariableName varchar(50)  = NULL , 
@ParentID int  = NULL , 
@ParentStoreID int  = NULL , 
@ParentClassTypeID int  = NULL , 
@VariableType int  = NULL , 
@InputUnitID int  = NULL , 
@OutputUnitID int  = NULL , 
@Notes [nvarchar](MAX)   = NULL , 
@IsRequired bit  = NULL , 
@TextValue varchar(50)  = NULL , 
@NumberValue float  = NULL , 
@UseFormula bit  = NULL , 
@Formula [nvarchar](MAX)   = NULL , 
@MaxValue float  = NULL , 
@MinValue float  = NULL , 
@SelectionListID int  = NULL , 
@SelectionListStoreID int  = NULL , 
@SelectionListClassTypeID int  = NULL , 
@UseSecondaryList bit  = NULL , 
@SecondaryListVariableID int  = NULL , 
@SecondaryListVariableStoreID int  = NULL , 
@SecondaryListVariableClassTypeID int  = NULL , 
@IsLimitedToList bit  = NULL , 
@Part2ConsumptionFormula [nvarchar](MAX)   = NULL , 
@PartConsumptionFormula [nvarchar](MAX)   = NULL , 
@IsModifierVariable bit  = NULL , 
@SaveTransRecord bit  = NULL , 
@SystemListType int  = NULL , 
@UnitType int  = NULL , 
@PricingPlanID int  = NULL , 
@PricingPlanStoreID int  = NULL , 
@PricingPlanClassTypeID int  = NULL , 
@PricingTableID int  = NULL , 
@PricingTableStoreID int  = NULL , 
@PricingTableClassTypeID int  = NULL , 
@PartDescription [nvarchar](MAX)   = NULL , 
@Part2Description [nvarchar](MAX)   = NULL , 
@AltDependentListName varchar(40)  = NULL , 
@UseRequiredFormula bit  = NULL , 
@IsRequiredFormula [nvarchar](MAX)   = NULL , 
@SelectionListFilterName varchar(40)  = NULL , 
@PartConsumptionFormulas [nvarchar](MAX)   = NULL , 
@UseMaxValueFormula bit  = NULL , 
@MaxValueFormula [nvarchar](MAX)   = NULL , 
@UseMinValueFormula bit  = NULL , 
@MinValueFormula [nvarchar](MAX)   = NULL , 
@ImageLinkName varchar(40)  = NULL , 
@ImageSaveType int  = NULL , 
@ResetOnClone bit  = NULL , 
@PartConsumptionUnitIDs [nvarchar](MAX)   = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Variable] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[VariableName] = @VariableName, 
		[ParentID] = @ParentID, 
		[ParentStoreID] = @ParentStoreID, 
		[ParentClassTypeID] = @ParentClassTypeID, 
		[VariableType] = @VariableType, 
		[InputUnitID] = @InputUnitID, 
		[OutputUnitID] = @OutputUnitID, 
		[Notes] = @Notes, 
		[IsRequired] = @IsRequired, 
		[TextValue] = @TextValue, 
		[NumberValue] = @NumberValue, 
		[UseFormula] = @UseFormula, 
		[Formula] = @Formula, 
		[MaxValue] = @MaxValue, 
		[MinValue] = @MinValue, 
		[SelectionListID] = @SelectionListID, 
		[SelectionListStoreID] = @SelectionListStoreID, 
		[SelectionListClassTypeID] = @SelectionListClassTypeID, 
		[UseSecondaryList] = @UseSecondaryList, 
		[SecondaryListVariableID] = @SecondaryListVariableID, 
		[SecondaryListVariableStoreID] = @SecondaryListVariableStoreID, 
		[SecondaryListVariableClassTypeID] = @SecondaryListVariableClassTypeID, 
		[IsLimitedToList] = @IsLimitedToList, 
		[Part2ConsumptionFormula] = @Part2ConsumptionFormula, 
		[PartConsumptionFormula] = @PartConsumptionFormula, 
		[IsModifierVariable] = @IsModifierVariable, 
		[SaveTransRecord] = @SaveTransRecord, 
		[SystemListType] = @SystemListType, 
		[UnitType] = @UnitType, 
		[PricingPlanID] = @PricingPlanID, 
		[PricingPlanStoreID] = @PricingPlanStoreID, 
		[PricingPlanClassTypeID] = @PricingPlanClassTypeID, 
		[PricingTableID] = @PricingTableID, 
		[PricingTableStoreID] = @PricingTableStoreID, 
		[PricingTableClassTypeID] = @PricingTableClassTypeID, 
		[PartDescription] = @PartDescription, 
		[Part2Description] = @Part2Description, 
		[AltDependentListName] = @AltDependentListName, 
		[UseRequiredFormula] = @UseRequiredFormula, 
		[IsRequiredFormula] = @IsRequiredFormula, 
		[SelectionListFilterName] = @SelectionListFilterName, 
		[PartConsumptionFormulas] = @PartConsumptionFormulas, 
		[UseMaxValueFormula] = @UseMaxValueFormula, 
		[MaxValueFormula] = @MaxValueFormula, 
		[UseMinValueFormula] = @UseMinValueFormula, 
		[MinValueFormula] = @MinValueFormula, 
		[ImageLinkName] = @ImageLinkName, 
		[ImageSaveType] = @ImageSaveType, 
		[ResetOnClone] = @ResetOnClone, 
		[PartConsumptionUnitIDs] = @PartConsumptionUnitIDs, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Variable]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [VariableName], [ParentID], [ParentStoreID], [ParentClassTypeID], [VariableType], [InputUnitID], [OutputUnitID], [Notes], [IsRequired], [TextValue], [NumberValue], [UseFormula], [Formula], [MaxValue], [MinValue], [SelectionListID], [SelectionListStoreID], [SelectionListClassTypeID], [UseSecondaryList], [SecondaryListVariableID], [SecondaryListVariableStoreID], [SecondaryListVariableClassTypeID], [IsLimitedToList], [Part2ConsumptionFormula], [PartConsumptionFormula], [IsModifierVariable], [SaveTransRecord], [SystemListType], [UnitType], [PricingPlanID], [PricingPlanStoreID], [PricingPlanClassTypeID], [PricingTableID], [PricingTableStoreID], [PricingTableClassTypeID], [PartDescription], [Part2Description], [AltDependentListName], [UseRequiredFormula], [IsRequiredFormula], [SelectionListFilterName], [PartConsumptionFormulas], [UseMaxValueFormula], [MaxValueFormula], [UseMinValueFormula], [MinValueFormula], [ImageLinkName], [ImageSaveType], [ResetOnClone], [PartConsumptionUnitIDs], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @VariableName, @ParentID, @ParentStoreID, @ParentClassTypeID, @VariableType, @InputUnitID, @OutputUnitID, @Notes, @IsRequired, @TextValue, @NumberValue, @UseFormula, @Formula, @MaxValue, @MinValue, @SelectionListID, @SelectionListStoreID, @SelectionListClassTypeID, @UseSecondaryList, @SecondaryListVariableID, @SecondaryListVariableStoreID, @SecondaryListVariableClassTypeID, @IsLimitedToList, @Part2ConsumptionFormula, @PartConsumptionFormula, @IsModifierVariable, @SaveTransRecord, @SystemListType, @UnitType, @PricingPlanID, @PricingPlanStoreID, @PricingPlanClassTypeID, @PricingTableID, @PricingTableStoreID, @PricingTableClassTypeID, @PartDescription, @Part2Description, @AltDependentListName, @UseRequiredFormula, @IsRequiredFormula, @SelectionListFilterName, @PartConsumptionFormulas, @UseMaxValueFormula, @MaxValueFormula, @UseMinValueFormula, @MinValueFormula, @ImageLinkName, @ImageSaveType, @ResetOnClone, @PartConsumptionUnitIDs, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END 


GO
