/****** Object:  StoredProcedure [dbo].[zw_upsert_Store]    Script Date: 5/15/2018 12:09:26 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_Store ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@CompanyName [nvarchar](60)   = NULL , 
@StoreNumber [nvarchar](25)   = NULL , 
@AddressID int  = NULL , 
@EmailAddress [nvarchar](50)   = NULL , 
@TagLine [nvarchar](75)   = NULL , 
@InvoicePrefix [nvarchar](10)   = NULL , 
@TaxIdentifier [nvarchar](25)   = NULL , 
@DefaultAreaCode [nvarchar](10)   = NULL , 
@DefaultDueTime datetime  = NULL , 
@DepositPercentage [decimal](18,0)  = NULL , 
@OrderMinimum [decimal](18,0)  = NULL , 
@PhoneNumberID int  = NULL , 
@FaxNumberID int  = NULL , 
@LogoID int  = NULL , 
@ManagerID int  = NULL , 
@ScreenTemplateID int  = NULL , 
@WebInputTemplateID int  = NULL , 
@InvoiceTemplateID int  = NULL , 
@EstimateTemplateID int  = NULL , 
@WorkOrderTemplateID int  = NULL , 
@EmployeeWebOutputTemplateID int  = NULL , 
@CustomerWebOutputTemplateID int  = NULL , 
@DefaultTaxClassID int  = NULL , 
@AutoDecLunch bit  = NULL , 
@HoursBeforeLunch int  = NULL , 
@LunchMinutes int  = NULL , 
@MinClockInTime datetime  = NULL , 
@MaxClockOutTime datetime  = NULL , 
@DefaultpaymentTermID int  = NULL , 
@MktgListCode1Name [nvarchar](25)   = NULL , 
@MktgListCode2Name [nvarchar](25)   = NULL , 
@RoundingOption int  = NULL , 
@RoundingDigits int  = NULL , 
@RoyaltyFee1Name [nvarchar](25)   = NULL , 
@RoyaltyFee1 float  = NULL , 
@RoyaltyFee2Name [nvarchar](25)   = NULL , 
@RoyaltyFee2 float  = NULL , 
@DepositMinimum float  = NULL , 
@WebAddress varchar(50)  = NULL , 
@DefaultCountryCode varchar(10)  = NULL , 
@StarShipProductID int  = NULL , 
@StarShipProductStoreID int  = NULL , 
@StarShipProductClassTypeID int  = NULL , 
@EquipmentCostMultiplier [nvarchar](MAX)   = NULL , 
@LaborCostMultiplier [nvarchar](MAX)   = NULL , 
@MaterialCostMultiplier [nvarchar](MAX)   = NULL , 
@OutsourceCostMultiplier [nvarchar](MAX)   = NULL , 
@OtherCostMultiplier [nvarchar](MAX)   = NULL , 
@UseTaxLookup bit  = NULL , 
@InvoiceAsOrderNumber bit  = NULL , 
@QPHomeListID int  = NULL , 
@QPHomeListStoreID int  = NULL , 
@QPTransListID int  = NULL , 
@QPTransListStoreID int  = NULL , 
@QPServiceListID int  = NULL , 
@QPServiceListStoreID int  = NULL , 
@FreightCostMultiplier [nvarchar](MAX)   = NULL , 
@ParamToVarList [nvarchar](MAX)   = NULL , 
@BillingAddressID int  = NULL , 
@ShippingAddressID int  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Store] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[CompanyName] = @CompanyName, 
		[StoreNumber] = @StoreNumber, 
		[AddressID] = @AddressID, 
		[EmailAddress] = @EmailAddress, 
		[TagLine] = @TagLine, 
		[InvoicePrefix] = @InvoicePrefix, 
		[TaxIdentifier] = @TaxIdentifier, 
		[DefaultAreaCode] = @DefaultAreaCode, 
		[DefaultDueTime] = @DefaultDueTime, 
		[DepositPercentage] = @DepositPercentage, 
		[OrderMinimum] = @OrderMinimum, 
		[PhoneNumberID] = @PhoneNumberID, 
		[FaxNumberID] = @FaxNumberID, 
		[LogoID] = @LogoID, 
		[ManagerID] = @ManagerID, 
		[ScreenTemplateID] = @ScreenTemplateID, 
		[WebInputTemplateID] = @WebInputTemplateID, 
		[InvoiceTemplateID] = @InvoiceTemplateID, 
		[EstimateTemplateID] = @EstimateTemplateID, 
		[WorkOrderTemplateID] = @WorkOrderTemplateID, 
		[EmployeeWebOutputTemplateID] = @EmployeeWebOutputTemplateID, 
		[CustomerWebOutputTemplateID] = @CustomerWebOutputTemplateID, 
		[DefaultTaxClassID] = @DefaultTaxClassID, 
		[AutoDecLunch] = @AutoDecLunch, 
		[HoursBeforeLunch] = @HoursBeforeLunch, 
		[LunchMinutes] = @LunchMinutes, 
		[MinClockInTime] = @MinClockInTime, 
		[MaxClockOutTime] = @MaxClockOutTime, 
		[DefaultpaymentTermID] = @DefaultpaymentTermID, 
		[MktgListCode1Name] = @MktgListCode1Name, 
		[MktgListCode2Name] = @MktgListCode2Name, 
		[RoundingOption] = @RoundingOption, 
		[RoundingDigits] = @RoundingDigits, 
		[RoyaltyFee1Name] = @RoyaltyFee1Name, 
		[RoyaltyFee1] = @RoyaltyFee1, 
		[RoyaltyFee2Name] = @RoyaltyFee2Name, 
		[RoyaltyFee2] = @RoyaltyFee2, 
		[DepositMinimum] = @DepositMinimum, 
		[WebAddress] = @WebAddress, 
		[DefaultCountryCode] = @DefaultCountryCode, 
		[StarShipProductID] = @StarShipProductID, 
		[StarShipProductStoreID] = @StarShipProductStoreID, 
		[StarShipProductClassTypeID] = @StarShipProductClassTypeID, 
		[EquipmentCostMultiplier] = @EquipmentCostMultiplier, 
		[LaborCostMultiplier] = @LaborCostMultiplier, 
		[MaterialCostMultiplier] = @MaterialCostMultiplier, 
		[OutsourceCostMultiplier] = @OutsourceCostMultiplier, 
		[OtherCostMultiplier] = @OtherCostMultiplier, 
		[UseTaxLookup] = @UseTaxLookup, 
		[InvoiceAsOrderNumber] = @InvoiceAsOrderNumber, 
		[QPHomeListID] = @QPHomeListID, 
		[QPHomeListStoreID] = @QPHomeListStoreID, 
		[QPTransListID] = @QPTransListID, 
		[QPTransListStoreID] = @QPTransListStoreID, 
		[QPServiceListID] = @QPServiceListID, 
		[QPServiceListStoreID] = @QPServiceListStoreID, 
		[FreightCostMultiplier] = @FreightCostMultiplier, 
		[ParamToVarList] = @ParamToVarList, 
		[BillingAddressID] = @BillingAddressID, 
		[ShippingAddressID] = @ShippingAddressID, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Store]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [CompanyName], [StoreNumber], [AddressID], [EmailAddress], [TagLine], [InvoicePrefix], [TaxIdentifier], [DefaultAreaCode], [DefaultDueTime], [DepositPercentage], [OrderMinimum], [PhoneNumberID], [FaxNumberID], [LogoID], [ManagerID], [ScreenTemplateID], [WebInputTemplateID], [InvoiceTemplateID], [EstimateTemplateID], [WorkOrderTemplateID], [EmployeeWebOutputTemplateID], [CustomerWebOutputTemplateID], [DefaultTaxClassID], [AutoDecLunch], [HoursBeforeLunch], [LunchMinutes], [MinClockInTime], [MaxClockOutTime], [DefaultpaymentTermID], [MktgListCode1Name], [MktgListCode2Name], [RoundingOption], [RoundingDigits], [RoyaltyFee1Name], [RoyaltyFee1], [RoyaltyFee2Name], [RoyaltyFee2], [DepositMinimum], [WebAddress], [DefaultCountryCode], [StarShipProductID], [StarShipProductStoreID], [StarShipProductClassTypeID], [EquipmentCostMultiplier], [LaborCostMultiplier], [MaterialCostMultiplier], [OutsourceCostMultiplier], [OtherCostMultiplier], [UseTaxLookup], [InvoiceAsOrderNumber], [QPHomeListID], [QPHomeListStoreID], [QPTransListID], [QPTransListStoreID], [QPServiceListID], [QPServiceListStoreID], [FreightCostMultiplier], [ParamToVarList], [BillingAddressID], [ShippingAddressID], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @CompanyName, @StoreNumber, @AddressID, @EmailAddress, @TagLine, @InvoicePrefix, @TaxIdentifier, @DefaultAreaCode, @DefaultDueTime, @DepositPercentage, @OrderMinimum, @PhoneNumberID, @FaxNumberID, @LogoID, @ManagerID, @ScreenTemplateID, @WebInputTemplateID, @InvoiceTemplateID, @EstimateTemplateID, @WorkOrderTemplateID, @EmployeeWebOutputTemplateID, @CustomerWebOutputTemplateID, @DefaultTaxClassID, @AutoDecLunch, @HoursBeforeLunch, @LunchMinutes, @MinClockInTime, @MaxClockOutTime, @DefaultpaymentTermID, @MktgListCode1Name, @MktgListCode2Name, @RoundingOption, @RoundingDigits, @RoyaltyFee1Name, @RoyaltyFee1, @RoyaltyFee2Name, @RoyaltyFee2, @DepositMinimum, @WebAddress, @DefaultCountryCode, @StarShipProductID, @StarShipProductStoreID, @StarShipProductClassTypeID, @EquipmentCostMultiplier, @LaborCostMultiplier, @MaterialCostMultiplier, @OutsourceCostMultiplier, @OtherCostMultiplier, @UseTaxLookup, @InvoiceAsOrderNumber, @QPHomeListID, @QPHomeListStoreID, @QPTransListID, @QPTransListStoreID, @QPServiceListID, @QPServiceListStoreID, @FreightCostMultiplier, @ParamToVarList, @BillingAddressID, @ShippingAddressID, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
