/****** Object:  StoredProcedure [dbo].[zw_delete_PhoneNumber]    Script Date: 5/15/2018 12:09:20 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_delete_PhoneNumber ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@ParentID int  = NULL , 
@ParentStoreID int  = NULL , 
@ParentClassTypeID int  = NULL , 
@PhoneNumberTypeID int  = NULL , 
@CountryCode [nvarchar](10)   = NULL , 
@AreaCode [nvarchar](10)   = NULL , 
@PhoneNumber [nvarchar](25)   = NULL , 
@Extension [nvarchar](10)   = NULL , 
@FormattedText [nvarchar](75)   = NULL , 
@PhoneNumberIndex int  = NULL , 
@PhoneNumberTypeText varchar(50)  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [PhoneNumber] 
	 SET 
		[zw_active] = 0, 
		[sys_du] = getdate() 
	 WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID

GO
