/****** Object:  StoredProcedure [dbo].[zw_upsert_CustomerGoodsItem]    Script Date: 5/15/2018 12:09:23 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_CustomerGoodsItem ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@CategoryID int  = NULL , 
@CategoryStoreID int  = NULL , 
@CategoryClassTypeID int  = NULL , 
@ItemName [nvarchar](50)   = NULL , 
@Description [nvarchar](MAX)   = NULL , 
@HelpText [nvarchar](MAX)   = NULL , 
@InternalNotes [nvarchar](MAX)   = NULL , 
@BarCode [nvarchar](50)   = NULL , 
@IsChildByDefault bit  = NULL , 
@EquipmentCostFormula [nvarchar](MAX)   = NULL , 
@LaborCostFormula [nvarchar](MAX)   = NULL , 
@MaterialCostFormula [nvarchar](MAX)   = NULL , 
@ProductionTime int  = NULL , 
@PrintAs [nvarchar](35)   = NULL , 
@Question [nvarchar](50)   = NULL , 
@SortOrder int  = NULL , 
@ImageID int  = NULL , 
@AccountCodeID int  = NULL , 
@DefaultEntryOption int  = NULL , 
@DefaultSelectionListID int  = NULL , 
@IsTaxExempt bit  = NULL , 
@PricingMethodID int  = NULL , 
@DefaultLimitToList bit  = NULL , 
@CustNotes [nvarchar](MAX)   = NULL , 
@DefaultPartConsumptionFx [nvarchar](MAX)   = NULL , 
@DefaultPart2ConsumptionFx [nvarchar](MAX)   = NULL , 
@VarGridParam1ID int  = NULL , 
@VarGridParam2ID int  = NULL , 
@VarGridValues1 [nvarchar](MAX)   = NULL , 
@VarGridValues2 [nvarchar](MAX)   = NULL , 
@IsVarGridEnabled bit  = NULL , 
@SaveTransRecord bit  = NULL , 
@IsChildOnly bit  = NULL , 
@ExcludePromotions bit  = NULL , 
@Flags [nvarchar](MAX)   = NULL , 
@UseCalendar bit  = NULL , 
@UseCalendarForEstimates bit  = NULL , 
@CalendarReqdForOrders bit  = NULL , 
@CalendarReqdForServiceTickets bit  = NULL , 
@CalendarReqdForEstimates bit  = NULL , 
@CalendarRequireTime bit  = NULL , 
@CalendarOffsetDays int  = NULL , 
@UseCalendarTemplate bit  = NULL , 
@CalendarTemplateID int  = NULL , 
@CalendarTemplateStoreID int  = NULL , 
@CalendarTemplateClassTypeID int  = NULL , 
@DefaultStageID int  = NULL , 
@ReCalcTransHeader bit  = NULL , 
@PartConsumptionFormulas [nvarchar](MAX)   = NULL , 
@MaximumSize int  = NULL , 
@InstructorID1 int  = NULL , 
@InstructorID2 int  = NULL , 
@InstructorID3 int  = NULL , 
@StartDate datetime  = NULL , 
@EndDate datetime  = NULL , 
@DefaultCalendarID int  = NULL , 
@DefaultCalendarStoreID int  = NULL , 
@DefaultCalendarClassTypeID int  = NULL , 
@Color int  = NULL , 
@MakeUpType int  = NULL , 
@CanChangeMakeup bit  = NULL , 
@NewEnrollmentOngoing bit  = NULL , 
@ValidPeriodsString [nvarchar](MAX)   = NULL , 
@DefaultStageClassTypeID int  = NULL , 
@PartConsumptionUnitIDs [nvarchar](MAX)   = NULL , 
@FontColor int  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [CustomerGoodsItem] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[CategoryID] = @CategoryID, 
		[CategoryStoreID] = @CategoryStoreID, 
		[CategoryClassTypeID] = @CategoryClassTypeID, 
		[ItemName] = @ItemName, 
		[Description] = @Description, 
		[HelpText] = @HelpText, 
		[InternalNotes] = @InternalNotes, 
		[BarCode] = @BarCode, 
		[IsChildByDefault] = @IsChildByDefault, 
		[EquipmentCostFormula] = @EquipmentCostFormula, 
		[LaborCostFormula] = @LaborCostFormula, 
		[MaterialCostFormula] = @MaterialCostFormula, 
		[ProductionTime] = @ProductionTime, 
		[PrintAs] = @PrintAs, 
		[Question] = @Question, 
		[SortOrder] = @SortOrder, 
		[ImageID] = @ImageID, 
		[AccountCodeID] = @AccountCodeID, 
		[DefaultEntryOption] = @DefaultEntryOption, 
		[DefaultSelectionListID] = @DefaultSelectionListID, 
		[IsTaxExempt] = @IsTaxExempt, 
		[PricingMethodID] = @PricingMethodID, 
		[DefaultLimitToList] = @DefaultLimitToList, 
		[CustNotes] = @CustNotes, 
		[DefaultPartConsumptionFx] = @DefaultPartConsumptionFx, 
		[DefaultPart2ConsumptionFx] = @DefaultPart2ConsumptionFx, 
		[VarGridParam1ID] = @VarGridParam1ID, 
		[VarGridParam2ID] = @VarGridParam2ID, 
		[VarGridValues1] = @VarGridValues1, 
		[VarGridValues2] = @VarGridValues2, 
		[IsVarGridEnabled] = @IsVarGridEnabled, 
		[SaveTransRecord] = @SaveTransRecord, 
		[IsChildOnly] = @IsChildOnly, 
		[ExcludePromotions] = @ExcludePromotions, 
		[Flags] = @Flags, 
		[UseCalendar] = @UseCalendar, 
		[UseCalendarForEstimates] = @UseCalendarForEstimates, 
		[CalendarReqdForOrders] = @CalendarReqdForOrders, 
		[CalendarReqdForServiceTickets] = @CalendarReqdForServiceTickets, 
		[CalendarReqdForEstimates] = @CalendarReqdForEstimates, 
		[CalendarRequireTime] = @CalendarRequireTime, 
		[CalendarOffsetDays] = @CalendarOffsetDays, 
		[UseCalendarTemplate] = @UseCalendarTemplate, 
		[CalendarTemplateID] = @CalendarTemplateID, 
		[CalendarTemplateStoreID] = @CalendarTemplateStoreID, 
		[CalendarTemplateClassTypeID] = @CalendarTemplateClassTypeID, 
		[DefaultStageID] = @DefaultStageID, 
		[ReCalcTransHeader] = @ReCalcTransHeader, 
		[PartConsumptionFormulas] = @PartConsumptionFormulas, 
		[MaximumSize] = @MaximumSize, 
		[InstructorID1] = @InstructorID1, 
		[InstructorID2] = @InstructorID2, 
		[InstructorID3] = @InstructorID3, 
		[StartDate] = @StartDate, 
		[EndDate] = @EndDate, 
		[DefaultCalendarID] = @DefaultCalendarID, 
		[DefaultCalendarStoreID] = @DefaultCalendarStoreID, 
		[DefaultCalendarClassTypeID] = @DefaultCalendarClassTypeID, 
		[Color] = @Color, 
		[MakeUpType] = @MakeUpType, 
		[CanChangeMakeup] = @CanChangeMakeup, 
		[NewEnrollmentOngoing] = @NewEnrollmentOngoing, 
		[ValidPeriodsString] = @ValidPeriodsString, 
		[DefaultStageClassTypeID] = @DefaultStageClassTypeID, 
		[PartConsumptionUnitIDs] = @PartConsumptionUnitIDs, 
		[FontColor] = @FontColor, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [CustomerGoodsItem]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [CategoryID], [CategoryStoreID], [CategoryClassTypeID], [ItemName], [Description], [HelpText], [InternalNotes], [BarCode], [IsChildByDefault], [EquipmentCostFormula], [LaborCostFormula], [MaterialCostFormula], [ProductionTime], [PrintAs], [Question], [SortOrder], [ImageID], [AccountCodeID], [DefaultEntryOption], [DefaultSelectionListID], [IsTaxExempt], [PricingMethodID], [DefaultLimitToList], [CustNotes], [DefaultPartConsumptionFx], [DefaultPart2ConsumptionFx], [VarGridParam1ID], [VarGridParam2ID], [VarGridValues1], [VarGridValues2], [IsVarGridEnabled], [SaveTransRecord], [IsChildOnly], [ExcludePromotions], [Flags], [UseCalendar], [UseCalendarForEstimates], [CalendarReqdForOrders], [CalendarReqdForServiceTickets], [CalendarReqdForEstimates], [CalendarRequireTime], [CalendarOffsetDays], [UseCalendarTemplate], [CalendarTemplateID], [CalendarTemplateStoreID], [CalendarTemplateClassTypeID], [DefaultStageID], [ReCalcTransHeader], [PartConsumptionFormulas], [MaximumSize], [InstructorID1], [InstructorID2], [InstructorID3], [StartDate], [EndDate], [DefaultCalendarID], [DefaultCalendarStoreID], [DefaultCalendarClassTypeID], [Color], [MakeUpType], [CanChangeMakeup], [NewEnrollmentOngoing], [ValidPeriodsString], [DefaultStageClassTypeID], [PartConsumptionUnitIDs], [FontColor], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @CategoryID, @CategoryStoreID, @CategoryClassTypeID, @ItemName, @Description, @HelpText, @InternalNotes, @BarCode, @IsChildByDefault, @EquipmentCostFormula, @LaborCostFormula, @MaterialCostFormula, @ProductionTime, @PrintAs, @Question, @SortOrder, @ImageID, @AccountCodeID, @DefaultEntryOption, @DefaultSelectionListID, @IsTaxExempt, @PricingMethodID, @DefaultLimitToList, @CustNotes, @DefaultPartConsumptionFx, @DefaultPart2ConsumptionFx, @VarGridParam1ID, @VarGridParam2ID, @VarGridValues1, @VarGridValues2, @IsVarGridEnabled, @SaveTransRecord, @IsChildOnly, @ExcludePromotions, @Flags, @UseCalendar, @UseCalendarForEstimates, @CalendarReqdForOrders, @CalendarReqdForServiceTickets, @CalendarReqdForEstimates, @CalendarRequireTime, @CalendarOffsetDays, @UseCalendarTemplate, @CalendarTemplateID, @CalendarTemplateStoreID, @CalendarTemplateClassTypeID, @DefaultStageID, @ReCalcTransHeader, @PartConsumptionFormulas, @MaximumSize, @InstructorID1, @InstructorID2, @InstructorID3, @StartDate, @EndDate, @DefaultCalendarID, @DefaultCalendarStoreID, @DefaultCalendarClassTypeID, @Color, @MakeUpType, @CanChangeMakeup, @NewEnrollmentOngoing, @ValidPeriodsString, @DefaultStageClassTypeID, @PartConsumptionUnitIDs, @FontColor, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
