/****** Object:  StoredProcedure [dbo].[zw_upsert_TransPart]    Script Date: 5/15/2018 12:09:26 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_TransPart ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@TransHeaderID int  = NULL , 
@TransHeaderClassTypeID int  = NULL , 
@ParentID int  = NULL , 
@ParentClassTypeID int  = NULL , 
@PartID int  = NULL , 
@PartClassTypeID int  = NULL , 
@PartCode [nvarchar](25)   = NULL , 
@GoodsItemID int  = NULL , 
@GoodsItemClassTypeID int  = NULL , 
@GoodsItemCode [nvarchar](35)   = NULL , 
@Include bit  = NULL , 
@IncludeCalculated bit  = NULL , 
@IncludeOverridden bit  = NULL , 
@CalculatedValue float  = NULL , 
@EstimatedValue float  = NULL , 
@EstimatedOverridden bit  = NULL , 
@ActualValue float  = NULL , 
@ActualOverridden bit  = NULL , 
@SortOrder int  = NULL , 
@UnitID int  = NULL , 
@UnitsText [nvarchar](25)   = NULL , 
@LineItemNumber [nvarchar](15)   = NULL , 
@InternalNotes [nvarchar](MAX)   = NULL , 
@PartLinkID int  = NULL , 
@PartLinkClassTypeID int  = NULL , 
@IsAutomatic bit  = NULL , 
@ReferenceNumber int  = NULL , 
@CalculatedCost float  = NULL , 
@EstimatedCost float  = NULL , 
@EstimatedCostOverridden bit  = NULL , 
@ActualCost float  = NULL , 
@ActualCostOverridden bit  = NULL , 
@TransDetailID int  = NULL , 
@TransModID int  = NULL , 
@ParameterID int  = NULL , 
@ParameterStoreID int  = NULL , 
@ParameterClassTypeID int  = NULL , 
@CostMultiplier [nvarchar](MAX)   = NULL , 
@CostMultiplierType int  = NULL , 
@TransDetailClassTypeID int  = NULL , 
@TransModClassTypeID int  = NULL , 
@IsPart2 bit  = NULL , 
@FixedCostMultiplier [nvarchar](MAX)   = NULL , 
@Vendor varchar(40)  = NULL , 
@VendorPartNumber varchar(40)  = NULL , 
@ActualPrice float  = NULL , 
@PartIndex float  = NULL , 
@VariableID int  = NULL , 
@VariableStoreID int  = NULL , 
@VariableClassTypeID int  = NULL , 
@EstimatedPrice float  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [TransPart] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[TransHeaderID] = @TransHeaderID, 
		[TransHeaderClassTypeID] = @TransHeaderClassTypeID, 
		[ParentID] = @ParentID, 
		[ParentClassTypeID] = @ParentClassTypeID, 
		[PartID] = @PartID, 
		[PartClassTypeID] = @PartClassTypeID, 
		[PartCode] = @PartCode, 
		[GoodsItemID] = @GoodsItemID, 
		[GoodsItemClassTypeID] = @GoodsItemClassTypeID, 
		[GoodsItemCode] = @GoodsItemCode, 
		[Include] = @Include, 
		[IncludeCalculated] = @IncludeCalculated, 
		[IncludeOverridden] = @IncludeOverridden, 
		[CalculatedValue] = @CalculatedValue, 
		[EstimatedValue] = @EstimatedValue, 
		[EstimatedOverridden] = @EstimatedOverridden, 
		[ActualValue] = @ActualValue, 
		[ActualOverridden] = @ActualOverridden, 
		[SortOrder] = @SortOrder, 
		[UnitID] = @UnitID, 
		[UnitsText] = @UnitsText, 
		[LineItemNumber] = @LineItemNumber, 
		[InternalNotes] = @InternalNotes, 
		[PartLinkID] = @PartLinkID, 
		[PartLinkClassTypeID] = @PartLinkClassTypeID, 
		[IsAutomatic] = @IsAutomatic, 
		[ReferenceNumber] = @ReferenceNumber, 
		[CalculatedCost] = @CalculatedCost, 
		[EstimatedCost] = @EstimatedCost, 
		[EstimatedCostOverridden] = @EstimatedCostOverridden, 
		[ActualCost] = @ActualCost, 
		[ActualCostOverridden] = @ActualCostOverridden, 
		[TransDetailID] = @TransDetailID, 
		[TransModID] = @TransModID, 
		[ParameterID] = @ParameterID, 
		[ParameterStoreID] = @ParameterStoreID, 
		[ParameterClassTypeID] = @ParameterClassTypeID, 
		[CostMultiplier] = @CostMultiplier, 
		[CostMultiplierType] = @CostMultiplierType, 
		[TransDetailClassTypeID] = @TransDetailClassTypeID, 
		[TransModClassTypeID] = @TransModClassTypeID, 
		[IsPart2] = @IsPart2, 
		[FixedCostMultiplier] = @FixedCostMultiplier, 
		[Vendor] = @Vendor, 
		[VendorPartNumber] = @VendorPartNumber, 
		[ActualPrice] = @ActualPrice, 
		[PartIndex] = @PartIndex, 
		[VariableID] = @VariableID, 
		[VariableStoreID] = @VariableStoreID, 
		[VariableClassTypeID] = @VariableClassTypeID, 
		[EstimatedPrice] = @EstimatedPrice, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [TransPart]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [TransHeaderID], [TransHeaderClassTypeID], [ParentID], [ParentClassTypeID], [PartID], [PartClassTypeID], [PartCode], [GoodsItemID], [GoodsItemClassTypeID], [GoodsItemCode], [Include], [IncludeCalculated], [IncludeOverridden], [CalculatedValue], [EstimatedValue], [EstimatedOverridden], [ActualValue], [ActualOverridden], [SortOrder], [UnitID], [UnitsText], [LineItemNumber], [InternalNotes], [PartLinkID], [PartLinkClassTypeID], [IsAutomatic], [ReferenceNumber], [CalculatedCost], [EstimatedCost], [EstimatedCostOverridden], [ActualCost], [ActualCostOverridden], [TransDetailID], [TransModID], [ParameterID], [ParameterStoreID], [ParameterClassTypeID], [CostMultiplier], [CostMultiplierType], [TransDetailClassTypeID], [TransModClassTypeID], [IsPart2], [FixedCostMultiplier], [Vendor], [VendorPartNumber], [ActualPrice], [PartIndex], [VariableID], [VariableStoreID], [VariableClassTypeID], [EstimatedPrice], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @TransHeaderID, @TransHeaderClassTypeID, @ParentID, @ParentClassTypeID, @PartID, @PartClassTypeID, @PartCode, @GoodsItemID, @GoodsItemClassTypeID, @GoodsItemCode, @Include, @IncludeCalculated, @IncludeOverridden, @CalculatedValue, @EstimatedValue, @EstimatedOverridden, @ActualValue, @ActualOverridden, @SortOrder, @UnitID, @UnitsText, @LineItemNumber, @InternalNotes, @PartLinkID, @PartLinkClassTypeID, @IsAutomatic, @ReferenceNumber, @CalculatedCost, @EstimatedCost, @EstimatedCostOverridden, @ActualCost, @ActualCostOverridden, @TransDetailID, @TransModID, @ParameterID, @ParameterStoreID, @ParameterClassTypeID, @CostMultiplier, @CostMultiplierType, @TransDetailClassTypeID, @TransModClassTypeID, @IsPart2, @FixedCostMultiplier, @Vendor, @VendorPartNumber, @ActualPrice, @PartIndex, @VariableID, @VariableStoreID, @VariableClassTypeID, @EstimatedPrice, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
