/****** Object:  StoredProcedure [dbo].[zw_upsert_AccountContact]    Script Date: 5/15/2018 12:09:22 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_AccountContact ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@Notes [nvarchar](MAX)   = NULL , 
@FirstName [nvarchar](25)   = NULL , 
@LastName [nvarchar](25)   = NULL , 
@Title [nvarchar](10)   = NULL , 
@Position [nvarchar](25)   = NULL , 
@EmailAddress [nvarchar](50)   = NULL , 
@MainPhoneNumberID int  = NULL , 
@MainFaxNumberID int  = NULL , 
@AccountID int  = NULL , 
@IsPrimaryContact bit  = NULL , 
@IsAccountingContact bit  = NULL , 
@BillingAddressID int  = NULL , 
@ShippingAddressID int  = NULL , 
@BirthDateMonth int  = NULL , 
@BirthDateDay int  = NULL , 
@DefaultPaymentExpDate datetime  = NULL , 
@DefaultPaymentTrackingNumber [nvarchar](25)   = NULL , 
@DefaultPaymentNameOnCard [nvarchar](25)   = NULL , 
@DefaultPaymentTypeID int  = NULL , 
@CCBillingAddress [nvarchar](50)   = NULL , 
@DefaultPaymentVCode [nvarchar](10)   = NULL , 
@UserID int  = NULL , 
@SalespersonID1 int  = NULL , 
@SalespersonID2 int  = NULL , 
@SalespersonID3 int  = NULL , 
@UseCompanySalespeople bit  = NULL , 
@IsCCNumEncrypt bit  = NULL , 
@DisplayNumber varchar(50)  = NULL , 
@BirthDate datetime  = NULL , 
@IsVCodeEncrypted bit  = NULL , 
@PrimaryNumber varchar(75)  = NULL , 
@PriNumberTypeID int  = NULL , 
@PriNumberTypeText varchar(50)  = NULL , 
@SecondaryNumber varchar(75)  = NULL , 
@SecNumberTypeID int  = NULL , 
@SecNumberTypeText varchar(50)  = NULL , 
@PaymentAddressID int  = NULL , 
@CCSwiped bit  = NULL , 
@SendBillingAddress bit  = NULL , 
@IDNumber varchar(50)  = NULL , 
@ImageID int  = NULL , 
@MiddleName varchar(50)  = NULL , 
@ContactType int  = NULL , 
@GenderType int  = NULL , 
@NumOfMakeups int  = NULL , 
@ThirdNumber varchar(75)  = NULL , 
@ThirdNumberTypeID int  = NULL , 
@ThirdNumberTypeText varchar(50)  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [AccountContact] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[Notes] = @Notes, 
		[FirstName] = @FirstName, 
		[LastName] = @LastName, 
		[Title] = @Title, 
		[Position] = @Position, 
		[EmailAddress] = @EmailAddress, 
		[MainPhoneNumberID] = @MainPhoneNumberID, 
		[MainFaxNumberID] = @MainFaxNumberID, 
		[AccountID] = @AccountID, 
		[IsPrimaryContact] = @IsPrimaryContact, 
		[IsAccountingContact] = @IsAccountingContact, 
		[BillingAddressID] = @BillingAddressID, 
		[ShippingAddressID] = @ShippingAddressID, 
		[BirthDateMonth] = @BirthDateMonth, 
		[BirthDateDay] = @BirthDateDay, 
		[DefaultPaymentExpDate] = @DefaultPaymentExpDate, 
		[DefaultPaymentTrackingNumber] = @DefaultPaymentTrackingNumber, 
		[DefaultPaymentNameOnCard] = @DefaultPaymentNameOnCard, 
		[DefaultPaymentTypeID] = @DefaultPaymentTypeID, 
		[CCBillingAddress] = @CCBillingAddress, 
		[DefaultPaymentVCode] = @DefaultPaymentVCode, 
		[UserID] = @UserID, 
		[SalespersonID1] = @SalespersonID1, 
		[SalespersonID2] = @SalespersonID2, 
		[SalespersonID3] = @SalespersonID3, 
		[UseCompanySalespeople] = @UseCompanySalespeople, 
		[IsCCNumEncrypt] = @IsCCNumEncrypt, 
		[DisplayNumber] = @DisplayNumber, 
		[BirthDate] = @BirthDate, 
		[IsVCodeEncrypted] = @IsVCodeEncrypted, 
		[PrimaryNumber] = @PrimaryNumber, 
		[PriNumberTypeID] = @PriNumberTypeID, 
		[PriNumberTypeText] = @PriNumberTypeText, 
		[SecondaryNumber] = @SecondaryNumber, 
		[SecNumberTypeID] = @SecNumberTypeID, 
		[SecNumberTypeText] = @SecNumberTypeText, 
		[PaymentAddressID] = @PaymentAddressID, 
		[CCSwiped] = @CCSwiped, 
		[SendBillingAddress] = @SendBillingAddress, 
		[IDNumber] = @IDNumber, 
		[ImageID] = @ImageID, 
		[MiddleName] = @MiddleName, 
		[ContactType] = @ContactType, 
		[GenderType] = @GenderType, 
		[NumOfMakeups] = @NumOfMakeups, 
		[ThirdNumber] = @ThirdNumber, 
		[ThirdNumberTypeID] = @ThirdNumberTypeID, 
		[ThirdNumberTypeText] = @ThirdNumberTypeText, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [AccountContact]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [Notes], [FirstName], [LastName], [Title], [Position], [EmailAddress], [MainPhoneNumberID], [MainFaxNumberID], [AccountID], [IsPrimaryContact], [IsAccountingContact], [BillingAddressID], [ShippingAddressID], [BirthDateMonth], [BirthDateDay], [DefaultPaymentExpDate], [DefaultPaymentTrackingNumber], [DefaultPaymentNameOnCard], [DefaultPaymentTypeID], [CCBillingAddress], [DefaultPaymentVCode], [UserID], [SalespersonID1], [SalespersonID2], [SalespersonID3], [UseCompanySalespeople], [IsCCNumEncrypt], [DisplayNumber], [BirthDate], [IsVCodeEncrypted], [PrimaryNumber], [PriNumberTypeID], [PriNumberTypeText], [SecondaryNumber], [SecNumberTypeID], [SecNumberTypeText], [PaymentAddressID], [CCSwiped], [SendBillingAddress], [IDNumber], [ImageID], [MiddleName], [ContactType], [GenderType], [NumOfMakeups], [ThirdNumber], [ThirdNumberTypeID], [ThirdNumberTypeText], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @Notes, @FirstName, @LastName, @Title, @Position, @EmailAddress, @MainPhoneNumberID, @MainFaxNumberID, @AccountID, @IsPrimaryContact, @IsAccountingContact, @BillingAddressID, @ShippingAddressID, @BirthDateMonth, @BirthDateDay, @DefaultPaymentExpDate, @DefaultPaymentTrackingNumber, @DefaultPaymentNameOnCard, @DefaultPaymentTypeID, @CCBillingAddress, @DefaultPaymentVCode, @UserID, @SalespersonID1, @SalespersonID2, @SalespersonID3, @UseCompanySalespeople, @IsCCNumEncrypt, @DisplayNumber, @BirthDate, @IsVCodeEncrypted, @PrimaryNumber, @PriNumberTypeID, @PriNumberTypeText, @SecondaryNumber, @SecNumberTypeID, @SecNumberTypeText, @PaymentAddressID, @CCSwiped, @SendBillingAddress, @IDNumber, @ImageID, @MiddleName, @ContactType, @GenderType, @NumOfMakeups, @ThirdNumber, @ThirdNumberTypeID, @ThirdNumberTypeText, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
