/****** Object:  StoredProcedure [dbo].[zw_upsert_Employee]    Script Date: 5/15/2018 12:09:23 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_Employee ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@Notes [nvarchar](MAX)   = NULL , 
@FirstName [nvarchar](25)   = NULL , 
@LastName [nvarchar](25)   = NULL , 
@Title [nvarchar](10)   = NULL , 
@Position [nvarchar](25)   = NULL , 
@EmailAddress [nvarchar](50)   = NULL , 
@MainPhoneNumberID int  = NULL , 
@MainFaxNumberID int  = NULL , 
@AddressID int  = NULL , 
@Birthdate datetime  = NULL , 
@HireDate datetime  = NULL , 
@TerminationDate datetime  = NULL , 
@Department [nvarchar](50)   = NULL , 
@EmployeeStatus int  = NULL , 
@IsSalesperson bit  = NULL , 
@IsWorkerResource bit  = NULL , 
@ReportsToID int  = NULL , 
@TaxNumber [nvarchar](25)   = NULL , 
@UserID int  = NULL , 
@PricingLevel float  = NULL , 
@DiscountLevel float  = NULL , 
@GroupID int  = NULL , 
@ShowOnTimeClock bit  = NULL , 
@ShowOnActivityManager bit  = NULL , 
@PricingLevelID int  = NULL , 
@CommissionPlanID int  = NULL , 
@ReportTemplateID int  = NULL , 
@ReportTemplateStoreID int  = NULL , 
@MailAddressID int  = NULL , 
@IsTaxNumEncrypt bit  = NULL , 
@SignatureID int  = NULL , 
@PerImageID int  = NULL , 
@QPHomeListID int  = NULL , 
@QPHomeListStoreID int  = NULL , 
@QPTransListID int  = NULL , 
@QPTransListStoreID int  = NULL , 
@QPServiceListID int  = NULL , 
@QPServiceListStoreID int  = NULL , 
@ShowOnLineItems bit  = NULL , 
@PrimaryNumber varchar(75)  = NULL , 
@PriNumberTypeID int  = NULL , 
@PriNumberTypeText varchar(50)  = NULL , 
@SecondaryNumber varchar(75)  = NULL , 
@SecNumberTypeID int  = NULL , 
@SecNumberTypeText varchar(50)  = NULL , 
@IsInstructor bit  = NULL , 
@DefaultHomeScreen int  = NULL , 
@ThirdNumber varchar(75)  = NULL , 
@ThirdNumberTypeID int  = NULL , 
@ThirdNumberTypeText varchar(50)  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Employee] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[Notes] = @Notes, 
		[FirstName] = @FirstName, 
		[LastName] = @LastName, 
		[Title] = @Title, 
		[Position] = @Position, 
		[EmailAddress] = @EmailAddress, 
		[MainPhoneNumberID] = @MainPhoneNumberID, 
		[MainFaxNumberID] = @MainFaxNumberID, 
		[AddressID] = @AddressID, 
		[Birthdate] = @Birthdate, 
		[HireDate] = @HireDate, 
		[TerminationDate] = @TerminationDate, 
		[Department] = @Department, 
		[EmployeeStatus] = @EmployeeStatus, 
		[IsSalesperson] = @IsSalesperson, 
		[IsWorkerResource] = @IsWorkerResource, 
		[ReportsToID] = @ReportsToID, 
		[TaxNumber] = @TaxNumber, 
		[UserID] = @UserID, 
		[PricingLevel] = @PricingLevel, 
		[DiscountLevel] = @DiscountLevel, 
		[GroupID] = @GroupID, 
		[ShowOnTimeClock] = @ShowOnTimeClock, 
		[ShowOnActivityManager] = @ShowOnActivityManager, 
		[PricingLevelID] = @PricingLevelID, 
		[CommissionPlanID] = @CommissionPlanID, 
		[ReportTemplateID] = @ReportTemplateID, 
		[ReportTemplateStoreID] = @ReportTemplateStoreID, 
		[MailAddressID] = @MailAddressID, 
		[IsTaxNumEncrypt] = @IsTaxNumEncrypt, 
		[SignatureID] = @SignatureID, 
		[PerImageID] = @PerImageID, 
		[QPHomeListID] = @QPHomeListID, 
		[QPHomeListStoreID] = @QPHomeListStoreID, 
		[QPTransListID] = @QPTransListID, 
		[QPTransListStoreID] = @QPTransListStoreID, 
		[QPServiceListID] = @QPServiceListID, 
		[QPServiceListStoreID] = @QPServiceListStoreID, 
		[ShowOnLineItems] = @ShowOnLineItems, 
		[PrimaryNumber] = @PrimaryNumber, 
		[PriNumberTypeID] = @PriNumberTypeID, 
		[PriNumberTypeText] = @PriNumberTypeText, 
		[SecondaryNumber] = @SecondaryNumber, 
		[SecNumberTypeID] = @SecNumberTypeID, 
		[SecNumberTypeText] = @SecNumberTypeText, 
		[IsInstructor] = @IsInstructor, 
		[DefaultHomeScreen] = @DefaultHomeScreen, 
		[ThirdNumber] = @ThirdNumber, 
		[ThirdNumberTypeID] = @ThirdNumberTypeID, 
		[ThirdNumberTypeText] = @ThirdNumberTypeText, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Employee]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [Notes], [FirstName], [LastName], [Title], [Position], [EmailAddress], [MainPhoneNumberID], [MainFaxNumberID], [AddressID], [Birthdate], [HireDate], [TerminationDate], [Department], [EmployeeStatus], [IsSalesperson], [IsWorkerResource], [ReportsToID], [TaxNumber], [UserID], [PricingLevel], [DiscountLevel], [GroupID], [ShowOnTimeClock], [ShowOnActivityManager], [PricingLevelID], [CommissionPlanID], [ReportTemplateID], [ReportTemplateStoreID], [MailAddressID], [IsTaxNumEncrypt], [SignatureID], [PerImageID], [QPHomeListID], [QPHomeListStoreID], [QPTransListID], [QPTransListStoreID], [QPServiceListID], [QPServiceListStoreID], [ShowOnLineItems], [PrimaryNumber], [PriNumberTypeID], [PriNumberTypeText], [SecondaryNumber], [SecNumberTypeID], [SecNumberTypeText], [IsInstructor], [DefaultHomeScreen], [ThirdNumber], [ThirdNumberTypeID], [ThirdNumberTypeText], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @Notes, @FirstName, @LastName, @Title, @Position, @EmailAddress, @MainPhoneNumberID, @MainFaxNumberID, @AddressID, @Birthdate, @HireDate, @TerminationDate, @Department, @EmployeeStatus, @IsSalesperson, @IsWorkerResource, @ReportsToID, @TaxNumber, @UserID, @PricingLevel, @DiscountLevel, @GroupID, @ShowOnTimeClock, @ShowOnActivityManager, @PricingLevelID, @CommissionPlanID, @ReportTemplateID, @ReportTemplateStoreID, @MailAddressID, @IsTaxNumEncrypt, @SignatureID, @PerImageID, @QPHomeListID, @QPHomeListStoreID, @QPTransListID, @QPTransListStoreID, @QPServiceListID, @QPServiceListStoreID, @ShowOnLineItems, @PrimaryNumber, @PriNumberTypeID, @PriNumberTypeText, @SecondaryNumber, @SecNumberTypeID, @SecNumberTypeText, @IsInstructor, @DefaultHomeScreen, @ThirdNumber, @ThirdNumberTypeID, @ThirdNumberTypeText, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
