/****** Object:  StoredProcedure [dbo].[zw_upsert_Journal]    Script Date: 5/15/2018 12:09:24 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
CREATE PROCEDURE zw_upsert_Journal ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@ClassTypeID int  = NULL , 
@ModifiedByUser [nvarchar](25)   = NULL , 
@ModifiedByComputer [nvarchar](25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@SeqID int  = NULL , 
@IsSystem bit  = NULL , 
@IsActive bit  = NULL , 
@EmployeeID int  = NULL , 
@JournalActivityType int  = NULL , 
@JournalActivityText [nvarchar](25)   = NULL , 
@Description [nvarchar](50)   = NULL , 
@Notes [nvarchar](MAX)   = NULL , 
@StartDateTime datetime  = NULL , 
@EndDateTime datetime  = NULL , 
@TotalTime datetime  = NULL , 
@ScheduledDateTime datetime  = NULL , 
@CompletedByID int  = NULL , 
@CompletedDateTime datetime  = NULL , 
@IsSummary bit  = NULL , 
@IsDetail bit  = NULL , 
@SummaryID int  = NULL , 
@SummaryClassTypeID int  = NULL , 
@SummaryAmount [decimal](18,4)  = NULL , 
@DetailAmount [decimal](18,4)  = NULL , 
@StartGLGroupID int  = NULL , 
@EndGLGroupID int  = NULL , 
@AccountID int  = NULL , 
@AccountClassTypeID int  = NULL , 
@ContactID int  = NULL , 
@ContactClassTypeID int  = NULL , 
@TransactionID int  = NULL , 
@TransactionClassTypeID int  = NULL , 
@IsVoided bit  = NULL , 
@VoidedDateTime datetime  = NULL , 
@VoidedEntryID int  = NULL , 
@VoidedEntryClassTypeID int  = NULL , 
@VoidedReason [nvarchar](MAX)   = NULL , 
@QueryStartDateTime datetime  = NULL , 
@QueryEndDateTime datetime  = NULL , 
@ReminderDateTime datetime  = NULL , 
@ReminderPrompt bit  = NULL , 
@PartID int  = NULL , 
@ActivityType int  = NULL , 
@ActivityTypeText [nvarchar](50)   = NULL , 
@IsBillable bit  = NULL , 
@BillableDateTime datetime  = NULL , 
@UseActualTime bit  = NULL , 
@BillingNotes [nvarchar](MAX)   = NULL , 
@BillingType int  = NULL , 
@TotalBilledTime float  = NULL , 
@RecurringActivityID int  = NULL , 
@LinkID int  = NULL , 
@LinkStoreID int  = NULL , 
@LinkClassTypeID int  = NULL , 
@SpecialCode varchar(25)  = NULL , 
@DivisionID int  = NULL , 
@HasCalendarLinks bit  = NULL , 
@zw_franchise_id char(7)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Journal] 
	 SET   
		[ModifiedByUser] = @ModifiedByUser, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[SeqID] = @SeqID, 
		[IsSystem] = @IsSystem, 
		[IsActive] = @IsActive, 
		[EmployeeID] = @EmployeeID, 
		[JournalActivityType] = @JournalActivityType, 
		[JournalActivityText] = @JournalActivityText, 
		[Description] = @Description, 
		[Notes] = @Notes, 
		[StartDateTime] = @StartDateTime, 
		[EndDateTime] = @EndDateTime, 
		[TotalTime] = @TotalTime, 
		[ScheduledDateTime] = @ScheduledDateTime, 
		[CompletedByID] = @CompletedByID, 
		[CompletedDateTime] = @CompletedDateTime, 
		[IsSummary] = @IsSummary, 
		[IsDetail] = @IsDetail, 
		[SummaryID] = @SummaryID, 
		[SummaryClassTypeID] = @SummaryClassTypeID, 
		[SummaryAmount] = @SummaryAmount, 
		[DetailAmount] = @DetailAmount, 
		[StartGLGroupID] = @StartGLGroupID, 
		[EndGLGroupID] = @EndGLGroupID, 
		[AccountID] = @AccountID, 
		[AccountClassTypeID] = @AccountClassTypeID, 
		[ContactID] = @ContactID, 
		[ContactClassTypeID] = @ContactClassTypeID, 
		[TransactionID] = @TransactionID, 
		[TransactionClassTypeID] = @TransactionClassTypeID, 
		[IsVoided] = @IsVoided, 
		[VoidedDateTime] = @VoidedDateTime, 
		[VoidedEntryID] = @VoidedEntryID, 
		[VoidedEntryClassTypeID] = @VoidedEntryClassTypeID, 
		[VoidedReason] = @VoidedReason, 
		[QueryStartDateTime] = @QueryStartDateTime, 
		[QueryEndDateTime] = @QueryEndDateTime, 
		[ReminderDateTime] = @ReminderDateTime, 
		[ReminderPrompt] = @ReminderPrompt, 
		[PartID] = @PartID, 
		[ActivityType] = @ActivityType, 
		[ActivityTypeText] = @ActivityTypeText, 
		[IsBillable] = @IsBillable, 
		[BillableDateTime] = @BillableDateTime, 
		[UseActualTime] = @UseActualTime, 
		[BillingNotes] = @BillingNotes, 
		[BillingType] = @BillingType, 
		[TotalBilledTime] = @TotalBilledTime, 
		[RecurringActivityID] = @RecurringActivityID, 
		[LinkID] = @LinkID, 
		[LinkStoreID] = @LinkStoreID, 
		[LinkClassTypeID] = @LinkClassTypeID, 
		[SpecialCode] = @SpecialCode, 
		[DivisionID] = @DivisionID, 
		[HasCalendarLinks] = @HasCalendarLinks, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID
		AND [ClassTypeID] = @ClassTypeID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Journal]( [ID], [StoreID], [ClassTypeID], [ModifiedByUser], [ModifiedByComputer], [ModifiedDate], [SeqID], [IsSystem], [IsActive], [EmployeeID], [JournalActivityType], [JournalActivityText], [Description], [Notes], [StartDateTime], [EndDateTime], [TotalTime], [ScheduledDateTime], [CompletedByID], [CompletedDateTime], [IsSummary], [IsDetail], [SummaryID], [SummaryClassTypeID], [SummaryAmount], [DetailAmount], [StartGLGroupID], [EndGLGroupID], [AccountID], [AccountClassTypeID], [ContactID], [ContactClassTypeID], [TransactionID], [TransactionClassTypeID], [IsVoided], [VoidedDateTime], [VoidedEntryID], [VoidedEntryClassTypeID], [VoidedReason], [QueryStartDateTime], [QueryEndDateTime], [ReminderDateTime], [ReminderPrompt], [PartID], [ActivityType], [ActivityTypeText], [IsBillable], [BillableDateTime], [UseActualTime], [BillingNotes], [BillingType], [TotalBilledTime], [RecurringActivityID], [LinkID], [LinkStoreID], [LinkClassTypeID], [SpecialCode], [DivisionID], [HasCalendarLinks], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @ID, @StoreID, @ClassTypeID, @ModifiedByUser, @ModifiedByComputer, @ModifiedDate, @SeqID, @IsSystem, @IsActive, @EmployeeID, @JournalActivityType, @JournalActivityText, @Description, @Notes, @StartDateTime, @EndDateTime, @TotalTime, @ScheduledDateTime, @CompletedByID, @CompletedDateTime, @IsSummary, @IsDetail, @SummaryID, @SummaryClassTypeID, @SummaryAmount, @DetailAmount, @StartGLGroupID, @EndGLGroupID, @AccountID, @AccountClassTypeID, @ContactID, @ContactClassTypeID, @TransactionID, @TransactionClassTypeID, @IsVoided, @VoidedDateTime, @VoidedEntryID, @VoidedEntryClassTypeID, @VoidedReason, @QueryStartDateTime, @QueryEndDateTime, @ReminderDateTime, @ReminderPrompt, @PartID, @ActivityType, @ActivityTypeText, @IsBillable, @BillableDateTime, @UseActualTime, @BillingNotes, @BillingType, @TotalBilledTime, @RecurringActivityID, @LinkID, @LinkStoreID, @LinkClassTypeID, @SpecialCode, @DivisionID, @HasCalendarLinks, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END

GO
