/****** Object:  Table [dbo].[ANLShadowUser]    Script Date: 5/15/2018 12:05:09 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ANLShadowUser](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) COLLATE Latin1_General_CI_AS_KS_WS NULL
) ON [PRIMARY]

GO
