/****** Object:  Table [dbo].[MSSRegisteredConsumers]    Script Date: 5/15/2018 12:05:19 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSRegisteredConsumers](
	[ConsumerName] [nvarchar](60) COLLATE Latin1_General_CI_AS_KS_WS NOT NULL,
	[ConsumerID] [int] IDENTITY(0,1) NOT NULL,
	[LastUpdate] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsumerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ConsumerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
