/****** Object:  Table [dbo].[MSSBBLock]    Script Date: 5/15/2018 12:05:11 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSBBLock](
	[LockID] [int] NULL
) ON [PRIMARY]

GO
