/****** Object:  Table [dbo].[MSSBBConsumerGpLink]    Script Date: 5/15/2018 12:05:11 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSBBConsumerGpLink](
	[BestBetID] [int] NOT NULL,
	[ConsumerGpId] [nvarchar](50) COLLATE Latin1_General_CI_AS_KS_WS NULL,
 CONSTRAINT [U_BB_ConsumerGp] UNIQUE NONCLUSTERED 
(
	[BestBetID] ASC,
	[ConsumerGpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[MSSBBConsumerGpLink]  WITH NOCHECK ADD  CONSTRAINT [FK_MSSBBConsumerGpLink_SpecialTermID] FOREIGN KEY([BestBetID])
REFERENCES [dbo].[MSSBestBets] ([BestBetID])
ON DELETE CASCADE
ALTER TABLE [dbo].[MSSBBConsumerGpLink] CHECK CONSTRAINT [FK_MSSBBConsumerGpLink_SpecialTermID]
GO
