/****** Object:  Table [dbo].[MSSQLogNextQueryId]    Script Date: 5/15/2018 12:05:16 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSQLogNextQueryId](
	[nextId] [bigint] NOT NULL
) ON [PRIMARY]

GO
