/****** Object:  Table [dbo].[ANLDay]    Script Date: 5/15/2018 12:05:08 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ANLDay](
	[DayId] [int] NOT NULL,
	[FullDate] [datetime] NOT NULL,
	[IsHistorical] [tinyint] NOT NULL,
 CONSTRAINT [PK_ANLDay] PRIMARY KEY CLUSTERED 
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[ANLDay]  WITH CHECK ADD  CONSTRAINT [CK_ANLDay_ValidDayId] CHECK  (([FullDate]=dateadd(day,[DayId],'20000101')))
ALTER TABLE [dbo].[ANLDay] CHECK CONSTRAINT [CK_ANLDay_ValidDayId]
GO
