/****** Object:  Table [dbo].[MSSQLogBestBetSummaryTemp]    Script Date: 5/15/2018 12:05:14 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSQLogBestBetSummaryTemp](
	[searchDate1] [smalldatetime] NULL,
	[siteId1] [int] NULL,
	[bestBetId1] [int] NULL,
	[numClicks1] [int] NULL
) ON [PRIMARY]

GO
