/****** Object:  Table [dbo].[MSSQLogResultsUrlSummaryTemp]    Script Date: 5/15/2018 12:05:18 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSQLogResultsUrlSummaryTemp](
	[searchDate1] [smalldatetime] NULL,
	[siteId1] [int] NULL,
	[queryId1] [int] NULL,
	[resultsUrlId1] [int] NULL,
	[numQueries1] [int] NULL
) ON [PRIMARY]

GO
