/****** Object:  Table [dbo].[MSSQLogClickedUrlSummaryTemp]    Script Date: 5/15/2018 12:05:15 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSQLogClickedUrlSummaryTemp](
	[searchDate1] [smalldatetime] NULL,
	[siteId1] [int] NULL,
	[clickedUrlId1] [int] NULL,
	[numClicks1] [int] NULL
) ON [PRIMARY]

GO
