/****** Object:  Table [dbo].[ANLWeb]    Script Date: 5/15/2018 12:05:09 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ANLWeb](
	[WebGuid] [uniqueidentifier] NOT NULL,
	[WebUrl] [nvarchar](260) COLLATE Latin1_General_CI_AS_KS_WS NOT NULL,
 CONSTRAINT [PK_ANLWeb] PRIMARY KEY CLUSTERED 
(
	[WebGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
