/****** Object:  Table [dbo].[CenterDisplayNames]    Script Date: 5/15/2018 12:09:01 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CenterDisplayNames](
	[WebNumber] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CenterNumber] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOCATION_NM] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
