/****** Object:  Table [Analysis].[FactPressReleases]    Script Date: 5/15/2018 12:02:45 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Analysis].[FactPressReleases](
	[FK_Date] [datetime] NOT NULL,
	[FK_Store] [int] NOT NULL,
	[PressReleases] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Index [IX_FactPressReleases]    Script Date: 5/15/2018 12:02:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_FactPressReleases] ON [Analysis].[FactPressReleases]
(
	[FK_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
/****** Object:  Index [IX_FactPressReleases_1]    Script Date: 5/15/2018 12:02:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_FactPressReleases_1] ON [Analysis].[FactPressReleases]
(
	[FK_Store] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
ALTER TABLE [Analysis].[FactPressReleases]  WITH CHECK ADD  CONSTRAINT [FK_FactPressReleases_DimDate] FOREIGN KEY([FK_Date])
REFERENCES [Analysis].[DimDate] ([PK_Date])
ALTER TABLE [Analysis].[FactPressReleases] CHECK CONSTRAINT [FK_FactPressReleases_DimDate]
ALTER TABLE [Analysis].[FactPressReleases]  WITH CHECK ADD  CONSTRAINT [FK_FactPressReleases_DimStore] FOREIGN KEY([FK_Store])
REFERENCES [Analysis].[DimStore] ([PK_Store])
ALTER TABLE [Analysis].[FactPressReleases] CHECK CONSTRAINT [FK_FactPressReleases_DimStore]
GO
