/****** Object:  Table [Analysis].[FactODZ]    Script Date: 5/15/2018 12:02:45 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Analysis].[FactODZ](
	[FK_Date] [datetime] NOT NULL,
	[FK_Store] [int] NOT NULL,
	[Mailings] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Index [IX_FactODZ]    Script Date: 5/15/2018 12:02:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_FactODZ] ON [Analysis].[FactODZ]
(
	[FK_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/****** Object:  Index [IX_FactODZ_1]    Script Date: 5/15/2018 12:02:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_FactODZ_1] ON [Analysis].[FactODZ]
(
	[FK_Store] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
ALTER TABLE [Analysis].[FactODZ]  WITH CHECK ADD  CONSTRAINT [FK_FactODZ_DimDate] FOREIGN KEY([FK_Date])
REFERENCES [Analysis].[DimDate] ([PK_Date])
ALTER TABLE [Analysis].[FactODZ] CHECK CONSTRAINT [FK_FactODZ_DimDate]
ALTER TABLE [Analysis].[FactODZ]  WITH CHECK ADD  CONSTRAINT [FK_FactODZ_DimStore] FOREIGN KEY([FK_Store])
REFERENCES [Analysis].[DimStore] ([PK_Store])
ALTER TABLE [Analysis].[FactODZ] CHECK CONSTRAINT [FK_FactODZ_DimStore]
GO
