/****** Object:  Table [dbo].[WebnumberMetro]    Script Date: 5/15/2018 12:02:48 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[WebnumberMetro](
	[Webnumber] [int] NOT NULL,
	[MetroID] [int] NULL,
	[LSTID] [int] NULL,
	[IYPID] [int] NULL,
 CONSTRAINT [PK_WebnumberMetro] PRIMARY KEY CLUSTERED 
(
	[Webnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Index [IX_WebnumberMetro]    Script Date: 5/15/2018 12:02:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebnumberMetro] ON [dbo].[WebnumberMetro]
(
	[MetroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/****** Object:  Index [IX_WebnumberMetro_1]    Script Date: 5/15/2018 12:02:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebnumberMetro_1] ON [dbo].[WebnumberMetro]
(
	[LSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/****** Object:  Index [IX_WebnumberMetro_2]    Script Date: 5/15/2018 12:02:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebnumberMetro_2] ON [dbo].[WebnumberMetro]
(
	[IYPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
