/****** Object:  StoredProcedure [dbo].[zw_delete_ProductDatabase]    Script Date: 5/15/2018 12:09:48 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
 
CREATE PROCEDURE zw_delete_ProductDatabase ( 
@ProductID int  = NULL , 
@StoreID int  = NULL , 
@ProductCode varchar(25)   = NULL , 
@ProductCategoryID int  = NULL , 
@AllInstallation bit  = NULL , 
@AVICategoryID int  = NULL , 
@AvoidPaneling bit  = NULL , 
@BackgroundColor varchar(25)   = NULL , 
@BaseUnitCharge float  = NULL , 
@BaseUnitCost float  = NULL , 
@BGColorListID int  = NULL , 
@ChargeForExtraPanels bit  = NULL , 
@ChargeForScrap bit  = NULL , 
@CostFormula varchar(MAX)   = NULL , 
@CostToPriceMargin float  = NULL , 
@DefaultHeight float  = NULL , 
@DefaultProdNotes varchar(MAX)   = NULL , 
@DefaultProductionLocation smallint  = NULL , 
@DefaultSides smallint  = NULL , 
@DefaultWidth float  = NULL , 
@Description varchar(MAX)   = NULL , 
@DetailDescription varchar(MAX)   = NULL , 
@ExtrapolateTable bit  = NULL , 
@FGColorListID int  = NULL , 
@FixedPerPieceCharge float  = NULL , 
@Font varchar(25)   = NULL , 
@FontListID int  = NULL , 
@ForegroundColors varchar(25)   = NULL , 
@HiddenByDefault bit  = NULL , 
@InputUnits smallint  = NULL , 
@InterpolateTable bit  = NULL , 
@Material2Sided bit  = NULL , 
@MaterialDepth float  = NULL , 
@MaterialHeight float  = NULL , 
@MaterialType int  = NULL , 
@MaterialTypeName varchar(10)   = NULL , 
@MaterialWidth float  = NULL , 
@MaxNumberSides smallint  = NULL , 
@MinLineItemPrice float  = NULL , 
@MinNumberSides smallint  = NULL , 
@MinUnitPrice float  = NULL , 
@OEEntryFormatID int  = NULL , 
@PanelChargeAmount float  = NULL , 
@PanelChargeRate float  = NULL , 
@PanelGap float  = NULL , 
@PanelMaterial bit  = NULL , 
@PriceBasedOn varchar(20)   = NULL , 
@PriceFormula varchar(MAX)   = NULL , 
@PriceSheetID int  = NULL , 
@PricingStructure smallint  = NULL , 
@PricingUnits smallint  = NULL , 
@ProductActive bit  = NULL , 
@ProductImageID int  = NULL , 
@ProductionRate float  = NULL , 
@RestrictBGColorToList bit  = NULL , 
@RestrictFGColorToList bit  = NULL , 
@RestrictFontToList bit  = NULL , 
@RotatePieces bit  = NULL , 
@RoundingType int  = NULL , 
@RoundSizeToTable bit  = NULL , 
@ScrapChargeRate float  = NULL , 
@SecondSidePerPieceCharge float  = NULL , 
@SecondSidePremium float  = NULL , 
@SecondSideSetup float  = NULL , 
@SetupCharge float  = NULL , 
@SetupFormula varchar(MAX)   = NULL , 
@ShortDescription varchar(50)   = NULL , 
@StandardDeliveryTime float  = NULL , 
@SymmetricTable bit  = NULL , 
@Taxable bit  = NULL , 
@Thickness varchar(15)   = NULL , 
@TilePieces bit  = NULL , 
@TotalSizeDiscounts bit  = NULL , 
@VolumeCategoryID int  = NULL , 
@xSortMarker bit  = NULL , 
@LimitToTable bit  = NULL , 
@Flags varchar(MAX)   = NULL , 
@RoyaltyGroupID int  = NULL , 
@ModifiedByComputer varchar(25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@zw_franchise_id varchar(10)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Product Database] 
	 SET 
		[zw_active] = 0, 
		[sys_du] = getdate() 
	 WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ProductID] = @ProductID
		AND [StoreID] = @StoreID

GO
