/****** Object:  StoredProcedure [dbo].[zw_upsert_CustomerDatabase]    Script Date: 5/15/2018 12:09:49 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
 
CREATE PROCEDURE zw_upsert_CustomerDatabase ( 
@CustomerID int  = NULL , 
@StoreID int  = NULL , 
@CompanyName varchar(50)   = NULL , 
@Department varchar(30)   = NULL , 
@PrimaryContactID int  = NULL , 
@APContactID int  = NULL , 
@APSameAsPrimary bit  = NULL , 
@SalesPersonID int  = NULL , 
@PricingRatio float  = NULL , 
@BillingAddress1 varchar(30)   = NULL , 
@BillingAddress2 varchar(30)   = NULL , 
@City varchar(20)   = NULL , 
@State varchar(25)   = NULL , 
@Zip varchar(25)   = NULL , 
@County varchar(20)   = NULL , 
@Country varchar(10)   = NULL , 
@CustomerTypeID int  = NULL , 
@IndustryTypeID int  = NULL , 
@OutstandingBalance float  = NULL , 
@ChargeAccount bit  = NULL , 
@CreditLimit float  = NULL , 
@CreditLimitUsed float  = NULL , 
@CreditBalance float  = NULL , 
@TaxExempt bit  = NULL , 
@TaxExemptNumber varchar(20)   = NULL , 
@AlternateStateTax float  = NULL , 
@AlternateCountyTax float  = NULL , 
@CreditCardNumber varchar(30)   = NULL , 
@CreditCardType int  = NULL , 
@CreditCardExp datetime  = NULL , 
@Notes varchar(MAX)   = NULL , 
@Prospect bit  = NULL , 
@CreateDate datetime  = NULL , 
@ImportBatch varchar(12)   = NULL , 
@FirstOrderDate datetime  = NULL , 
@LastOrderDate datetime  = NULL , 
@LastPickedUpDate datetime  = NULL , 
@LastEstimateDate datetime  = NULL , 
@LastStatementDate datetime  = NULL , 
@LastContact1 datetime  = NULL , 
@LastContact2 datetime  = NULL , 
@LastContact3 datetime  = NULL , 
@LastContact4 datetime  = NULL , 
@LastContact5 datetime  = NULL , 
@TaxRegion int  = NULL , 
@ImportDate datetime  = NULL , 
@Flags varchar(MAX)   = NULL , 
@ActiveCustomer bit  = NULL , 
@PaymentTerms int  = NULL , 
@UserField1 varchar(30)   = NULL , 
@UserField2 varchar(30)   = NULL , 
@LastContactDate datetime  = NULL , 
@MarketingFlag6 datetime  = NULL , 
@MarketingFlag7 datetime  = NULL , 
@MarketingFlag8 datetime  = NULL , 
@MarketingFlag9 datetime  = NULL , 
@MarketingFlag10 datetime  = NULL , 
@MarketingFlag11 datetime  = NULL , 
@MarketingFlag12 datetime  = NULL , 
@MarketingFlag13 datetime  = NULL , 
@MarketingFlag14 datetime  = NULL , 
@MarketingFlag15 datetime  = NULL , 
@MktgList1 varchar(MAX)   = NULL , 
@MktgList2 varchar(MAX)   = NULL , 
@ChargeStatusDate datetime  = NULL , 
@PORequired bit  = NULL , 
@MarketingFlag16 datetime  = NULL , 
@MarketingFlag17 datetime  = NULL , 
@MarketingFlag18 datetime  = NULL , 
@MarketingFlag19 datetime  = NULL , 
@MarketingFlag20 datetime  = NULL , 
@MarketingFlag21 datetime  = NULL , 
@MarketingFlag22 datetime  = NULL , 
@MarketingFlag23 datetime  = NULL , 
@MarketingFlag24 datetime  = NULL , 
@MarketingFlag25 datetime  = NULL , 
@URL varchar(50)   = NULL , 
@TaxIDExpDate datetime  = NULL , 
@IsCCEncrypted bit  = NULL , 
@CCNumber varchar(30)   = NULL , 
@VCode varchar(10)   = NULL , 
@CCNameOnCard varchar(50)   = NULL , 
@SendBillingAddress bit  = NULL , 
@SendCompanyAddress bit  = NULL , 
@AltBillingAddress1 varchar(30)   = NULL , 
@AltBillingAddress2 varchar(30)   = NULL , 
@AltBillingCity varchar(20)   = NULL , 
@AltBillingState varchar(25)   = NULL , 
@AltBillingZip varchar(25)   = NULL , 
@AltBillingCounty varchar(20)   = NULL , 
@ModifiedByComputer varchar(25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@zw_franchise_id varchar(10)
)
AS
SET NOCOUNT ON
 
	exec [dbo].[zw_collection_meta_last_collection] @zw_franchise_id, 'Customer Database'
 
	 UPDATE [Customer Database] 
	 SET   
		[CompanyName] = @CompanyName, 
		[Department] = @Department, 
		[PrimaryContactID] = @PrimaryContactID, 
		[APContactID] = @APContactID, 
		[APSameAsPrimary] = @APSameAsPrimary, 
		[SalesPersonID] = @SalesPersonID, 
		[PricingRatio] = @PricingRatio, 
		[BillingAddress1] = @BillingAddress1, 
		[BillingAddress2] = @BillingAddress2, 
		[City] = @City, 
		[State] = @State, 
		[Zip] = @Zip, 
		[County] = @County, 
		[Country] = @Country, 
		[CustomerTypeID] = @CustomerTypeID, 
		[IndustryTypeID] = @IndustryTypeID, 
		[OutstandingBalance] = @OutstandingBalance, 
		[ChargeAccount] = @ChargeAccount, 
		[CreditLimit] = @CreditLimit, 
		[CreditLimitUsed] = @CreditLimitUsed, 
		[CreditBalance] = @CreditBalance, 
		[TaxExempt] = @TaxExempt, 
		[TaxExemptNumber] = @TaxExemptNumber, 
		[AlternateStateTax] = @AlternateStateTax, 
		[AlternateCountyTax] = @AlternateCountyTax, 
		[CreditCardNumber] = @CreditCardNumber, 
		[CreditCardType] = @CreditCardType, 
		[CreditCardExp] = @CreditCardExp, 
		[Notes] = @Notes, 
		[Prospect] = @Prospect, 
		[CreateDate] = @CreateDate, 
		[ImportBatch] = @ImportBatch, 
		[FirstOrderDate] = @FirstOrderDate, 
		[LastOrderDate] = @LastOrderDate, 
		[LastPickedUpDate] = @LastPickedUpDate, 
		[LastEstimateDate] = @LastEstimateDate, 
		[LastStatementDate] = @LastStatementDate, 
		[LastContact1] = @LastContact1, 
		[LastContact2] = @LastContact2, 
		[LastContact3] = @LastContact3, 
		[LastContact4] = @LastContact4, 
		[LastContact5] = @LastContact5, 
		[TaxRegion] = @TaxRegion, 
		[ImportDate] = @ImportDate, 
		[Flags] = @Flags, 
		[ActiveCustomer] = @ActiveCustomer, 
		[PaymentTerms] = @PaymentTerms, 
		[UserField1] = @UserField1, 
		[UserField2] = @UserField2, 
		[LastContactDate] = @LastContactDate, 
		[MarketingFlag6] = @MarketingFlag6, 
		[MarketingFlag7] = @MarketingFlag7, 
		[MarketingFlag8] = @MarketingFlag8, 
		[MarketingFlag9] = @MarketingFlag9, 
		[MarketingFlag10] = @MarketingFlag10, 
		[MarketingFlag11] = @MarketingFlag11, 
		[MarketingFlag12] = @MarketingFlag12, 
		[MarketingFlag13] = @MarketingFlag13, 
		[MarketingFlag14] = @MarketingFlag14, 
		[MarketingFlag15] = @MarketingFlag15, 
		[MktgList1] = @MktgList1, 
		[MktgList2] = @MktgList2, 
		[ChargeStatusDate] = @ChargeStatusDate, 
		[PORequired] = @PORequired, 
		[MarketingFlag16] = @MarketingFlag16, 
		[MarketingFlag17] = @MarketingFlag17, 
		[MarketingFlag18] = @MarketingFlag18, 
		[MarketingFlag19] = @MarketingFlag19, 
		[MarketingFlag20] = @MarketingFlag20, 
		[MarketingFlag21] = @MarketingFlag21, 
		[MarketingFlag22] = @MarketingFlag22, 
		[MarketingFlag23] = @MarketingFlag23, 
		[MarketingFlag24] = @MarketingFlag24, 
		[MarketingFlag25] = @MarketingFlag25, 
		[URL] = @URL, 
		[TaxIDExpDate] = @TaxIDExpDate, 
		[IsCCEncrypted] = @IsCCEncrypted, 
		[CCNumber] = @CCNumber, 
		[VCode] = @VCode, 
		[CCNameOnCard] = @CCNameOnCard, 
		[SendBillingAddress] = @SendBillingAddress, 
		[SendCompanyAddress] = @SendCompanyAddress, 
		[AltBillingAddress1] = @AltBillingAddress1, 
		[AltBillingAddress2] = @AltBillingAddress2, 
		[AltBillingCity] = @AltBillingCity, 
		[AltBillingState] = @AltBillingState, 
		[AltBillingZip] = @AltBillingZip, 
		[AltBillingCounty] = @AltBillingCounty, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [CustomerID] = @CustomerID
		AND [StoreID] = @StoreID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Customer Database]( [CustomerID], [StoreID], [CompanyName], [Department], [PrimaryContactID], [APContactID], [APSameAsPrimary], [SalesPersonID], [PricingRatio], [BillingAddress1], [BillingAddress2], [City], [State], [Zip], [County], [Country], [CustomerTypeID], [IndustryTypeID], [OutstandingBalance], [ChargeAccount], [CreditLimit], [CreditLimitUsed], [CreditBalance], [TaxExempt], [TaxExemptNumber], [AlternateStateTax], [AlternateCountyTax], [CreditCardNumber], [CreditCardType], [CreditCardExp], [Notes], [Prospect], [CreateDate], [ImportBatch], [FirstOrderDate], [LastOrderDate], [LastPickedUpDate], [LastEstimateDate], [LastStatementDate], [LastContact1], [LastContact2], [LastContact3], [LastContact4], [LastContact5], [TaxRegion], [ImportDate], [Flags], [ActiveCustomer], [PaymentTerms], [UserField1], [UserField2], [LastContactDate], [MarketingFlag6], [MarketingFlag7], [MarketingFlag8], [MarketingFlag9], [MarketingFlag10], [MarketingFlag11], [MarketingFlag12], [MarketingFlag13], [MarketingFlag14], [MarketingFlag15], [MktgList1], [MktgList2], [ChargeStatusDate], [PORequired], [MarketingFlag16], [MarketingFlag17], [MarketingFlag18], [MarketingFlag19], [MarketingFlag20], [MarketingFlag21], [MarketingFlag22], [MarketingFlag23], [MarketingFlag24], [MarketingFlag25], [URL], [TaxIDExpDate], [IsCCEncrypted], [CCNumber], [VCode], [CCNameOnCard], [SendBillingAddress], [SendCompanyAddress], [AltBillingAddress1], [AltBillingAddress2], [AltBillingCity], [AltBillingState], [AltBillingZip], [AltBillingCounty], [ModifiedByComputer], [ModifiedDate], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @CustomerID, @StoreID, @CompanyName, @Department, @PrimaryContactID, @APContactID, @APSameAsPrimary, @SalesPersonID, @PricingRatio, @BillingAddress1, @BillingAddress2, @City, @State, @Zip, @County, @Country, @CustomerTypeID, @IndustryTypeID, @OutstandingBalance, @ChargeAccount, @CreditLimit, @CreditLimitUsed, @CreditBalance, @TaxExempt, @TaxExemptNumber, @AlternateStateTax, @AlternateCountyTax, @CreditCardNumber, @CreditCardType, @CreditCardExp, @Notes, @Prospect, @CreateDate, @ImportBatch, @FirstOrderDate, @LastOrderDate, @LastPickedUpDate, @LastEstimateDate, @LastStatementDate, @LastContact1, @LastContact2, @LastContact3, @LastContact4, @LastContact5, @TaxRegion, @ImportDate, @Flags, @ActiveCustomer, @PaymentTerms, @UserField1, @UserField2, @LastContactDate, @MarketingFlag6, @MarketingFlag7, @MarketingFlag8, @MarketingFlag9, @MarketingFlag10, @MarketingFlag11, @MarketingFlag12, @MarketingFlag13, @MarketingFlag14, @MarketingFlag15, @MktgList1, @MktgList2, @ChargeStatusDate, @PORequired, @MarketingFlag16, @MarketingFlag17, @MarketingFlag18, @MarketingFlag19, @MarketingFlag20, @MarketingFlag21, @MarketingFlag22, @MarketingFlag23, @MarketingFlag24, @MarketingFlag25, @URL, @TaxIDExpDate, @IsCCEncrypted, @CCNumber, @VCode, @CCNameOnCard, @SendBillingAddress, @SendCompanyAddress, @AltBillingAddress1, @AltBillingAddress2, @AltBillingCity, @AltBillingState, @AltBillingZip, @AltBillingCounty, @ModifiedByComputer, @ModifiedDate, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END 

GO
