/****** Object:  StoredProcedure [dbo].[zw_delete_IndustryDatabase]    Script Date: 5/15/2018 12:09:47 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
 
CREATE PROCEDURE zw_delete_IndustryDatabase ( 
@IndustryTypeID int  = NULL , 
@StoreID int  = NULL , 
@IndustryType varchar(25)   = NULL , 
@ActiveType bit  = NULL , 
@SICCode varchar(7)   = NULL , 
@ModifiedByComputer varchar(25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@zw_franchise_id varchar(10)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Industry Database] 
	 SET 
		[zw_active] = 0, 
		[sys_du] = getdate() 
	 WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [IndustryTypeID] = @IndustryTypeID
		AND [StoreID] = @StoreID

GO
