/****** Object:  StoredProcedure [dbo].[zw_upsert_OrderDetailsDatabase]    Script Date: 5/15/2018 12:09:49 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
 
CREATE PROCEDURE zw_upsert_OrderDetailsDatabase ( 
@OrderDetailID int  = NULL , 
@StoreID int  = NULL , 
@LineItemNumber int  = NULL , 
@OrderID int  = NULL , 
@ProductID int  = NULL , 
@ProductCode varchar(30)   = NULL , 
@Quantity float  = NULL , 
@Sides float  = NULL , 
@Height float  = NULL , 
@Width float  = NULL , 
@ForegroundColor varchar(100)   = NULL , 
@BackgroundColor varchar(100)   = NULL , 
@Font varchar(100)   = NULL , 
@BasePrice float  = NULL , 
@BasePriceOverriden bit  = NULL , 
@BasePriceCalculated float  = NULL , 
@AVTotal float  = NULL , 
@InstallAmount float  = NULL , 
@DiscountPercentage float  = NULL , 
@DiscountAmount float  = NULL , 
@ItemTotal float  = NULL , 
@UnitPriceOverridden bit  = NULL , 
@OverRidden bit  = NULL , 
@ItemTotalCalculated float  = NULL , 
@Taxable bit  = NULL , 
@AllInstallation bit  = NULL , 
@Description varchar(MAX)   = NULL , 
@SignText varchar(MAX)   = NULL , 
@AVIDS varbinary(100)  = NULL , 
@AVValues varbinary(25)  = NULL , 
@AVAdditionalAmt float  = NULL , 
@AVAdditionalDescription varchar(25)   = NULL , 
@AVOverridden bit  = NULL , 
@AVCalculated float  = NULL , 
@ProductionLocation int  = NULL , 
@ShopTime float  = NULL , 
@FieldTime float  = NULL , 
@FieldCrewSize float  = NULL , 
@MaterialCost float  = NULL , 
@HeightAboveGround float  = NULL , 
@OtherInstallConsideration float  = NULL , 
@SpecialEquipment1 bit  = NULL , 
@SpecialEquipment2 bit  = NULL , 
@SpecialEquipment3 bit  = NULL , 
@SpecialEquipmentOther bit  = NULL , 
@SpecialEquipmentOtherAmou float  = NULL , 
@EstimatedInstallCharge float  = NULL , 
@AccountCode int  = NULL , 
@Hidden bit  = NULL , 
@PMsAnswered bit  = NULL , 
@ParentItemNumber int  = NULL , 
@ChildLevel int  = NULL , 
@BaseCost float  = NULL , 
@ProductionNotes varchar(MAX)   = NULL , 
@HasChildren bit  = NULL , 
@BaseSonsPrice float  = NULL , 
@BaseMeAndSonsPrice float  = NULL , 
@InstallSonsPrice float  = NULL , 
@InstallMeAndSonsPrice float  = NULL , 
@DiscountSonsPrice float  = NULL , 
@DiscountMeAndSonsPrice float  = NULL , 
@ItemTotalSonsPrice float  = NULL , 
@ItemTotalMeAndSonsPrice float  = NULL , 
@ModifierXML varchar(MAX)   = NULL , 
@RoyaltyGroupID int  = NULL , 
@ModifiedByComputer varchar(25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@zw_franchise_id varchar(10)
)
AS
SET NOCOUNT ON
 
	exec [dbo].[zw_collection_meta_last_collection] @zw_franchise_id, 'Order Details Database'
 
	 UPDATE [Order Details Database] 
	 SET   
		[LineItemNumber] = @LineItemNumber, 
		[OrderID] = @OrderID, 
		[ProductID] = @ProductID, 
		[ProductCode] = @ProductCode, 
		[Quantity] = @Quantity, 
		[Sides] = @Sides, 
		[Height] = @Height, 
		[Width] = @Width, 
		[ForegroundColor] = @ForegroundColor, 
		[BackgroundColor] = @BackgroundColor, 
		[Font] = @Font, 
		[BasePrice] = @BasePrice, 
		[BasePriceOverriden] = @BasePriceOverriden, 
		[BasePriceCalculated] = @BasePriceCalculated, 
		[AVTotal] = @AVTotal, 
		[InstallAmount] = @InstallAmount, 
		[DiscountPercentage] = @DiscountPercentage, 
		[DiscountAmount] = @DiscountAmount, 
		[ItemTotal] = @ItemTotal, 
		[UnitPriceOverridden] = @UnitPriceOverridden, 
		[OverRidden] = @OverRidden, 
		[ItemTotalCalculated] = @ItemTotalCalculated, 
		[Taxable] = @Taxable, 
		[AllInstallation] = @AllInstallation, 
		[Description] = @Description, 
		[SignText] = @SignText, 
		[AVIDS] = @AVIDS, 
		[AVValues] = @AVValues, 
		[AVAdditionalAmt] = @AVAdditionalAmt, 
		[AVAdditionalDescription] = @AVAdditionalDescription, 
		[AVOverridden] = @AVOverridden, 
		[AVCalculated] = @AVCalculated, 
		[ProductionLocation] = @ProductionLocation, 
		[ShopTime] = @ShopTime, 
		[FieldTime] = @FieldTime, 
		[FieldCrewSize] = @FieldCrewSize, 
		[MaterialCost] = @MaterialCost, 
		[HeightAboveGround] = @HeightAboveGround, 
		[OtherInstallConsideration] = @OtherInstallConsideration, 
		[SpecialEquipment1] = @SpecialEquipment1, 
		[SpecialEquipment2] = @SpecialEquipment2, 
		[SpecialEquipment3] = @SpecialEquipment3, 
		[SpecialEquipmentOther] = @SpecialEquipmentOther, 
		[SpecialEquipmentOtherAmou] = @SpecialEquipmentOtherAmou, 
		[EstimatedInstallCharge] = @EstimatedInstallCharge, 
		[AccountCode] = @AccountCode, 
		[Hidden] = @Hidden, 
		[PMsAnswered] = @PMsAnswered, 
		[ParentItemNumber] = @ParentItemNumber, 
		[ChildLevel] = @ChildLevel, 
		[BaseCost] = @BaseCost, 
		[ProductionNotes] = @ProductionNotes, 
		[HasChildren] = @HasChildren, 
		[BaseSonsPrice] = @BaseSonsPrice, 
		[BaseMeAndSonsPrice] = @BaseMeAndSonsPrice, 
		[InstallSonsPrice] = @InstallSonsPrice, 
		[InstallMeAndSonsPrice] = @InstallMeAndSonsPrice, 
		[DiscountSonsPrice] = @DiscountSonsPrice, 
		[DiscountMeAndSonsPrice] = @DiscountMeAndSonsPrice, 
		[ItemTotalSonsPrice] = @ItemTotalSonsPrice, 
		[ItemTotalMeAndSonsPrice] = @ItemTotalMeAndSonsPrice, 
		[ModifierXML] = @ModifierXML, 
		[RoyaltyGroupID] = @RoyaltyGroupID, 
		[ModifiedByComputer] = @ModifiedByComputer, 
		[ModifiedDate] = @ModifiedDate, 
		[sys_du] = getdate(), 
		[zw_active] = 1 
		WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [OrderDetailID] = @OrderDetailID
		AND [StoreID] = @StoreID
 
	IF @@ROWCOUNT = 0 
	BEGIN 
		INSERT INTO [Order Details Database]( [OrderDetailID], [StoreID], [LineItemNumber], [OrderID], [ProductID], [ProductCode], [Quantity], [Sides], [Height], [Width], [ForegroundColor], [BackgroundColor], [Font], [BasePrice], [BasePriceOverriden], [BasePriceCalculated], [AVTotal], [InstallAmount], [DiscountPercentage], [DiscountAmount], [ItemTotal], [UnitPriceOverridden], [OverRidden], [ItemTotalCalculated], [Taxable], [AllInstallation], [Description], [SignText], [AVIDS], [AVValues], [AVAdditionalAmt], [AVAdditionalDescription], [AVOverridden], [AVCalculated], [ProductionLocation], [ShopTime], [FieldTime], [FieldCrewSize], [MaterialCost], [HeightAboveGround], [OtherInstallConsideration], [SpecialEquipment1], [SpecialEquipment2], [SpecialEquipment3], [SpecialEquipmentOther], [SpecialEquipmentOtherAmou], [EstimatedInstallCharge], [AccountCode], [Hidden], [PMsAnswered], [ParentItemNumber], [ChildLevel], [BaseCost], [ProductionNotes], [HasChildren], [BaseSonsPrice], [BaseMeAndSonsPrice], [InstallSonsPrice], [InstallMeAndSonsPrice], [DiscountSonsPrice], [DiscountMeAndSonsPrice], [ItemTotalSonsPrice], [ItemTotalMeAndSonsPrice], [ModifierXML], [RoyaltyGroupID], [ModifiedByComputer], [ModifiedDate], [zw_franchise_id], [sys_di], [sys_du], [zw_active] ) 
		VALUES( @OrderDetailID, @StoreID, @LineItemNumber, @OrderID, @ProductID, @ProductCode, @Quantity, @Sides, @Height, @Width, @ForegroundColor, @BackgroundColor, @Font, @BasePrice, @BasePriceOverriden, @BasePriceCalculated, @AVTotal, @InstallAmount, @DiscountPercentage, @DiscountAmount, @ItemTotal, @UnitPriceOverridden, @OverRidden, @ItemTotalCalculated, @Taxable, @AllInstallation, @Description, @SignText, @AVIDS, @AVValues, @AVAdditionalAmt, @AVAdditionalDescription, @AVOverridden, @AVCalculated, @ProductionLocation, @ShopTime, @FieldTime, @FieldCrewSize, @MaterialCost, @HeightAboveGround, @OtherInstallConsideration, @SpecialEquipment1, @SpecialEquipment2, @SpecialEquipment3, @SpecialEquipmentOther, @SpecialEquipmentOtherAmou, @EstimatedInstallCharge, @AccountCode, @Hidden, @PMsAnswered, @ParentItemNumber, @ChildLevel, @BaseCost, @ProductionNotes, @HasChildren, @BaseSonsPrice, @BaseMeAndSonsPrice, @InstallSonsPrice, @InstallMeAndSonsPrice, @DiscountSonsPrice, @DiscountMeAndSonsPrice, @ItemTotalSonsPrice, @ItemTotalMeAndSonsPrice, @ModifierXML, @RoyaltyGroupID, @ModifiedByComputer, @ModifiedDate, @zw_franchise_id, getdate(), getdate(), 1 ) 
	END 

GO
