/****** Object:  StoredProcedure [dbo].[dt_getobjwithprop]    Script Date: 5/15/2018 12:09:42 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
/*
**	Retrieve the owner object(s) of a given property
*/
create procedure dbo.dt_getobjwithprop
	@property varchar(30),
	@value varchar(255)
as
	set nocount on

	if (@property is null) or (@property = '')
	begin
		raiserror('Must specify a property name.',-1,-1)
		return (1)
	end

	if (@value is null)
		select objectid id from dbo.dtproperties
			where property=@property

	else
		select objectid id from dbo.dtproperties
			where property=@property and value=@value

GO
