/****** Object:  StoredProcedure [dbo].[zw_delete_StoreInformationDatabase]    Script Date: 5/15/2018 12:09:48 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
 
 
CREATE PROCEDURE zw_delete_StoreInformationDatabase ( 
@ID int  = NULL , 
@StoreID int  = NULL , 
@CompanyName varchar(50)   = NULL , 
@Address varchar(50)   = NULL , 
@City varchar(25)   = NULL , 
@State varchar(25)   = NULL , 
@Zip varchar(25)   = NULL , 
@County varchar(20)   = NULL , 
@Country varchar(9)   = NULL , 
@Phone varchar(15)   = NULL , 
@Fax varchar(15)   = NULL , 
@EMailAddress varchar(75)   = NULL , 
@DefaultAreaCode varchar(25)   = NULL , 
@DefaultLeadDays smallint  = NULL , 
@DefaultDueTime datetime  = NULL , 
@MPW varchar(40)   = NULL , 
@TaxID varchar(75)   = NULL , 
@ShopLaborRate float  = NULL , 
@FieldLaborRate float  = NULL , 
@MaterialMultiplier float  = NULL , 
@InstallationTaxable bit  = NULL , 
@Equipment1 varchar(12)   = NULL , 
@Equipment2 varchar(12)   = NULL , 
@Equipment3 varchar(12)   = NULL , 
@EquipmentRate1 float  = NULL , 
@EquipmentRate2 float  = NULL , 
@EquipmentRate3 float  = NULL , 
@EquipmentMinimum1 float  = NULL , 
@EquipmentMinimum2 float  = NULL , 
@EquipmentMinimum3 float  = NULL , 
@ProductionLoc1 varchar(12)   = NULL , 
@ProductionLoc2 varchar(12)   = NULL , 
@ProductionLoc3 varchar(12)   = NULL , 
@InstallationEnabled bit  = NULL , 
@AVIEnabled bit  = NULL , 
@ProdLocEnabled bit  = NULL , 
@PrintAVIs bit  = NULL , 
@PrintInstallation bit  = NULL , 
@StateSalesTaxRate float  = NULL , 
@CountySalesTaxRate float  = NULL , 
@StoreType varchar(15)   = NULL , 
@ManagerID int  = NULL , 
@OpenDate datetime  = NULL , 
@Logo image  = NULL , 
@StdTerms varchar(MAX)   = NULL , 
@TagLine varchar(50)   = NULL , 
@EstGreeting bit  = NULL , 
@PrintDepositReqd bit  = NULL , 
@DepositPercentage float  = NULL , 
@EstIntroText varchar(MAX)   = NULL , 
@Statement0to30 varchar(MAX)   = NULL , 
@Statement30to60 varchar(MAX)   = NULL , 
@Statement60to90 varchar(MAX)   = NULL , 
@StatementOver90 varchar(MAX)   = NULL , 
@TrackLunch bit  = NULL , 
@AutoDecLunch bit  = NULL , 
@STDLunchLength smallint  = NULL , 
@OTOverEight bit  = NULL , 
@OTOverTen bit  = NULL , 
@OTOverForty bit  = NULL , 
@ProductLaborRate float  = NULL , 
@ProductMaterialRate float  = NULL , 
@FranchiseFee1 float  = NULL , 
@FranchiseFee2 float  = NULL , 
@FranchiseFee3 float  = NULL , 
@AdvertisingFee1 float  = NULL , 
@AdvertisingFee2 float  = NULL , 
@AdvertisingFee3 float  = NULL , 
@OrdContactDays int  = NULL , 
@EstContactDays int  = NULL , 
@ARContactDays int  = NULL , 
@BuiltContactDays int  = NULL , 
@DaysBetweenContacts int  = NULL , 
@InvoicePrefix varchar(10)   = NULL , 
@SalesTax1Name varchar(20)   = NULL , 
@SalesTax2Name varchar(20)   = NULL , 
@ShippingTaxable bit  = NULL , 
@RoyaltyBasedOn int  = NULL , 
@AuditTrackingOn bit  = NULL , 
@InBeforeTime datetime  = NULL , 
@SalesTaxRegion int  = NULL , 
@MktgFlag1Name varchar(30)   = NULL , 
@MktgFlag2Name varchar(30)   = NULL , 
@MktgFlag3Name varchar(30)   = NULL , 
@MktgFlag4Name varchar(30)   = NULL , 
@MktgFlag5Name varchar(30)   = NULL , 
@CustomField1Name varchar(30)   = NULL , 
@CustomField1PickList varchar(MAX)   = NULL , 
@CustomField1LimitToList bit  = NULL , 
@CustomField2Name varchar(30)   = NULL , 
@CustomField2PickList varchar(MAX)   = NULL , 
@CustomField2LimitToList bit  = NULL , 
@CustomList1Name varchar(30)   = NULL , 
@CustomList2Name varchar(30)   = NULL , 
@DefaultInvoice varchar(40)   = NULL , 
@DefaultEstimate varchar(40)   = NULL , 
@DefaultWorkOrder varchar(40)   = NULL , 
@DefaultStatement varchar(40)   = NULL , 
@DefaultWIP varchar(40)   = NULL , 
@DefaultRoyaltyReport varchar(40)   = NULL , 
@CommissionBasedOn int  = NULL , 
@DefaultReports varchar(MAX)   = NULL , 
@AddressFormat int  = NULL , 
@Projects varchar(MAX)   = NULL , 
@NoInvoices int  = NULL , 
@NoEstimates int  = NULL , 
@Version float  = NULL , 
@OrderMinimum float  = NULL , 
@DefaultProofDays int  = NULL , 
@MktgFlag6Name varchar(30)   = NULL , 
@MktgFlag7Name varchar(30)   = NULL , 
@MktgFlag8Name varchar(30)   = NULL , 
@MktgFlag9Name varchar(30)   = NULL , 
@MktgFlag10Name varchar(30)   = NULL , 
@MktgFlag11Name varchar(30)   = NULL , 
@MktgFlag12Name varchar(30)   = NULL , 
@MktgFlag13Name varchar(30)   = NULL , 
@MktgFlag14Name varchar(30)   = NULL , 
@MktgFlag15Name varchar(30)   = NULL , 
@MinClockInTime datetime  = NULL , 
@MaxClockOutTime datetime  = NULL , 
@RoundUpProducts bit  = NULL , 
@COGSRedMargin float  = NULL , 
@COGSYellowMargin float  = NULL , 
@COGSGreenMargin float  = NULL , 
@EstClosing bit  = NULL , 
@DailyOTHours float  = NULL , 
@WeeklyOTHours float  = NULL , 
@MktgFlag16Name varchar(30)   = NULL , 
@MktgFlag17Name varchar(30)   = NULL , 
@MktgFlag18Name varchar(30)   = NULL , 
@MktgFlag19Name varchar(30)   = NULL , 
@MktgFlag20Name varchar(30)   = NULL , 
@MktgFlag21Name varchar(30)   = NULL , 
@MktgFlag22Name varchar(30)   = NULL , 
@MktgFlag23Name varchar(30)   = NULL , 
@MktgFlag24Name varchar(30)   = NULL , 
@MktgFlag25Name varchar(30)   = NULL , 
@DefaultOrderNotes varchar(MAX)   = NULL , 
@DefaultProductionNotes varchar(MAX)   = NULL , 
@URL varchar(50)   = NULL , 
@EstimateProjects varchar(MAX)   = NULL , 
@ModifiedByComputer varchar(25)   = NULL , 
@ModifiedDate datetime  = NULL , 
@zw_franchise_id varchar(10)
)
AS
SET NOCOUNT ON
 
	 UPDATE [Store Information Database] 
	 SET 
		[zw_active] = 0, 
		[sys_du] = getdate() 
	 WHERE [zw_franchise_id] = @zw_franchise_id 
		AND [ID] = @ID
		AND [StoreID] = @StoreID

GO
