/****** Object:  Table [dbo].[AntiVirusVendors]    Script Date: 5/15/2018 12:06:05 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[AntiVirusVendors](
	[VendorID] [int] NOT NULL,
	[VendorProduct] [nvarchar](256) COLLATE Latin1_General_CI_AS_KS_WS NOT NULL,
	[VendorVersion] [int] NOT NULL,
 CONSTRAINT [AntiVirusVendors_PK] PRIMARY KEY CLUSTERED 
(
	[VendorProduct] ASC,
	[VendorVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AntiVirusVendors_Id] UNIQUE NONCLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
