/****** Object:  Table [dbo].[LastUpdate]    Script Date: 5/15/2018 12:06:07 PM ******/
SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[LastUpdate](
	[Value] [int] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_LastUpdate] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
