/****** Object:  Table [dbo].[PricingPlan]    Script Date: 5/15/2018 11:58:54 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[PricingPlan](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[PricingPlanTypeID] [int] NULL,
	[GoodsItemID] [int] NULL,
	[GoodsItemClassTypeID] [int] NULL,
	[SetUpFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BaseMinimum] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OverallMinimum] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoundingFactor] [decimal](18, 4) NULL,
	[CommissionPlanID] [int] NULL,
	[RoyaltyPlanID] [int] NULL,
	[ScreenTemplateID] [int] NULL,
	[WebInputTemplateID] [int] NULL,
	[InvoiceTemplateID] [int] NULL,
	[EstimateTemplateID] [int] NULL,
	[WorkOrderTemplateID] [int] NULL,
	[EmployeeWebOutputTemplateID] [int] NULL,
	[CustomerWebOutputTemplateID] [int] NULL,
	[QtyDiscountTableID] [int] NULL,
	[OverallDiscountTableID] [int] NULL,
	[PerPieceMinimum] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseCustomPriceMethod] [bit] NULL,
	[UnitPriceParameterID] [int] NULL,
	[UnitPriceParameterClassTypeID] [int] NULL,
	[OverheadFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaterialCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LaborCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EquipmentCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OutsourceCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OtherCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IncludeModifierCost] [bit] NULL,
	[CostMultiplierType] [int] NULL,
	[AccountCodeID] [int] NULL,
	[FamilyID] [int] NULL,
	[FamilyStoreID] [int] NULL,
	[FamilyClassTypeID] [int] NULL,
	[UnitPriceVariableID] [int] NULL,
	[UnitPriceVariableStoreID] [int] NULL,
	[UnitPriceVariableClassTypeID] [int] NULL,
	[PreDiscountFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BuiltInDiscountFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultDiscountFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Notes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FreightFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WarningFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ErrorFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreDiscountType] [int] NULL,
	[EvaluateOnSaveFormulas] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PricingPlan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
