/****** Object:  Table [dbo].[Part]    Script Date: 5/15/2018 11:58:52 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Part](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[CategoryID] [int] NULL,
	[CategoryStoreID] [int] NULL,
	[CategoryClassTypeID] [int] NULL,
	[ItemName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HelpText] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InternalNotes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BarCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SKU] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AssetAccountID] [int] NULL,
	[ExpenseAccountID] [int] NULL,
	[InventoryUnitType] [int] NULL,
	[PartType] [int] NULL,
	[TrackInventory] [bit] NULL,
	[QuantityOnHand] [float] NULL,
	[QuantityReserved] [float] NULL,
	[QuantityAvailable] [float] NULL,
	[QuantityOnOrder] [float] NULL,
	[QuantityExpected] [float] NULL,
	[ReOrderPoint] [float] NULL,
	[ReOrderQuantity] [float] NULL,
	[YellowNotificationPoint] [float] NULL,
	[RedNotificationPoint] [float] NULL,
	[NotificationAddresses] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NotifyOtherContacts] [bit] NULL,
	[UnitID] [int] NULL,
	[RoundingOption] [int] NULL,
	[ScrapFactor] [float] NULL,
	[UnitCost] [float] NULL,
	[TrackCosts] [bit] NULL,
	[UnitCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseFixedCost] [bit] NULL,
	[CostMultiplier] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CostMultiplierType] [int] NULL,
	[FixedCostMultiplier] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShowOnProductionSchedule] [bit] NULL,
	[InstancesAllowedType] [int] NULL,
	[InstancesAllowed] [int] NULL,
	[Vendor] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VendorPartNumber] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoundingFactor] [float] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Part] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
