/****** Object:  Table [dbo].[CustomerGoodsItem]    Script Date: 5/15/2018 11:58:50 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CustomerGoodsItem](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[CategoryID] [int] NULL,
	[CategoryStoreID] [int] NULL,
	[CategoryClassTypeID] [int] NULL,
	[ItemName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HelpText] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InternalNotes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BarCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsChildByDefault] [bit] NULL,
	[EquipmentCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LaborCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaterialCostFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductionTime] [int] NULL,
	[PrintAs] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Question] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SortOrder] [int] NULL,
	[ImageID] [int] NULL,
	[AccountCodeID] [int] NULL,
	[DefaultEntryOption] [int] NULL,
	[DefaultSelectionListID] [int] NULL,
	[IsTaxExempt] [bit] NULL,
	[PricingMethodID] [int] NULL,
	[DefaultLimitToList] [bit] NULL,
	[CustNotes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultPartConsumptionFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultPart2ConsumptionFx] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VarGridParam1ID] [int] NULL,
	[VarGridParam2ID] [int] NULL,
	[VarGridValues1] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VarGridValues2] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsVarGridEnabled] [bit] NULL,
	[SaveTransRecord] [bit] NULL,
	[IsChildOnly] [bit] NULL,
	[ExcludePromotions] [bit] NULL,
	[Flags] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseCalendar] [bit] NULL,
	[UseCalendarForEstimates] [bit] NULL,
	[CalendarReqdForOrders] [bit] NULL,
	[CalendarReqdForServiceTickets] [bit] NULL,
	[CalendarReqdForEstimates] [bit] NULL,
	[CalendarRequireTime] [bit] NULL,
	[CalendarOffsetDays] [int] NULL,
	[UseCalendarTemplate] [bit] NULL,
	[CalendarTemplateID] [int] NULL,
	[CalendarTemplateStoreID] [int] NULL,
	[CalendarTemplateClassTypeID] [int] NULL,
	[DefaultStageID] [int] NULL,
	[ReCalcTransHeader] [bit] NULL,
	[PartConsumptionFormulas] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaximumSize] [int] NULL,
	[InstructorID1] [int] NULL,
	[InstructorID2] [int] NULL,
	[InstructorID3] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[DefaultCalendarID] [int] NULL,
	[DefaultCalendarStoreID] [int] NULL,
	[DefaultCalendarClassTypeID] [int] NULL,
	[Color] [int] NULL,
	[MakeUpType] [int] NULL,
	[CanChangeMakeup] [bit] NULL,
	[NewEnrollmentOngoing] [bit] NULL,
	[ValidPeriodsString] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultStageClassTypeID] [int] NULL,
	[PartConsumptionUnitIDs] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FontColor] [int] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CustomerGoodsItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
