/****** Object:  Table [dbo].[TransDetail]    Script Date: 5/15/2018 11:58:58 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TransDetail](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[TransactionType] [int] NULL,
	[ParentID] [int] NULL,
	[ParentClassTypeID] [int] NULL,
	[TransHeaderID] [int] NULL,
	[TransHeaderClassTypeID] [int] NULL,
	[TransHeaderTransNumber] [int] NULL,
	[GoodsItemID] [int] NULL,
	[GoodsItemClassTypeID] [int] NULL,
	[GoodsItemCode] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingLevel] [float] NULL,
	[PricingLevelOverridden] [bit] NULL,
	[DiscountLevel] [float] NULL,
	[DiscountLevelOverridden] [bit] NULL,
	[Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Quantity] [float] NULL,
	[LineItemIndex] [int] NULL,
	[LineItemNumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HTMLShortFormat] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HTMLLongFormat] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BasePrice] [decimal](18, 4) NULL,
	[BaseCalcPrice] [decimal](18, 4) NULL,
	[BaseOverriddenPrice] [decimal](18, 4) NULL,
	[BaseIsOverridden] [bit] NULL,
	[DiscountPrice] [decimal](18, 4) NULL,
	[DiscountCalcPrice] [decimal](18, 4) NULL,
	[DiscountOverriddenPrice] [decimal](18, 4) NULL,
	[DiscountIsOverridden] [bit] NULL,
	[ModifierPrice] [decimal](18, 4) NULL,
	[ModifierCalcPrice] [decimal](18, 4) NULL,
	[ModifierOverriddenPrice] [decimal](18, 4) NULL,
	[ModifierIsOverridden] [bit] NULL,
	[RawSubTotalPrice] [decimal](18, 4) NULL,
	[RawSubTotalCalcPrice] [decimal](18, 4) NULL,
	[RawSubTotalOverriddenPrice] [decimal](18, 4) NULL,
	[RawSubTotalIsOverridden] [bit] NULL,
	[RoundingPrice] [decimal](18, 4) NULL,
	[RoundingCalcPrice] [decimal](18, 4) NULL,
	[RoundingOverriddenPrice] [decimal](18, 4) NULL,
	[RoundingIsOverridden] [bit] NULL,
	[SubTotalPrice] [decimal](18, 4) NULL,
	[SubTotalCalcPrice] [decimal](18, 4) NULL,
	[SubTotalOverriddenPrice] [decimal](18, 4) NULL,
	[SubTotalIsOverridden] [bit] NULL,
	[TaxesPrice] [decimal](18, 4) NULL,
	[TaxesCalcPrice] [decimal](18, 4) NULL,
	[TaxesOverriddenPrice] [decimal](18, 4) NULL,
	[TaxesIsOverridden] [bit] NULL,
	[TotalPrice] [decimal](18, 4) NULL,
	[TotalCalcPrice] [decimal](18, 4) NULL,
	[TotalOverriddenPrice] [decimal](18, 4) NULL,
	[TotalIsOverridden] [bit] NULL,
	[MeAndSonsBasePrice] [decimal](18, 4) NULL,
	[MeAndSonsDiscountPrice] [decimal](18, 4) NULL,
	[MeAndSonsModifierPrice] [decimal](18, 4) NULL,
	[MeAndSonsRawSubTotalPrice] [decimal](18, 4) NULL,
	[MeAndSonsRoundingPrice] [decimal](18, 4) NULL,
	[MeAndSonsSubTotalPrice] [decimal](18, 4) NULL,
	[MeAndSonsTaxesPrice] [decimal](18, 4) NULL,
	[MeAndSonsTotalPrice] [decimal](18, 4) NULL,
	[InternalNotes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UnitParamName] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UnitParamValue] [float] NULL,
	[VariationID] [int] NULL,
	[ImageParamID] [int] NULL,
	[ImageParamStoreID] [int] NULL,
	[ImageParamClassTypeID] [int] NULL,
	[StageID] [int] NULL,
	[StageStoreID] [int] NULL,
	[StageClassTypeID] [int] NULL,
	[SaleAccountID] [int] NULL,
	[SaleAccountStoreID] [int] NULL,
	[SaleAccountClassTypeID] [int] NULL,
	[SaleAccountOverridden] [bit] NULL,
	[ChildItemCount] [int] NULL,
	[ParameterStr] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifierStr] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PartStr] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VarGridParam1ID] [int] NULL,
	[VarGridParam2ID] [int] NULL,
	[VarGridValues1] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VarGridValues2] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VarGridParam1OV] [bit] NULL,
	[VarGridParam2OV] [bit] NULL,
	[TaxItems] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsComplete] [bit] NULL,
	[AssignedToID] [int] NULL,
	[TicketItemNumber] [int] NULL,
	[ShippingCompanyID] [int] NULL,
	[ShippingCompanyOV] [bit] NULL,
	[ShippingContactID] [int] NULL,
	[ShippingContactOV] [bit] NULL,
	[ShippingAddressID] [int] NULL,
	[ShippingAddressLinkID] [int] NULL,
	[ShippingAddressOV] [bit] NULL,
	[ShippingTaxClassID] [int] NULL,
	[ShippingTaxClassOV] [bit] NULL,
	[TotMaterialCost] [float] NULL,
	[TotLaborCost] [float] NULL,
	[TotEquipmentCost] [float] NULL,
	[TotOutSourceCost] [float] NULL,
	[TotOtherCost] [float] NULL,
	[TotPartCost] [float] NULL,
	[HasWorkAssignment] [bit] NULL,
	[WorkAssignmentID] [int] NULL,
	[WorkAssignmentStoreID] [int] NULL,
	[WorkAssignmentClassTypeID] [int] NULL,
	[TotFreightCost] [float] NULL,
	[PriorityID] [int] NULL,
	[PriorityStoreID] [int] NULL,
	[PriorityClassTypeID] [int] NULL,
	[AssignedToClassTypeID] [int] NULL,
	[ProofApproved] [bit] NULL,
	[ProofApprovedDate] [datetime] NULL,
	[ProofApprovedByID] [int] NULL,
	[PercentComplete] [float] NULL,
	[PercentCompleteOV] [bit] NULL,
	[TermID] [int] NULL,
	[ContractPeriodID] [int] NULL,
	[ContractStartDate] [datetime] NULL,
	[ContractEndDate] [datetime] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TransDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
