/****** Object:  Table [dbo].[TransPart]    Script Date: 5/15/2018 11:58:59 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TransPart](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[TransHeaderID] [int] NULL,
	[TransHeaderClassTypeID] [int] NULL,
	[ParentID] [int] NULL,
	[ParentClassTypeID] [int] NULL,
	[PartID] [int] NULL,
	[PartClassTypeID] [int] NULL,
	[PartCode] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GoodsItemID] [int] NULL,
	[GoodsItemClassTypeID] [int] NULL,
	[GoodsItemCode] [nvarchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Include] [bit] NULL,
	[IncludeCalculated] [bit] NULL,
	[IncludeOverridden] [bit] NULL,
	[CalculatedValue] [float] NULL,
	[EstimatedValue] [float] NULL,
	[EstimatedOverridden] [bit] NULL,
	[ActualValue] [float] NULL,
	[ActualOverridden] [bit] NULL,
	[SortOrder] [int] NULL,
	[UnitID] [int] NULL,
	[UnitsText] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LineItemNumber] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InternalNotes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PartLinkID] [int] NULL,
	[PartLinkClassTypeID] [int] NULL,
	[IsAutomatic] [bit] NULL,
	[ReferenceNumber] [int] NULL,
	[CalculatedCost] [float] NULL,
	[EstimatedCost] [float] NULL,
	[EstimatedCostOverridden] [bit] NULL,
	[ActualCost] [float] NULL,
	[ActualCostOverridden] [bit] NULL,
	[TransDetailID] [int] NULL,
	[TransModID] [int] NULL,
	[ParameterID] [int] NULL,
	[ParameterStoreID] [int] NULL,
	[ParameterClassTypeID] [int] NULL,
	[CostMultiplier] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CostMultiplierType] [int] NULL,
	[TransDetailClassTypeID] [int] NULL,
	[TransModClassTypeID] [int] NULL,
	[IsPart2] [bit] NULL,
	[FixedCostMultiplier] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Vendor] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VendorPartNumber] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ActualPrice] [float] NULL,
	[PartIndex] [float] NULL,
	[VariableID] [int] NULL,
	[VariableStoreID] [int] NULL,
	[VariableClassTypeID] [int] NULL,
	[EstimatedPrice] [float] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TransPart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
