/****** Object:  Table [dbo].[UserFieldDef]    Script Date: 5/15/2018 11:58:59 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[UserFieldDef](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[FieldName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DataType] [int] NULL,
	[AssociatedClassTypeID] [int] NULL,
	[FieldIndex] [int] NULL,
	[AnswerRequired] [bit] NULL,
	[Alignment] [int] NULL,
	[DisplayFormatString] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SortIndex] [int] NULL,
	[UseDropdownBox] [bit] NULL,
	[DropdownValues] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LimitToList] [bit] NULL,
	[CategoryName] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseDefaultColors] [bit] NULL,
	[DescriptionColor] [int] NULL,
	[AnswerColor] [int] NULL,
	[DescriptionFontColor] [int] NULL,
	[AnswerFontColor] [int] NULL,
	[AnswerRequiredOrd] [bit] NULL,
	[AnswerRequiredEst] [bit] NULL,
	[AnswerRequiredTemp] [bit] NULL,
	[AnswerRequiredST] [bit] NULL,
	[ShowOrder] [bit] NULL,
	[ShowEstimate] [bit] NULL,
	[ShowTemplate] [bit] NULL,
	[ShowService] [bit] NULL,
	[ShowClient] [bit] NULL,
	[ShowProspect] [bit] NULL,
	[ClearOnClone] [bit] NULL,
	[ClearOnConvert] [bit] NULL,
	[ShowFullContact] [bit] NULL,
	[ShowLimitedContact] [bit] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_UserFieldDef] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
