/****** Object:  Table [dbo].[Variable]    Script Date: 5/15/2018 11:59:00 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Variable](
	[ID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ClassTypeID] [int] NOT NULL,
	[ModifiedByUser] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedByComputer] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[SeqID] [int] NULL,
	[IsSystem] [bit] NULL,
	[IsActive] [bit] NULL,
	[VariableName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ParentID] [int] NULL,
	[ParentStoreID] [int] NULL,
	[ParentClassTypeID] [int] NULL,
	[VariableType] [int] NULL,
	[InputUnitID] [int] NULL,
	[OutputUnitID] [int] NULL,
	[Notes] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsRequired] [bit] NULL,
	[TextValue] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NumberValue] [float] NULL,
	[UseFormula] [bit] NULL,
	[Formula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaxValue] [float] NULL,
	[MinValue] [float] NULL,
	[SelectionListID] [int] NULL,
	[SelectionListStoreID] [int] NULL,
	[SelectionListClassTypeID] [int] NULL,
	[UseSecondaryList] [bit] NULL,
	[SecondaryListVariableID] [int] NULL,
	[SecondaryListVariableStoreID] [int] NULL,
	[SecondaryListVariableClassTypeID] [int] NULL,
	[IsLimitedToList] [bit] NULL,
	[Part2ConsumptionFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PartConsumptionFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsModifierVariable] [bit] NULL,
	[SaveTransRecord] [bit] NULL,
	[SystemListType] [int] NULL,
	[UnitType] [int] NULL,
	[PricingPlanID] [int] NULL,
	[PricingPlanStoreID] [int] NULL,
	[PricingPlanClassTypeID] [int] NULL,
	[PricingTableID] [int] NULL,
	[PricingTableStoreID] [int] NULL,
	[PricingTableClassTypeID] [int] NULL,
	[PartDescription] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part2Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AltDependentListName] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseRequiredFormula] [bit] NULL,
	[IsRequiredFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SelectionListFilterName] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PartConsumptionFormulas] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseMaxValueFormula] [bit] NULL,
	[MaxValueFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UseMinValueFormula] [bit] NULL,
	[MinValueFormula] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageLinkName] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageSaveType] [int] NULL,
	[ResetOnClone] [bit] NULL,
	[PartConsumptionUnitIDs] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Variable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StoreID] ASC,
	[ClassTypeID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
