/****** Object:  StoredProcedure [internal].[get_decrypted_parameter_values]    Script Date: 5/15/2018 12:13:11 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [internal].[get_decrypted_parameter_values]
        @validation_id bigint,           
        @project_id bigint,              
        @version_id bigint,              
        @package_name nvarchar(260),      
        @reference_id bigint = NULL       
WITH EXECUTE AS 'AllSchemaOwner'
AS
    SET NOCOUNT ON
    DECLARE @result bit
    DECLARE @environment_id bigint
    DECLARE @environment_found bit

    DECLARE @sqlString              nvarchar(1024)
    DECLARE @encryption_algorithm   nvarchar(255)

    DECLARE @env_key_name               [internal].[adt_name]
    DECLARE @env_certificate_name       [internal].[adt_name]
    
    DECLARE @project_key_name               [internal].[adt_name]
    DECLARE @project_certificate_name       [internal].[adt_name]
    
    SET @encryption_algorithm = (SELECT [internal].[get_encryption_algorithm]())
    
    IF @encryption_algorithm IS NULL
    BEGIN
        RAISERROR(27156, 16, 1, 'ENCRYPTION_ALGORITHM') WITH NOWAIT
    END    
    
    
    IF @project_id IS NULL OR @package_name IS NULL OR @validation_id IS NULL
    BEGIN
        RAISERROR(27138, 16 , 1) WITH NOWAIT 
        RETURN 1 
    END

    
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
    
    
    
    DECLARE @tran_count INT = @@TRANCOUNT;
    DECLARE @savepoint_name NCHAR(32);
    IF @tran_count > 0
    BEGIN
        SET @savepoint_name = REPLACE(CONVERT(NCHAR(36), NEWID()), N'-', N'');
        SAVE TRANSACTION @savepoint_name;
    END
    ELSE
        BEGIN TRANSACTION;                                                                                      
    BEGIN TRY
        
        IF NOT EXISTS (SELECT [operation_id] FROM [internal].[operations] 
            WHERE [operation_id] = @validation_id 
            AND ([operation_type] = 300 
                OR [operation_type] = 301)
            AND ([status] = 2 ))
        BEGIN
            RAISERROR(27185, 16, 1, @validation_id) WITH NOWAIT          
        END
        
        
        EXECUTE AS CALLER   
            SET @result =  [internal].[check_permission] 
                (
                    4,
                    @validation_id,
                    1
                 ) 
        REVERT 
        IF @result = 0
        BEGIN
            RAISERROR(27185, 16, 1, @validation_id) WITH NOWAIT
        END
        
        
        EXECUTE AS CALLER   
            SET @result =  [internal].[check_permission] 
                (
                    4,
                    @validation_id,
                    2
                 ) 
        REVERT 
        IF @result = 0
        BEGIN
            RAISERROR(27185, 16, 1, @validation_id) WITH NOWAIT
        END
              
        
        
        EXECUTE AS CALLER   
            SET @result =  [internal].[check_permission] 
                (
                    2,
                    @project_id,
                    3
                 ) 
        REVERT
        
        IF @result = 0
        BEGIN
            RAISERROR(27146, 16, 1) WITH NOWAIT
        END
        
        
        IF EXISTS (SELECT [parameter_name]
            FROM [internal].[object_parameters] 
            WHERE [project_id] = @project_id
                AND [project_version_lsn] = @version_id
                AND ([object_type] = 20 
                OR ([object_name] = @package_name 
                AND [object_type] = 30))
                AND [required] = 1 AND [value_set] = 0) 
        BEGIN
            RAISERROR(27201, 16, 1) WITH NOWAIT
        END
              
        DECLARE @environment_name nvarchar(128)
        DECLARE @environment_folder_name nvarchar(128)
        DECLARE @reference_type char(1)
        
        IF (@reference_id IS NULL)
        BEGIN
            
            IF EXISTS (SELECT [parameter_name]
                FROM [internal].[object_parameters] 
                WHERE [project_id] = @project_id
                    AND [project_version_lsn] = @version_id
                    AND ([object_type] = 20 
                    OR ([object_name] = @package_name 
                    AND [object_type] = 30))
                    AND [value_type] = 'R')
            BEGIN
                RAISERROR(27202, 16, 1) WITH NOWAIT
            END
        END
        
        
        IF(@reference_id IS NOT NULL)
        BEGIN
            
            EXECUTE AS CALLER
                SELECT @environment_name = environment_name,
                       @environment_folder_name = environment_folder_name,
                       @reference_type = reference_type
                FROM [catalog].[environment_references]
                WHERE project_id = @project_id AND reference_id = @reference_id
            REVERT
            IF (@environment_name IS NULL)
            BEGIN
                RAISERROR(27208, 16, 1, @reference_id) WITH NOWAIT
            END                                                     
            
            
            SET @environment_found = 1
            IF (@reference_type = 'A')
            BEGIN
                SELECT @environment_id = envs.[environment_id]
                FROM [internal].[folders] fds INNER JOIN [internal].[environments] envs
                ON fds.[folder_id] = envs.[folder_id]
                WHERE envs.[environment_name] = @environment_name AND fds.[name] = @environment_folder_name
            END
            ELSE IF (@reference_type = 'R')
            BEGIN
                SELECT @environment_id = envs.[environment_id]
                FROM  [internal].[projects] projs INNER JOIN [internal].[environments] envs
                ON projs.[folder_id] = envs.[folder_id]
                WHERE envs.[environment_name] = @environment_name AND projs.[project_id] = @project_id
            END
            IF (@environment_id IS NULL)
            BEGIN
                SET @environment_found = 0
            END
            
            EXECUTE AS CALLER
                SET @result =  [internal].[check_permission]
                    (
                        3,
                        @environment_id,
                        1
                     )
            REVERT
            IF @result = 0
            BEGIN
                SET @environment_found = 0
            END
                    
            IF @environment_found = 0
            BEGIN
                RAISERROR(27182 , 16 , 1, @environment_name) WITH NOWAIT
            END          
            
            
            IF EXISTS 
            (
                SELECT params.[parameter_name]
                FROM [catalog].[object_parameters] params
                WHERE params.[value_type] = 'R'   
                AND params.[project_id] = @project_id
                AND (params.[object_type] = 20
                OR (params.[object_name] = @package_name
                AND params.[object_type] = 30))            
                AND params.[referenced_variable_name] NOT IN 
                (SELECT vars.[name] 
                    FROM [internal].[environments] envs INNER JOIN [internal].[environment_variables] vars
                        ON envs.[environment_id] = vars.[environment_id]
                    WHERE envs.[environment_id] = @environment_id )
                       
            )
            BEGIN
                RAISERROR(27207, 16, 1, @environment_name) WITH NOWAIT
            END              
            
            
            
            IF EXISTS 
            (
                SELECT params.[parameter_name]
                FROM [internal].[environments] envs INNER JOIN [internal].[environment_variables] vars
                ON envs.[environment_id] = vars.[environment_id] INNER JOIN [catalog].[object_parameters] params
                ON vars.[name] = params.[referenced_variable_name] 
                WHERE params.[value_type] = 'R' 
                AND params.[data_type] <> vars.[type] 
                AND params.[project_id] = @project_id
                AND (params.[object_type] = 20
                OR (params.[object_name] = @package_name
                AND params.[object_type] = 30))
                AND envs.[environment_id] = @environment_id         
            )
            BEGIN
                RAISERROR(27148, 16, 1) WITH NOWAIT
            END 
            
            
            IF EXISTS 
            (
                SELECT params.[parameter_name]
                FROM [internal].[environment_variables] vars INNER JOIN [catalog].[object_parameters] params
                ON vars.[name] = params.[referenced_variable_name] 
                WHERE params.[value_type] = 'R' AND params.[data_type] = vars.[type] 
                AND params.[sensitive] =0 AND vars.[sensitive] = 1
                AND params.[project_id] = @project_id
                AND (params.[object_type] = 20
                OR (params.[object_name] = @package_name
                AND params.[object_type] = 30))
                AND vars.[environment_id] = @environment_id          
            )
            BEGIN
                RAISERROR(27221, 16, 1) WITH NOWAIT
            END 
        END
        
        IF @environment_id IS NOT NULL
        BEGIN
            SET @env_key_name = 'MS_Enckey_Env_'+CONVERT(varchar,@environment_id)
            SET @env_certificate_name = 'MS_Cert_Env_'+CONVERT(varchar,@environment_id)
            
            SET @sqlString = 'OPEN SYMMETRIC KEY ' + @env_key_name 
                    + ' DECRYPTION BY CERTIFICATE ' + @env_certificate_name  
                EXECUTE sp_executesql @sqlString        
        END          
        
        
        SET @project_key_name = 'MS_Enckey_Proj_'+CONVERT(varchar,@project_id)
        SET @project_certificate_name = 'MS_Cert_Proj_'+CONVERT(varchar,@project_id)

        SET @sqlString = 'OPEN SYMMETRIC KEY ' + @project_key_name 
                + ' DECRYPTION BY CERTIFICATE ' + @project_certificate_name  
        EXECUTE sp_executesql @sqlString 

        
        
        DECLARE @result_set TABLE
        (
            [object_type] smallint, 
            [parameter_data_type] nvarchar(128),
            [parameter_name] nvarchar(128),
            [parameter_value] sql_variant,
            [sensitive]  bit,
            [required]  bit
        );            
            
        
        INSERT INTO @result_set
        SELECT  [object_type], 
                [parameter_data_type], 
                [parameter_name],
                [default_value], 
                [sensitive], 
                [required] 
        FROM [internal].[object_parameters] 
        WHERE [project_id] = @project_id 
        AND ([object_type] = 20 
        OR ([object_name] = @package_name 
        AND [object_type] = 30))
        AND [sensitive] = 0 
        AND [value_type] = 'V' 
        AND [project_version_lsn] = @version_id
        AND [value_set] = 1
        
        INSERT INTO @result_set
        SELECT  [object_type], 
                [parameter_data_type], 
                [parameter_name],
                [internal].[get_value_by_data_type](DECRYPTBYKEY(sensitive_default_value),[parameter_data_type]), 
                [sensitive], 
                [required]
        FROM [internal].[object_parameters] 
        WHERE [project_id] = @project_id 
        AND ([object_type] = 20 
        OR ([object_name] = @package_name 
        AND [object_type] = 30))
        AND sensitive = 1
        AND [value_set] = 1
        AND [value_type] = 'V' 
        AND [project_version_lsn] = @version_id   
        
        
        IF @environment_id IS NOT NULL
        BEGIN
            INSERT INTO @result_set
            SELECT  params.[object_type], 
                    params.[parameter_data_type], 
                    params.[parameter_name],
                    vars.[value], 
                    params.[sensitive], 
                    params.[required]           
            FROM [internal].[object_parameters] params 
            INNER JOIN [internal].[environment_variables] vars
                ON params.[referenced_variable_name] = vars.[name] 
            WHERE params.[project_id] = @project_id 
            AND (params.[object_type] = 20
            OR (params.[object_name] = @package_name 
            AND params.[object_type] = 30))
            AND vars.[sensitive] = 0 
            AND params.[value_type] = 'R' 
            AND params.[project_version_lsn] = @version_id
            AND vars.[environment_id] = @environment_id
            AND params.[value_set] = 1
            
            INSERT INTO @result_set
            SELECT  params.[object_type], 
                    params.[parameter_data_type], 
                    params.[parameter_name],
                    [internal].[get_value_by_data_type](DECRYPTBYKEY(vars.[sensitive_value]), vars.[type]), 
                    params.[sensitive], 
                    params.[required]           
            FROM [internal].[object_parameters] params 
            INNER JOIN [internal].[environment_variables] vars
                ON params.[referenced_variable_name] = vars.[name] 
            WHERE params.[project_id] = @project_id 
            AND (params.[object_type] = 20
            OR (params.[object_name] = @package_name 
            AND params.[object_type] = 30))
            AND vars.[sensitive] = 1 
            AND params.[value_type] = 'R' 
            AND params.[project_version_lsn] = @version_id
            AND vars.[environment_id] = @environment_id
            AND params.[value_set] = 1            
                           
        END        
        
        SELECT [object_type], 
            [parameter_data_type],
            [parameter_name],
            [parameter_value],
            [sensitive],
            [required]
        FROM @result_set             
        
        IF (@env_key_name <> '')
        BEGIN
            SET @sqlString = 'IF EXISTS (SELECT key_name FROM sys.openkeys WHERE key_name = ''' + @env_key_name +''') ' 
                  + 'CLOSE SYMMETRIC KEY '+ @env_key_name
            EXECUTE sp_executesql @sqlString
        END
        
        IF (@project_key_name <> '')
        BEGIN
            SET @sqlString = 'IF EXISTS (SELECT key_name FROM sys.openkeys WHERE key_name = ''' + @project_key_name +''') ' 
                  + 'CLOSE SYMMETRIC KEY '+ @project_key_name
            EXECUTE sp_executesql @sqlString
        END;
                
        
        IF @tran_count = 0
            COMMIT TRANSACTION;                                                                                 
    END TRY
    
    BEGIN CATCH
        
        IF @tran_count = 0 
            ROLLBACK TRANSACTION;
        
        ELSE IF XACT_STATE() <> -1
            ROLLBACK TRANSACTION @savepoint_name;                                                                           
        IF (@env_key_name <> '')
        BEGIN
            SET @sqlString = 'IF EXISTS (SELECT key_name FROM sys.openkeys WHERE key_name = ''' + @env_key_name +''') ' 
                  + 'CLOSE SYMMETRIC KEY '+ @env_key_name
            EXECUTE sp_executesql @sqlString
        END;
        
        IF (@project_key_name <> '')
        BEGIN
            SET @sqlString = 'IF EXISTS (SELECT key_name FROM sys.openkeys WHERE key_name = ''' + @project_key_name +''') ' 
                  + 'CLOSE SYMMETRIC KEY '+ @project_key_name
            EXECUTE sp_executesql @sqlString
        END;
        
        THROW;
    END CATCH
    
    RETURN 0    
            

GO
