/****** Object:  Table [FII].[delivery_method]    Script Date: 5/15/2018 12:04:34 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [FII].[delivery_method](
	[method_id] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[method] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
