/****** Object:  Table [FII].[Calendar]    Script Date: 5/15/2018 12:04:34 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [FII].[Calendar](
	[dt] [date] NOT NULL,
	[IsWorkDay] [bit] NULL
) ON [PRIMARY]

GO
