/****** Object:  Table [dbo].[EventBatches]    Script Date: 5/15/2018 12:05:51 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[EventBatches](
	[EventTime] [datetime] NOT NULL,
	[Id] [bigint] NOT NULL
) ON [PRIMARY]

GO
