/****** Object:  Table [dbo].[DiskWarningDate]    Script Date: 5/15/2018 12:05:51 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[DiskWarningDate](
	[lastDiskWarningDate] [datetime] NOT NULL
) ON [PRIMARY]

GO
