/****** Object:  View [dbo].[vwStoreLinkWeb]    Script Date: 5/15/2018 12:13:58 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
/* same query as used by Gina for the GM Store LInk web Master with Minority report spreadsheet  - efw 
ORDER BY CAST(ISNULL(CONTACT1.KEY1,'0') AS INT),IsNull(CONTSUPP.CONTSUPREF,'')+IsNull(CONTSUPP.ADDRESS1,'')*/
CREATE VIEW [dbo].[vwStoreLinkWeb]
AS
SELECT DISTINCT 
                      dbo.CONTACT1.ACCOUNTNO, CAST(ISNULL(dbo.CONTACT1.KEY1, '0') AS INT) AS KEY1, ISNULL(dbo.CONTSUPP.CONTSUPREF, '') 
                      + ISNULL(dbo.CONTSUPP.ADDRESS1, '') AS EMAIL, dbo.CONTACT1.KEY2, dbo.CONTACT1.KEY3, dbo.CONTACT1.KEY4, dbo.CONTACT1.KEY5, 
                      dbo.CONTACT1.CONTACT, dbo.CONTACT2.UWEBNUMBER, dbo.CONTACT2.UREGION, dbo.CONTACT1.ADDRESS1, dbo.CONTACT1.ADDRESS2, 
                      dbo.CONTACT1.CITY, dbo.CONTACT1.STATE, dbo.CONTACT1.ZIP, dbo.CONTACT1.COUNTRY, dbo.CONTACT1.PHONE1, dbo.CONTACT1.FAX, 
                      dbo.CONTACT2.UEMC, dbo.CONTACT2.USTOREOPD, dbo.CONTACT2.URESALEOPD
FROM         dbo.CONTACT1 INNER JOIN
                      dbo.CONTACT2 ON dbo.CONTACT1.ACCOUNTNO = dbo.CONTACT2.ACCOUNTNO LEFT OUTER JOIN
                      dbo.CONTSUPP ON dbo.CONTACT1.ACCOUNTNO = dbo.CONTSUPP.ACCOUNTNO AND dbo.CONTSUPP.RECTYPE = 'P' AND 
                      dbo.CONTSUPP.CONTACT = 'E-mail Address' AND SUBSTRING(dbo.CONTSUPP.ZIP, 2, 1) = '1'
WHERE     (ISNUMERIC(dbo.CONTACT1.KEY1) = 1) AND (LEFT(dbo.CONTACT1.KEY4, 6) <> 'CLOSED') AND (UPPER(dbo.CONTACT2.USTORETYPE) 
                      NOT IN ('MASTER', 'CLOSED')) AND (UPPER(dbo.CONTACT2.USTORETYPE) NOT IN ('MASTER', 'SPECIAL')) AND (UPPER(dbo.CONTACT2.USTORETYPE) 
                      NOT IN ('MASTER', 'PRODUCTION')) AND (dbo.CONTACT2.USTOREOPD IS NOT NULL)



GO
