/****** Object:  View [dbo].[HT_Email]    Script Date: 5/15/2018 12:13:57 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF
CREATE VIEW [dbo].[HT_Email]
AS
SELECT dbo.CONTACT1.ACCOUNTNO, dbo.CONTACT1.CONTACT, 
    dbo.CONTSUPP.CONTSUPREF, dbo.CONTSUPP.RECTYPE, 
    dbo.CONTSUPP.CONTACT AS Expr1, 
    dbo.CONTACT1.KEY1
FROM dbo.CONTACT1 INNER JOIN
    dbo.CONTSUPP ON 
    dbo.CONTACT1.ACCOUNTNO = dbo.CONTSUPP.ACCOUNTNO
WHERE (dbo.CONTSUPP.CONTACT = 'E-mail Address')



GO
