/****** Object:  View [dbo].[MA_Contact2_Data]    Script Date: 5/15/2018 12:13:57 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dbo].[MA_Contact2_Data]
AS
SELECT     dbo.CONTACT1.ACCOUNTNO, dbo.CONTACT2.UREGION, dbo.CONTACT2.USTOREOPD, dbo.CONTACT2.UFIN_STMTS, dbo.CONTACT2.UROM, 
                      dbo.CONTSUPP.NOTES, dbo.CONTACT2.UMKTGCATLG, dbo.CONTACT2.UMKTGCNTRY, dbo.CONTACT2.UZIP01, dbo.CONTACT2.UZIP02, 
                      dbo.CONTACT2.UZIP03, dbo.CONTACT2.UZIP04, dbo.CONTACT2.UZIP05, dbo.CONTACT2.UZIP06, dbo.CONTACT2.UZIP07, dbo.CONTACT2.UZIP08, 
                      dbo.CONTACT2.UZIP09, dbo.CONTACT2.UZIP10, dbo.CONTACT2.UZIP11, dbo.CONTACT2.UZIP12, dbo.CONTACT2.UZIP13, dbo.CONTACT2.UZIP14, 
                      dbo.CONTACT2.UZIP15, dbo.CONTACT2.UZIP16, dbo.CONTACT2.UZIP17, dbo.CONTACT2.UZIP18, dbo.CONTACT2.UZIP19, dbo.CONTACT2.UZIP20, 
                      dbo.CONTACT2.URESALEOPD, dbo.CONTACT2.UFMM, dbo.CONTACT2.UASP, dbo.CONTACT2.UASPLINK, dbo.CONTACT2.UNAPAGRDAT, 
                      dbo.CONTACT2.UNAPELECTR
FROM         dbo.CONTACT1 INNER JOIN
                      dbo.CONTACT2 ON dbo.CONTACT1.ACCOUNTNO = dbo.CONTACT2.ACCOUNTNO LEFT OUTER JOIN
                      dbo.CONTSUPP ON dbo.CONTACT2.ACCOUNTNO = dbo.CONTSUPP.ACCOUNTNO AND dbo.CONTSUPP.RECTYPE = 'P' AND 
                      dbo.CONTSUPP.CONTACT LIKE '%YP%'
WHERE     (ISNUMERIC(dbo.CONTACT1.KEY1) = 1) AND (LEFT(dbo.CONTACT1.KEY4, 6) <> 'CLOSED') AND (ISNUMERIC(dbo.CONTACT2.UWEBNUMBER) = 1) AND 
                      (UPPER(dbo.CONTACT2.USTORETYPE) NOT IN ('CLOSED')) AND (dbo.CONTACT2.USTOREOPD IS NOT NULL)



GO
