/****** Object:  View [dbo].[WEB_Contact_Data_Principal_Emails]    Script Date: 5/15/2018 12:13:59 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dbo].[WEB_Contact_Data_Principal_Emails]
AS
SELECT     TOP 100 PERCENT dbo.CONTACT1.KEY1, dbo.CONTSUPP.ACCOUNTNO, dbo.CONTSUPP.CONTSUPREF AS Email
FROM         dbo.CONTSUPP INNER JOIN
                      dbo.CONTACT1 ON dbo.CONTACT1.ACCOUNTNO = dbo.CONTSUPP.ACCOUNTNO INNER JOIN
                      dbo.CONTACT2 ON dbo.CONTACT2.ACCOUNTNO = dbo.CONTSUPP.ACCOUNTNO
WHERE     (ISNUMERIC(dbo.CONTACT1.KEY1) = 1) AND (LEFT(dbo.CONTACT1.KEY4, 6) <> 'CLOSED') AND (ISNUMERIC(dbo.CONTACT2.UWEBNUMBER) = 1) AND 
                      (UPPER(dbo.CONTACT2.USTORETYPE) NOT IN ('CLOSED')) AND (dbo.CONTSUPP.CONTACT LIKE 'E-Mail%') AND 
                      (dbo.CONTSUPP.MERGECODES LIKE '%P%')
ORDER BY dbo.CONTACT1.KEY1



GO
