/****** Object:  View [bix].[vw_SSISCatalogPackageExecution_59]    Script Date: 5/15/2018 12:14:18 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [bix].[vw_SSISCatalogPackageExecution_59]
AS
(
    SELECT 
        [ExecutionId],
        [ExecutionGuid],
        [FolderId],
        [FolderName],
        [ProjectId],
        [ProjectName],
        [PackageId],
        [PackageGuid],
        [PackageName],
        [ProjectLsn],
        [ServerName],
        [MachineName],
        [Status],
        [StoppedByName]
    FROM [dbo].[SSISCatalogPackageExecution]
)
GO
