/****** Object:  Table [dbo].[MSSDeletedScopes]    Script Date: 5/15/2018 12:09:08 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSDeletedScopes](
	[ScopeID] [int] NOT NULL,
	[ChangeID] [int] NOT NULL
) ON [PRIMARY]

GO
