/****** Object:  Table [dbo].[MSSSessionExistingDocs]    Script Date: 5/15/2018 12:09:13 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSSessionExistingDocs](
	[DocId] [int] NOT NULL
) ON [PRIMARY]

GO
