/****** Object:  Table [dbo].[Job_Type_Objects]    Script Date: 5/15/2018 11:59:09 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Job_Type_Objects](
	[___c_ID] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_Job_Type_ID] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_META_Job_Type_Object_ID] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_range_g] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[E_value] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[object] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sort] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[string] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
