/****** Object:  Table [dbo].[CompaniesLocations_Consolidated]    Script Date: 5/15/2018 11:59:08 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CompaniesLocations_Consolidated](
	[Value] [char](8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Label] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
