/****** Object:  Table [dbo].[Jobs]    Script Date: 5/15/2018 11:59:09 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Jobs](
	[___archive] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___c_ID] [float] NULL,
	[___cache_ID] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_account] [float] NULL,
	[___d_billing_contact] [float] NULL,
	[___d_customer_contact] [float] NULL,
	[___d_job_item_primary_SKU] [float] NULL,
	[___d_job_location_ID] [float] NULL,
	[___d_job_thread] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_job_Type] [float] NULL,
	[___d_landlord] [float] NULL,
	[___d_municipality] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_PM_ID] [float] NULL,
	[___d_TL_ID] [float] NULL,
	[__created_by] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[__creation] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[__DG_trigger] [datetime] NULL,
	[__modification] [datetime] NULL,
	[__modified_last] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_account_type_status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_balance] [float] NULL,
	[_cache_trigger] [float] NULL,
	[_cache_trigger_timestamp] [datetime] NULL,
	[_cached_value] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_date_cancelled] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_filter_WIP] [float] NULL,
	[_report_time] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_SUM_WIP_1_SaleTotal] [float] NULL,
	[_SUM_WIP_2_Shipping] [float] NULL,
	[_SUM_WIP_3_Permit] [float] NULL,
	[_SUM_WIP_4_Tax] [float] NULL,
	[_SUM_WIP_5_Total] [float] NULL,
	[_trigger_WIP] [float] NULL,
	[_web_status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_web_status_original] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_WIP_1_SaleTotal] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_WIP_2_Shipping] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_WIP_3_Permit] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_WIP_4_Tax] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_WIP_5_Total] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_YTD_trigger_outdated] [float] NULL,
	[bill_to_account] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[bill_to_location] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[bill_to_preference] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[built] [float] NULL,
	[comments] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[creator] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[date_construction] [datetime] NULL,
	[date_move] [datetime] NULL,
	[date_order] [datetime] NULL,
	[deposit] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[invoice_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
