/****** Object:  Table [dbo].[file]    Script Date: 5/15/2018 11:59:09 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[file](
	[Created] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Size] [varchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FileName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
