/****** Object:  Table [dbo].[Job_Items_by_Jobs]    Script Date: 5/15/2018 11:59:09 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Job_Items_by_Jobs](
	[___audit] [float] NULL,
	[___c_ID] [float] NULL,
	[___d_image] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[___d_item_parent] [float] NULL,
	[___d_job] [float] NULL,
	[___d_SKU] [float] NULL,
	[__modification] [datetime] NULL,
	[_action_eval] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_amount] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_cache_trigger_entry] [float] NULL,
	[_cache_trigger_timestamp] [datetime] NULL,
	[_cached_current_value] [float] NULL,
	[_cached_date] [datetime] NULL,
	[_cached_date_actual] [datetime] NULL,
	[_cached_date_est] [datetime] NULL,
	[_cached_status_description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_cached_status_eval] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_cached_status_level] [float] NULL,
	[_cost_true] [float] NULL,
	[_deposit_applied] [float] NULL,
	[_sort] [float] NULL,
	[_specs] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_start] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_status_description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_status_eval] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_status_eval_NEW] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_status_level] [float] NULL,
	[_status_value] [float] NULL,
	[_unit_price] [float] NULL,
	[_value_eval] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_existing_comments] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_action] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_comments] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_electrical] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_sign_description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_sign_type] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[art_rec_wall_repair] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[is_install] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[is_sign] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[item_type] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[qty] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SKU] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sku_description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sort] [float] NULL
) ON [PRIMARY]

GO
