/****** Object:  Table [dbo].[FC_OtherEntities]    Script Date: 5/15/2018 12:00:10 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FC_OtherEntities](
	[referenceId] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_name2055397779] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_streetAddress1877136292] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_city1494116655] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_country743766899] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_stateProvince254073070] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_zipPostalCode446486154] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_phone1288912358] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_phoneExtension1783724369] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_fax1270123940] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_mobile796587844] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_email1639065096] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_countryOfFormationresidency1203763950] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_stateOfFormationresidency1053177317] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_entityType1060539910] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_taxpayerIdfein1922971360] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_certificateIncorporationDate1957790858] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_articlesIncorporatedDate736161813] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_bylawsAgreementsDate478607003] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_stockCertificateDate626191003] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_articlesOfOrganizationDate2082447412] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_operationAgreementDate1186948067] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_partnershipAgreementDate528690436] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_assumedNameCenterOne432011072] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesTaxNumberCenterOne146534535] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fimCenterInfo_Id] [numeric](20, 0) NULL,
	[franchiseeName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
