/****** Object:  Table [dbo].[InfoHub Owner]    Script Date: 5/15/2018 12:00:12 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[InfoHub Owner](
	[franchiseeName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storeOwnedPercentage] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isManager] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ownerTitle] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[firstName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lastName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[homeAddress] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[homeCity] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[homeZipCode] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[homeCountry] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[homeState] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[otherAddress] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[otherCity] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[otherCountry] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[otherZipCode] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[otherState] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[extn] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fax] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[mobile] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[typeOfOwnership] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remarks] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[spouseFirstName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[spouseLastName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[spousePhone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[spouseMobile] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_spouseBirthdate1830254721] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_ownerStatus1794333158] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_firstName1326275527] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_otherLastName223811143] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_otherPhone1794524995] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_otherMobilePhone2072472916] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_otherBirthdate1794044293] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_otherRole1911293009] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_personalEmail1657490062] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_spouseEmailAddress2045267287] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[muidValue] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
