/****** Object:  StoredProcedure [dbo].[proc_MSS_OnStartCrawl]    Script Date: 5/15/2018 12:11:39 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_MSS_OnStartCrawl
@CatID int,
@bFullCrawl smallint

AS
begin

    SET NOCOUNT ON

end


GO
