/****** Object:  StoredProcedure [dbo].[proc_MSS_GetCrawls]    Script Date: 5/15/2018 12:11:38 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_MSS_GetCrawls
@CatalogID int

AS
    SET NOCOUNT ON

    DECLARE @CRAWL_ACQUIREID int SET @CRAWL_ACQUIREID = 1 DECLARE @CRAWL_STATUS_INSERTSTARTPAGE int SET @CRAWL_STATUS_INSERTSTARTPAGE = 2 DECLARE @CRAWL_STARTCHECK int SET @CRAWL_STARTCHECK = 3 DECLARE @CRAWL_STATUS_START int SET @CRAWL_STATUS_START = 4 DECLARE @CRAWL_STATUS_FORBID int SET @CRAWL_STATUS_FORBID = 5 DECLARE @CRAWL_UPDATE_SEED int SET @CRAWL_UPDATE_SEED = 6 DECLARE @CRAWL_QUERY_DONE int SET @CRAWL_QUERY_DONE = 7 DECLARE @CRAWL_STATUS_DELETEUNVISITEDITEMS int SET @CRAWL_STATUS_DELETEUNVISITEDITEMS = 8 DECLARE @CRAWL_STATUS_PAUSE int SET @CRAWL_STATUS_PAUSE = 9 DECLARE @CRAWL_STATUS_RESUME int SET @CRAWL_STATUS_RESUME =10 DECLARE @CRAWL_STATUS_DONE int SET @CRAWL_STATUS_DONE = 11 DECLARE @CRAWL_UPDATE_STOP int SET @CRAWL_UPDATE_STOP = 12 DECLARE @CRAWL_STATUS_STOP int SET @CRAWL_STATUS_STOP = 13 DECLARE @CRAWL_STATUS_RESET int SET @CRAWL_STATUS_RESET = 14 DECLARE @CRAWL_START_DELETE int SET @CRAWL_START_DELETE = 15 DECLARE @CRAWL_DELETE_CS int SET @CRAWL_DELETE_CS = 16 DECLARE @CRAWL_DELETE_SA int SET @CRAWL_DELETE_SA = 17 
    DECLARE @CRAWLTYPE_FULL int SET @CRAWLTYPE_FULL = 1 DECLARE @CRAWLTYPE_INCREMENTAL int SET @CRAWLTYPE_INCREMENTAL = 2 DECLARE @CRAWLTYPE_DELETE int SET @CRAWLTYPE_DELETE = 6 
    DECLARE @PORTAL_CONTENT int SET @PORTAL_CONTENT = 1 DECLARE @ANCHORPROJECT int SET @ANCHORPROJECT = 2 DECLARE @PROFILEIMPORT int SET @PROFILEIMPORT = 3

    SET XACT_ABORT ON

    BEGIN TRANSACTION

    DELETE FROM MSSCrawlQueue WHERE CrawlID IN 
    (SELECT CrawlID FROM MSSCrawlHistory WHERE Status = @CRAWL_STATUS_INSERTSTARTPAGE)

    UPDATE MSSCrawlHistory  SET Status = @CRAWL_STATUS_DONE
    WHERE Status = @CRAWL_STATUS_INSERTSTARTPAGE

    UPDATE MSSCrawlHistory SET Status = @CRAWL_STATUS_START 
    WHERE ProjectID = @CatalogID AND Status = @CRAWL_STATUS_PAUSE AND CrawlType = @CRAWLTYPE_DELETE

    IF @CatalogID = @ANCHORPROJECT
    BEGIN
        TRUNCATE TABLE MSSAnchorTransactions

        UPDATE MSSCrawlHistory SET Status = @CRAWL_STATUS_START 
        WHERE Status = @CRAWL_STATUS_PAUSE AND ProjectID = @CatalogID
    END

    SELECT A.CrawlID, CrawlType, Status, ContentSourceID, StartAddressID 
        FROM  MSSCrawlHistory  A
        INNER JOIN MSSCrawlContent  B
        ON A.CrawlID = B.CrawlID
        WHERE ProjectID = @CatalogID
            AND (Status = @CRAWL_STATUS_START OR Status = @CRAWL_STATUS_PAUSE)
        GROUP BY A.CrawlID, CrawlType, Status, ContentSourceID, StartAddressID
    UNION ALL
    SELECT CrawlID, CrawlType, Status, 0, 0
        FROM MSSCrawlHistory
        WHERE Status = @CRAWL_STATUS_START AND ProjectID = @CatalogID AND CrawlType = @CRAWLTYPE_DELETE

    UPDATE MSSCrawlURL SET Retry = Retry + 1 
    WHERE DocID IN
    (SELECT DocID FROM MSSCrawlQueue WHERE BatchID != 0 AND ProjectID = @CatalogID)

    UPDATE MSSCrawlQueue SET BatchID = 0 WHERE BatchID !=0 AND ProjectID = @CatalogID

    DELETE MSSTranTempTable0 WHERE ProjectID = @CatalogID

    COMMIT TRANSACTION
    RETURN 1

GO
