/****** Object:  Table [dbo].[OrderRequests]    Script Date: 5/15/2018 11:58:43 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[OrderRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[header_FromDomain] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_FormIdentity] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_ToDomain] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_ToIdentity] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_SenderDomain] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_SenderIdentity] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_SenderSharedSecret] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[header_UserAgent] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Lang] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayloadID] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderId] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[orderDate] [datetime] NOT NULL,
	[ShippingDescriptionLanguage] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingCurrency] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAmount] [decimal](18, 2) NOT NULL,
	[OrderRequestType] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_AddressID] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_AddressName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_AddressNameLang] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_EmailName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_EmailAddress] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_CountryCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_CountryName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_City] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_PostalCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_DeliverTo] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_State] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_PostalAddressName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress_MyProperty] [int] NOT NULL,
	[BillingAddress_AddressID] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_AddressName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_AddressNameLang] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_EmailName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_EmailAddress] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_CountryCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_CountryName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_City] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_PostalCode] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_DeliverTo] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_State] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_PostalAddressName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress_MyProperty] [int] NOT NULL,
	[Contact_EmailAddress] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact_EmailAddressName] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact_Name] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact_NameLang] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact_Role] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TotalCurrency] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
