/****** Object:  View [internal].[current_user_object_permissions]    Script Date: 5/15/2018 12:14:31 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [internal].[current_user_object_permissions]
AS
SELECT     [object_type],
           [object_id],
           [permission_type], 
           [sid],
           [is_role],
           [is_deny]
FROM       [internal].[object_permissions]
WHERE      ([is_role] = 0 AND [sid] = USER_SID (DATABASE_PRINCIPAL_ID()))
           OR ([is_role] =1 AND IS_MEMBER(USER_NAME([internal].[get_principal_id_by_sid]([sid])))=1)

GO
