/****** Object:  Table [dbo].[Product Database_deletes]    Script Date: 5/15/2018 12:06:28 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Product Database_deletes](
	[ProductID] [int] NULL,
	[StoreID] [int] NULL,
	[ProductCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCategoryID] [int] NULL,
	[VolumeCategoryID] [int] NULL,
	[AVICategoryID] [int] NULL,
	[Description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShortDescription] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingStructure] [smallint] NULL,
	[DefaultProductionLocation] [smallint] NULL,
	[ForegroundColors] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BackgroundColor] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Font] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriceBasedOn] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultHeight] [float] NULL,
	[DefaultWidth] [float] NULL,
	[InputUnits] [smallint] NULL,
	[PricingUnits] [smallint] NULL,
	[Thickness] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MinNumberSides] [smallint] NULL,
	[MaxNumberSides] [smallint] NULL,
	[DefaultSides] [smallint] NULL,
	[SecondSidePremium] [float] NULL,
	[SetupCharge] [money] NULL,
	[MinUnitPrice] [money] NULL,
	[MinLineItemPrice] [money] NULL,
	[BaseUnitCharge] [money] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[StandardDeliveryTime] [float] NULL,
	[ProductionRate] [float] NULL,
	[RoundingType] [int] NULL,
	[FGColorListID] [int] NULL,
	[RestrictFGColorToList] [bit] NULL,
	[BGColorListID] [int] NULL,
	[RestrictBGColorToList] [bit] NULL,
	[FontListID] [int] NULL,
	[RestrictFontToList] [bit] NULL,
	[RoundSizeToTable] [bit] NULL,
	[ExtrapolateTable] [bit] NULL,
	[FixedPerPieceCharge] [money] NULL,
	[SecondSideSetup] [money] NULL,
	[SecondSidePerPieceCharge] [money] NULL,
	[ProductImageID] [int] NULL,
	[PriceSheetID] [int] NULL,
	[BaseUnitCost] [float] NULL,
	[DetailDescription] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SymmetricTable] [bit] NULL,
	[TotalSizeDiscounts] [bit] NULL,
	[InterpolateTable] [bit] NULL,
	[MaterialType] [int] NULL,
	[MaterialTypeName] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChargeForScrap] [bit] NULL,
	[ScrapChargeRate] [float] NULL,
	[MaterialHeight] [float] NULL,
	[MaterialWidth] [float] NULL,
	[MaterialDepth] [float] NULL,
	[PanelMaterial] [bit] NULL,
	[PanelGap] [float] NULL,
	[Material2Sided] [bit] NULL,
	[HiddenByDefault] [bit] NULL,
	[ProductActive] [bit] NULL,
	[CostToPriceMargin] [float] NULL,
	[PriceFormula] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CostFormula] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OEEntryFormatID] [int] NULL,
	[SetupFormula] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TilePieces] [bit] NULL,
	[RotatePieces] [bit] NULL,
	[AvoidPaneling] [bit] NULL,
	[ChargeForExtraPanels] [bit] NULL,
	[PanelChargeRate] [float] NULL,
	[PanelChargeAmount] [money] NULL,
	[zw_franchise_id] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sys_di] [datetime] NULL,
	[sys_du] [datetime] NULL,
	[zw_active] [bit] NULL,
	[zw_pk_id] [int] NULL,
	[DefaultProdNotes] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[xSortMarker] [bit] NULL,
	[LimitToTable] [bit] NULL,
	[Flags] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoyaltyGroupID] [int] NULL,
	[ModifiedByComputer] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
