/****** Object:  Table [dbo].[EstimateHeaderFact]    Script Date: 5/15/2018 12:06:20 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[EstimateHeaderFact](
	[ZW_FRANCHISE_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ORDERID] [int] NOT NULL,
	[PRICINGRATIO] [float] NULL,
	[DESCRIPTION] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NUMBERITEMS] [int] NULL,
	[CUSTOMERID] [int] NULL,
	[CONTACTID] [int] NULL,
	[ORDERERFIRSTNAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERLASTNAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERTITLE] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERPAREACODE] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERPHONENUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERPHONEEXTENTION] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERFAREACODE] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERERFAXNUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDEREREMAILADDRESS] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SALEPERSONID] [int] NULL,
	[ENTEREDBYID] [int] NULL,
	[STATUS] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ONHOLD] [bit] NULL,
	[ESTIMATEDATE] [datetime] NULL,
	[ORDERDATE] [datetime] NULL,
	[DUEDATE] [datetime] NULL,
	[DUETIME] [datetime] NULL,
	[BUILTDATE] [datetime] NULL,
	[VOIDDATE] [datetime] NULL,
	[PICKEDUPDATE] [datetime] NULL,
	[WRITEOFFDATE] [datetime] NULL,
	[HOLDDATE] [datetime] NULL,
	[LASTINTERESTDATE] [datetime] NULL,
	[CLOSEDDATE] [datetime] NULL,
	[SIGNSALES] [float] NULL,
	[AVISALES] [float] NULL,
	[INSTALLSALES] [float] NULL,
	[PRODUCTIONCAT1SALES] [float] NULL,
	[PRODUCTIONCAT2SALES] [float] NULL,
	[PRODUCTIONCAT3SALES] [float] NULL,
	[ITEMSTOTAL] [float] NULL,
	[SALESSUBTOTAL] [float] NULL,
	[TAXABLEAMOUNT] [float] NULL,
	[TAXEXEMPTAMOUNT] [float] NULL,
	[TAXEXEMPTAMOUNTCALCULATED] [float] NULL,
	[TAXEXEMPTAMOUNTOVERRIDDEN] [bit] NULL,
	[TAXEXEMPT] [bit] NULL,
	[TAXIDNUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TAXREGIONID] [int] NULL,
	[COUNTYSALESTAX] [float] NULL,
	[COUNTYSALESTAXRATE] [float] NULL,
	[STATESALESTAX] [float] NULL,
	[STATESALESTAXRATE] [float] NULL,
	[TAXTOTAL] [float] NULL,
	[PROMOTIONID] [int] NULL,
	[DISCOUNTAMOUNT] [float] NULL,
	[DISCOUNTPERCENT] [float] NULL,
	[SHIPPINGCHARGE] [float] NULL,
	[INTERESTAMOUNT] [float] NULL,
	[SALESTOTAL] [float] NULL,
	[TOTALPAYMENTS] [float] NULL,
	[BALANCEOUTSTANDING] [float] NULL,
	[WRITEOFFAMOUNT] [float] NULL,
	[PURCHASEORDERNUMBER] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPINGADDRESS] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DISPOSITIONONCOMPLETION] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ORDERNOTES] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INSTALLNOTES] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ESTIMATENUMBER] [int] NULL,
	[ITEMSDISCOUNTTOTAL] [float] NULL,
	[DISCOUNTTOTAL] [float] NULL,
	[DISPOSITIONONCOMPLETIONID] [int] NULL,
	[CUSTOMERNAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SHIPPINGTAXABLE] [bit] NULL,
	[ROYALTYRATE] [float] NULL,
	[JOBBOX] [varchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PROOFDATE] [datetime] NULL,
	[LINEITEMSOVERRIDEN] [bit] NULL,
	[ORDERORIGINID] [int] NULL,
	[ISLOCKED] [bit] NULL,
	[LOCKEDDATE] [datetime] NULL,
	[LOCKEDUSER] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MODIFIEDDATE] [datetime] NULL,
	[MODIFIEDUSER] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[INVOICEID] [int] NULL,
	[UpdateCheckSum] [int] NULL,
	[OLTP_InsertDate] [datetime] NULL,
	[OLTP_UpdateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
