/****** Object:  Table [dbo].[FC_locationEntity]    Script Date: 5/15/2018 12:06:22 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FC_locationEntity](
	[referenceId] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesTaxIdNumber18465709] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_assumedName2112734565] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fimCenterInfo_Id] [numeric](20, 0) NULL
) ON [PRIMARY]

GO
