/****** Object:  Table [dbo].[FC_OutsideSales]    Script Date: 5/15/2018 12:06:23 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FC_OutsideSales](
	[referenceId] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salespersonFirstName1888524407] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_lastName1669988249] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_startDate468586860] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesTerminationDate1510209901] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount416233089] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount20162860861411] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201631121791919] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201641803106010] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201651327245755] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount20166490940327] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201672122841827] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201681754613207] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201691923587000] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount2016101652655079] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount2016112046935670] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesAmount201612795978007] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_firstName555361394] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_lastName1933695062] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesStartDate497947565] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_salesTerminationDate2119469366] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_recruitmentSource1154451800] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_certificationPoints909650476] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[_certificationCompletionDate60685817] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[fimCenterInfo_Id] [numeric](20, 0) NULL,
	[franchiseeName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
