/****** Object:  Table [dbo].[VendorGEO]    Script Date: 5/15/2018 12:06:31 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[VendorGEO](
	[VendorNumber] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorName] [nvarchar](65) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorAddressLine1] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorAddressLine2] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VendorCity] [nvarchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorState] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorPostalCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorCounty] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VendorCountry] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorLocation] [geography] NULL,
	[VendorPhone] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VendorFax] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NationalAccountsAgreement] [bit] NOT NULL,
	[NationalAccountsElectrical] [bit] NOT NULL,
	[WebNumber] [int] NULL,
	[CenterNumber] [int] NULL,
	[Status] [int] NOT NULL,
	[CreditStatus] [int] NULL,
	[Type] [int] NOT NULL,
	[BillingAddressLine1] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingAddressLine2] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCity] [nvarchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingState] [nvarchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingPostalCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingCounty] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCountry] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingLocation] [geography] NULL,
	[BillingContactFirstName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingContactLastName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BillingContactEmail] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingContactPhone] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingContactPhoneExt] [nvarchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingContactMobile] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingContactFax] [nvarchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingContactPreferredCommunication] [int] NOT NULL,
	[BillingContactPreferredDocumentDelivery] [int] NOT NULL,
	[BillingContactTimeZoneId] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BusinessContactSameAsBilling] [bit] NOT NULL,
	[LastModified] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
