/****** Object:  Table [dbo].[temp_coop_amounts_2006]    Script Date: 5/15/2018 12:02:40 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp_coop_amounts_2006](
	[Coop] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AmountEarned] [money] NULL,
	[CoopID] [int] NULL
) ON [PRIMARY]

GO
