/****** Object:  Table [dbo].[Contact1Ext]    Script Date: 5/15/2018 12:02:30 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Contact1Ext](
	[Contact1ExtID] [int] NOT NULL,
	[Contact1UWEBNUMBER] [int] NOT NULL,
	[Contact1ExtAcceptChecks] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Contact1Store] PRIMARY KEY CLUSTERED 
(
	[Contact1ExtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
