/****** Object:  Table [dbo].[RMPDtl]    Script Date: 5/15/2018 12:02:35 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RMPDtl](
	[RMPHId] [int] NOT NULL,
	[RMPDId] [int] NOT NULL,
	[MatGHId] [int] NOT NULL,
	[MatGHType] [tinyint] NOT NULL,
	[MatGPrdId] [int] NULL,
	[MatGDMailDate] [smalldatetime] NULL,
 CONSTRAINT [PK_RMPDtl] PRIMARY KEY NONCLUSTERED 
(
	[RMPHId] ASC,
	[RMPDId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
