/****** Object:  Table [dbo].[CoOpSubsidyLogs]    Script Date: 5/15/2018 12:02:30 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CoOpSubsidyLogs](
	[CoOpLogID] [int] NOT NULL,
	[SubLID] [int] NOT NULL,
	[SubLStoreID] [int] NULL,
 CONSTRAINT [PK_CoOpSubsidyLogs] PRIMARY KEY CLUSTERED 
(
	[CoOpLogID] ASC,
	[SubLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
