/****** Object:  Table [dbo].[CoOps]    Script Date: 5/15/2018 12:02:30 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CoOps](
	[CoOpID] [int] IDENTITY(1,1) NOT NULL,
	[CoOpName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_CoOps] PRIMARY KEY CLUSTERED 
(
	[CoOpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
