/****** Object:  Table [dbo].[SubsidyHdr]    Script Date: 5/15/2018 12:02:39 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[SubsidyHdr](
	[SubHId] [int] NOT NULL,
	[SubHType] [tinyint] NULL,
	[SubHDesc] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubHMrktCountry] [smallint] NULL,
	[SubHDisable] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CoOpOnly] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_SubsidyHdr] PRIMARY KEY CLUSTERED 
(
	[SubHId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Index [IX_SubsidyHdr]    Script Date: 5/15/2018 12:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubsidyHdr] ON [dbo].[SubsidyHdr]
(
	[SubHType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
SET ANSI_PADDING ON

/****** Object:  Index [IX_SubsidyHdr_1]    Script Date: 5/15/2018 12:02:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubsidyHdr_1] ON [dbo].[SubsidyHdr]
(
	[SubHDesc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
