/****** Object:  Table [dbo].[temp_sub_StoresAmounts]    Script Date: 5/15/2018 12:02:40 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp_sub_StoresAmounts](
	[Store] [int] NULL,
	[F2] [money] NULL
) ON [PRIMARY]

GO
