/****** Object:  Table [dbo].[FileUploadOptions]    Script Date: 5/15/2018 12:02:31 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FileUploadOptions](
	[OptionID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FileAppend] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Directory] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_FileUploadOptions] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
