/****** Object:  Table [dbo].[TEMP_MediaSubsidy]    Script Date: 5/15/2018 12:02:40 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TEMP_MediaSubsidy](
	[Signed] [varchar](8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CoOpName] [varchar](8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreNumber] [int] NULL,
	[CoOpID] [int] NULL
) ON [PRIMARY]

GO
