/****** Object:  Table [dbo].[RMPHdr]    Script Date: 5/15/2018 12:02:36 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RMPHdr](
	[RMPHId] [int] NOT NULL,
	[RMPHName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RMPHDescription] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RMPHDisabled] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RMPHHidden] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_RecommendedMailingPackages] PRIMARY KEY CLUSTERED 
(
	[RMPHId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [IX_RMPHdr]    Script Date: 5/15/2018 12:02:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_RMPHdr] ON [dbo].[RMPHdr]
(
	[RMPHName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
