/****** Object:  Table [dbo].[temp_coop2006_2]    Script Date: 5/15/2018 12:02:40 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[temp_coop2006_2](
	[Co-op  ] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Store #] [int] NULL,
	[Amount Earned] [money] NULL,
	[Amount Eligible] [money] NULL
) ON [PRIMARY]

GO
