/****** Object:  Table [dbo].[Estimate Details Database]    Script Date: 5/15/2018 12:01:03 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Estimate Details Database](
	[ORDERDETAILID] [int] NOT NULL,
	[STOREID] [int] NOT NULL,
	[LINEITEMNUMBER] [int] NULL,
	[ORDERID] [int] NULL,
	[PRODUCTID] [int] NULL,
	[PRODUCTCODE] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[QUANTITY] [float] NULL,
	[SIDES] [float] NULL,
	[HEIGHT] [float] NULL,
	[WIDTH] [float] NULL,
	[FOREGROUNDCOLOR] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BACKGROUNDCOLOR] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FONT] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BASEPRICE] [float] NULL,
	[BASEPRICEOVERRIDEN] [bit] NULL,
	[BASEPRICECALCULATED] [float] NULL,
	[AVTOTAL] [float] NULL,
	[INSTALLAMOUNT] [float] NULL,
	[DISCOUNTPERCENTAGE] [float] NULL,
	[DISCOUNTAMOUNT] [float] NULL,
	[ITEMTOTAL] [float] NULL,
	[UNITPRICEOVERRIDDEN] [bit] NULL,
	[OVERRIDDEN] [bit] NULL,
	[ITEMTOTALCALCULATED] [float] NULL,
	[TAXABLE] [bit] NULL,
	[ALLINSTALLATION] [bit] NULL,
	[DESCRIPTION] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SIGNTEXT] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AVADDITIONALAMT] [float] NULL,
	[AVADDITIONALDESCRIPTION] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AVOVERRIDDEN] [bit] NULL,
	[AVCALCULATED] [float] NULL,
	[PRODUCTIONLOCATION] [int] NULL,
	[SHOPTIME] [float] NULL,
	[FIELDTIME] [float] NULL,
	[FIELDCREWSIZE] [float] NULL,
	[MATERIALCOST] [float] NULL,
	[HEIGHTABOVEGROUND] [float] NULL,
	[OTHERINSTALLCONSIDERATION] [float] NULL,
	[SPECIALEQUIPMENT1] [bit] NULL,
	[SPECIALEQUIPMENT2] [bit] NULL,
	[SPECIALEQUIPMENT3] [bit] NULL,
	[SPECIALEQUIPMENTOTHER] [bit] NULL,
	[SPECIALEQUIPMENTOTHERAMOU] [float] NULL,
	[ESTIMATEDINSTALLCHARGE] [float] NULL,
	[ACCOUNTCODE] [int] NULL,
	[HIDDEN] [bit] NULL,
	[PMSANSWERED] [bit] NULL,
	[PARENTITEMNUMBER] [int] NULL,
	[CHILDLEVEL] [int] NULL,
	[BASECOST] [float] NULL,
	[PRODUCTIONNOTES] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HASCHILDREN] [bit] NULL,
	[BASESONSPRICE] [float] NULL,
	[BASEMEANDSONSPRICE] [float] NULL,
	[INSTALLSONSPRICE] [float] NULL,
	[INSTALLMEANDSONSPRICE] [float] NULL,
	[DISCOUNTSONSPRICE] [float] NULL,
	[DISCOUNTMEANDSONSPRICE] [float] NULL,
	[ITEMTOTALSONSPRICE] [float] NULL,
	[ITEMTOTALMEANDSONSPRICE] [float] NULL,
	[MODIFIERXML] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SYS_DI] [datetime] NULL,
	[SYS_DU] [datetime] NULL,
	[ZW_FRANCHISE_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[zw_active] [bit] NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
	[AVIDS] [varbinary](100) NULL,
	[AVValues] [varbinary](25) NULL,
	[RoyaltyGroupID] [int] NULL,
	[ModifiedByComputer] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
