/****** Object:  StoredProcedure [dbo].[OrderHdrPayExtGet]    Script Date: 5/15/2018 12:10:20 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE  PROCEDURE dbo.OrderHdrPayExtGet
(
	@Filter  varchar(4000) = null,
	@OrderBy varchar(4000) = null
)
AS
	DECLARE @SQL varchar(4000);
	SET @SQL =  'SELECT OrderHdr.*, OrderPayment.OrdPmId, OrderPayment.OrdPmType, OrderPayment.OrdPmDate, OrderPayment.OrdPmAuthReason, OrderPayment.OrdPmCCStatus FROM  OrderHdr LEFT JOIN OrderPayment ON OrderHdr.OrdHId = OrderPayment.OrdHId';
	IF (@Filter Is Not NULL)
	BEGIN
		SET @SQL = @SQL + ' Where ' + @Filter;
	END
	IF (@OrderBy Is Not NULL)
	BEGIN
		SET @SQL = @SQL + ' Order By  ' + @OrderBy;
	END
;
PRINT(@SQL);
EXEC(@SQL);


GO
