/****** Object:  StoredProcedure [dbo].[proc_GetMatchingSubscriptionsData]    Script Date: 5/15/2018 12:12:04 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_GetMatchingSubscriptionsData(
    @f001 uniqueidentifier = NULL,
    @f002 uniqueidentifier = NULL,
    @f003 uniqueidentifier = NULL,
    @f004 uniqueidentifier = NULL,
    @f005 uniqueidentifier = NULL,
    @f006 uniqueidentifier = NULL,
    @f007 uniqueidentifier = NULL,
    @f008 uniqueidentifier = NULL,
    @f009 uniqueidentifier = NULL,
    @f010 uniqueidentifier = NULL,
    @f011 uniqueidentifier = NULL,
    @f012 uniqueidentifier = NULL,
    @f013 uniqueidentifier = NULL,
    @f014 uniqueidentifier = NULL,
    @f015 uniqueidentifier = NULL,
    @f016 uniqueidentifier = NULL,
    @f017 uniqueidentifier = NULL,
    @f018 uniqueidentifier = NULL,
    @f019 uniqueidentifier = NULL,
    @f020 uniqueidentifier = NULL,
    @f021 uniqueidentifier = NULL,
    @f022 uniqueidentifier = NULL,
    @f023 uniqueidentifier = NULL,
    @f024 uniqueidentifier = NULL,
    @f025 uniqueidentifier = NULL,
    @f026 uniqueidentifier = NULL,
    @f027 uniqueidentifier = NULL,
    @f028 uniqueidentifier = NULL,
    @f029 uniqueidentifier = NULL,
    @f030 uniqueidentifier = NULL,
    @f031 uniqueidentifier = NULL,
    @f032 uniqueidentifier = NULL,
    @f033 uniqueidentifier = NULL,
    @f034 uniqueidentifier = NULL,
    @f035 uniqueidentifier = NULL,
    @f036 uniqueidentifier = NULL,
    @f037 uniqueidentifier = NULL,
    @f038 uniqueidentifier = NULL,
    @f039 uniqueidentifier = NULL,
    @f040 uniqueidentifier = NULL,
    @f041 uniqueidentifier = NULL,
    @f042 uniqueidentifier = NULL,
    @f043 uniqueidentifier = NULL,
    @f044 uniqueidentifier = NULL,
    @f045 uniqueidentifier = NULL,
    @f046 uniqueidentifier = NULL,
    @f047 uniqueidentifier = NULL,
    @f048 uniqueidentifier = NULL,
    @f049 uniqueidentifier = NULL,
    @f050 uniqueidentifier = NULL,
    @f051 uniqueidentifier = NULL,
    @f052 uniqueidentifier = NULL,
    @f053 uniqueidentifier = NULL,
    @f054 uniqueidentifier = NULL,
    @f055 uniqueidentifier = NULL,
    @f056 uniqueidentifier = NULL,
    @f057 uniqueidentifier = NULL,
    @f058 uniqueidentifier = NULL,
    @f059 uniqueidentifier = NULL,
    @f060 uniqueidentifier = NULL,
    @f061 uniqueidentifier = NULL,
    @f062 uniqueidentifier = NULL,
    @f063 uniqueidentifier = NULL,
    @f064 uniqueidentifier = NULL,
    @f065 uniqueidentifier = NULL,
    @f066 uniqueidentifier = NULL,
    @f067 uniqueidentifier = NULL,
    @f068 uniqueidentifier = NULL,
    @f069 uniqueidentifier = NULL,
    @f070 uniqueidentifier = NULL,
    @f071 uniqueidentifier = NULL,
    @f072 uniqueidentifier = NULL,
    @f073 uniqueidentifier = NULL,
    @f074 uniqueidentifier = NULL,
    @f075 uniqueidentifier = NULL,
    @f076 uniqueidentifier = NULL,
    @f077 uniqueidentifier = NULL,
    @f078 uniqueidentifier = NULL,
    @f079 uniqueidentifier = NULL,
    @f080 uniqueidentifier = NULL,
    @f081 uniqueidentifier = NULL,
    @f082 uniqueidentifier = NULL,
    @f083 uniqueidentifier = NULL,
    @f084 uniqueidentifier = NULL,
    @f085 uniqueidentifier = NULL,
    @f086 uniqueidentifier = NULL,
    @f087 uniqueidentifier = NULL,
    @f088 uniqueidentifier = NULL,
    @f089 uniqueidentifier = NULL,
    @f090 uniqueidentifier = NULL,
    @f091 uniqueidentifier = NULL,
    @f092 uniqueidentifier = NULL,
    @f093 uniqueidentifier = NULL,
    @f094 uniqueidentifier = NULL,
    @f095 uniqueidentifier = NULL,
    @f096 uniqueidentifier = NULL,
    @f097 uniqueidentifier = NULL,
    @f098 uniqueidentifier = NULL,
    @f099 uniqueidentifier = NULL,
    @f100 uniqueidentifier = NULL,
    @f101 uniqueidentifier = NULL,
    @f102 uniqueidentifier = NULL,
    @f103 uniqueidentifier = NULL,
    @f104 uniqueidentifier = NULL,
    @f105 uniqueidentifier = NULL,
    @f106 uniqueidentifier = NULL,
    @f107 uniqueidentifier = NULL,
    @f108 uniqueidentifier = NULL,
    @f109 uniqueidentifier = NULL,
    @f110 uniqueidentifier = NULL,
    @f111 uniqueidentifier = NULL,
    @f112 uniqueidentifier = NULL,
    @f113 uniqueidentifier = NULL,
    @f114 uniqueidentifier = NULL,
    @f115 uniqueidentifier = NULL,
    @f116 uniqueidentifier = NULL,
    @f117 uniqueidentifier = NULL,
    @f118 uniqueidentifier = NULL,
    @f119 uniqueidentifier = NULL,
    @f120 uniqueidentifier = NULL,
    @f121 uniqueidentifier = NULL,
    @f122 uniqueidentifier = NULL,
    @f123 uniqueidentifier = NULL,
    @f124 uniqueidentifier = NULL,
    @f125 uniqueidentifier = NULL,
    @f126 uniqueidentifier = NULL,
    @f127 uniqueidentifier = NULL,
    @f128 uniqueidentifier = NULL,
    @f129 uniqueidentifier = NULL,
    @f130 uniqueidentifier = NULL,
    @f131 uniqueidentifier = NULL,
    @f132 uniqueidentifier = NULL,
    @f133 uniqueidentifier = NULL,
    @f134 uniqueidentifier = NULL,
    @f135 uniqueidentifier = NULL,
    @f136 uniqueidentifier = NULL,
    @f137 uniqueidentifier = NULL,
    @f138 uniqueidentifier = NULL,
    @f139 uniqueidentifier = NULL,
    @f140 uniqueidentifier = NULL,
    @f141 uniqueidentifier = NULL,
    @f142 uniqueidentifier = NULL,
    @f143 uniqueidentifier = NULL,
    @f144 uniqueidentifier = NULL,
    @f145 uniqueidentifier = NULL,
    @f146 uniqueidentifier = NULL,
    @f147 uniqueidentifier = NULL,
    @f148 uniqueidentifier = NULL,
    @f149 uniqueidentifier = NULL,
    @f150 uniqueidentifier = NULL,
    @f151 uniqueidentifier = NULL,
    @f152 uniqueidentifier = NULL,
    @f153 uniqueidentifier = NULL,
    @f154 uniqueidentifier = NULL,
    @f155 uniqueidentifier = NULL,
    @f156 uniqueidentifier = NULL,
    @f157 uniqueidentifier = NULL,
    @f158 uniqueidentifier = NULL,
    @f159 uniqueidentifier = NULL,
    @f160 uniqueidentifier = NULL,
    @f161 uniqueidentifier = NULL,
    @f162 uniqueidentifier = NULL,
    @f163 uniqueidentifier = NULL,
    @f164 uniqueidentifier = NULL,
    @f165 uniqueidentifier = NULL,
    @f166 uniqueidentifier = NULL,
    @f167 uniqueidentifier = NULL,
    @f168 uniqueidentifier = NULL,
    @f169 uniqueidentifier = NULL,
    @f170 uniqueidentifier = NULL,
    @f171 uniqueidentifier = NULL,
    @f172 uniqueidentifier = NULL,
    @f173 uniqueidentifier = NULL,
    @f174 uniqueidentifier = NULL,
    @f175 uniqueidentifier = NULL,
    @f176 uniqueidentifier = NULL,
    @f177 uniqueidentifier = NULL,
    @f178 uniqueidentifier = NULL,
    @f179 uniqueidentifier = NULL,
    @f180 uniqueidentifier = NULL,
    @f181 uniqueidentifier = NULL,
    @f182 uniqueidentifier = NULL,
    @f183 uniqueidentifier = NULL,
    @f184 uniqueidentifier = NULL,
    @f185 uniqueidentifier = NULL,
    @f186 uniqueidentifier = NULL,
    @f187 uniqueidentifier = NULL,
    @f188 uniqueidentifier = NULL,
    @f189 uniqueidentifier = NULL,
    @f190 uniqueidentifier = NULL,
    @f191 uniqueidentifier = NULL,
    @f192 uniqueidentifier = NULL,
    @f193 uniqueidentifier = NULL,
    @f194 uniqueidentifier = NULL,
    @f195 uniqueidentifier = NULL,
    @f196 uniqueidentifier = NULL,
    @f197 uniqueidentifier = NULL,
    @f198 uniqueidentifier = NULL,
    @f199 uniqueidentifier = NULL,
    @f200 uniqueidentifier = NULL,
    @f201 uniqueidentifier = NULL,
    @f202 uniqueidentifier = NULL,
    @f203 uniqueidentifier = NULL,
    @f204 uniqueidentifier = NULL,
    @f205 uniqueidentifier = NULL,
    @f206 uniqueidentifier = NULL,
    @f207 uniqueidentifier = NULL,
    @f208 uniqueidentifier = NULL,
    @f209 uniqueidentifier = NULL,
    @f210 uniqueidentifier = NULL,
    @f211 uniqueidentifier = NULL,
    @f212 uniqueidentifier = NULL,
    @f213 uniqueidentifier = NULL,
    @f214 uniqueidentifier = NULL,
    @f215 uniqueidentifier = NULL,
    @f216 uniqueidentifier = NULL,
    @f217 uniqueidentifier = NULL,
    @f218 uniqueidentifier = NULL,
    @f219 uniqueidentifier = NULL,
    @f220 uniqueidentifier = NULL,
    @f221 uniqueidentifier = NULL,
    @f222 uniqueidentifier = NULL,
    @f223 uniqueidentifier = NULL,
    @f224 uniqueidentifier = NULL,
    @f225 uniqueidentifier = NULL,
    @f226 uniqueidentifier = NULL,
    @f227 uniqueidentifier = NULL,
    @f228 uniqueidentifier = NULL,
    @f229 uniqueidentifier = NULL,
    @f230 uniqueidentifier = NULL,
    @f231 uniqueidentifier = NULL,
    @f232 uniqueidentifier = NULL,
    @f233 uniqueidentifier = NULL,
    @f234 uniqueidentifier = NULL,
    @f235 uniqueidentifier = NULL,
    @f236 uniqueidentifier = NULL,
    @f237 uniqueidentifier = NULL,
    @f238 uniqueidentifier = NULL,
    @f239 uniqueidentifier = NULL,
    @f240 uniqueidentifier = NULL,
    @f241 uniqueidentifier = NULL,
    @f242 uniqueidentifier = NULL,
    @f243 uniqueidentifier = NULL,
    @f244 uniqueidentifier = NULL,
    @f245 uniqueidentifier = NULL,
    @f246 uniqueidentifier = NULL,
    @f247 uniqueidentifier = NULL,
    @f248 uniqueidentifier = NULL,
    @f249 uniqueidentifier = NULL,
    @f250 uniqueidentifier = NULL,
    @f251 uniqueidentifier = NULL,
    @f252 uniqueidentifier = NULL,
    @f253 uniqueidentifier = NULL,
    @f254 uniqueidentifier = NULL,
    @f255 uniqueidentifier = NULL,
    @f256 uniqueidentifier = NULL)
AS
    SELECT
        WebId, 
        UserEmail,
        UserId,
        SiteUrl, 
        WebUrl, 
        ListUrl,
        WebTitle, 
        WebLanguage, 
        WebLocale,
        WebTimeZone, 
        WebTime24, 
        WebCalendarType, 
        WebAdjustHijriDays,
        ListId,
        ListTitle, 
        ListBaseType,
        ListServerTemplate,
        Id, 
        ItemId, 
        EventType,
        Binaryfilter, 
        Properties,
        AlertTitle,
        AlertType,
        AlertTemplateName
    FROM
        ImmedSubscriptions
    WHERE
        Id in 
        (@f001, @f002, @f003, @f004, @f005, @f006, @f007, @f008, @f009, @f010, @f011, @f012, @f013, @f014, @f015, @f016, @f017, @f018, @f019, @f020, @f021, @f022, @f023, @f024, @f025, @f026, @f027, @f028, @f029, @f030, @f031, @f032, @f033, @f034, @f035, @f036, @f037, @f038, @f039, @f040, @f041, @f042, @f043, @f044, @f045, @f046, @f047, @f048, @f049, @f050, @f051, @f052, @f053, @f054, @f055, @f056, @f057, @f058, @f059, @f060, @f061, @f062, @f063, @f064, @f065, @f066, @f067, @f068, @f069, @f070, @f071, @f072, @f073, @f074, @f075, @f076, @f077, @f078, @f079, @f080, @f081, @f082, @f083, @f084, @f085, @f086, @f087, @f088, @f089, @f090, @f091, @f092, @f093, @f094, @f095, @f096, @f097, @f098, @f099, @f100, @f101, @f102, @f103, @f104, @f105, @f106, @f107, @f108, @f109, @f110, @f111, @f112, @f113, @f114, @f115, @f116, @f117, @f118, @f119, @f120, @f121, @f122, @f123, @f124, @f125, @f126, @f127, @f128, @f129, @f130, @f131, @f132, @f133, @f134, @f135, @f136, @f137, @f138, @f139, @f140, @f141, @f142, @f143, @f144, @f145, @f146, @f147, @f148, @f149, @f150, @f151, @f152, @f153, @f154, @f155, @f156, @f157, @f158, @f159, @f160, @f161, @f162, @f163, @f164, @f165, @f166, @f167, @f168, @f169, @f170, @f171, @f172, @f173, @f174, @f175, @f176, @f177, @f178, @f179, @f180, @f181, @f182, @f183, @f184, @f185, @f186, @f187, @f188, @f189, @f190, @f191, @f192, @f193, @f194, @f195, @f196, @f197, @f198, @f199, @f200, @f201, @f202, @f203, @f204, @f205, @f206, @f207, @f208, @f209, @f210, @f211, @f212, @f213, @f214, @f215, @f216, @f217, @f218, @f219, @f220, @f221, @f222, @f223, @f224, @f225, @f226, @f227, @f228, @f229, @f230, @f231, @f232, @f233, @f234, @f235, @f236, @f237, @f238, @f239, @f240, @f241, @f242, @f243, @f244, @f245, @f246, @f247, @f248, @f249, @f250, @f251, @f252, @f253, @f254, @f255, @f256)

GO
