/****** Object:  StoredProcedure [dbo].[proc_UpdateStatistics]    Script Date: 5/15/2018 12:12:24 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_UpdateStatistics
AS
    SET NOCOUNT ON
    UPDATE STATISTICS AllDocs WITH FULLSCAN
    UPDATE STATISTICS AllDocStreams WITH FULLSCAN
    UPDATE STATISTICS AllDocVersions WITH FULLSCAN
    UPDATE STATISTICS AllLinks WITH FULLSCAN
    UPDATE STATISTICS AllLists WITH FULLSCAN
    UPDATE STATISTICS AllUserData WITH FULLSCAN
    UPDATE STATISTICS AllUserDataJunctions WITH FULLSCAN
    UPDATE STATISTICS AuditData WITH FULLSCAN
    UPDATE STATISTICS BuildDependencies WITH FULLSCAN
    UPDATE STATISTICS CollationNames WITH FULLSCAN
    UPDATE STATISTICS ComMd WITH FULLSCAN
    UPDATE STATISTICS ContentTypes WITH FULLSCAN
    UPDATE STATISTICS ContentTypeUsage WITH FULLSCAN
    UPDATE STATISTICS Deps WITH FULLSCAN
    UPDATE STATISTICS DiskWarningDate WITH FULLSCAN
    UPDATE STATISTICS EventBatches WITH FULLSCAN
    UPDATE STATISTICS EventCache WITH FULLSCAN
    UPDATE STATISTICS EventLog WITH FULLSCAN
    UPDATE STATISTICS EventReceivers WITH FULLSCAN
    UPDATE STATISTICS EventSubsMatches WITH FULLSCAN
    UPDATE STATISTICS Features WITH FULLSCAN
    UPDATE STATISTICS GroupMembership WITH FULLSCAN
    UPDATE STATISTICS Groups WITH FULLSCAN
    UPDATE STATISTICS HT_Cache WITH FULLSCAN
    UPDATE STATISTICS HT_Settings WITH FULLSCAN
    UPDATE STATISTICS ImmedSubscriptions WITH FULLSCAN
    UPDATE STATISTICS NavNodes WITH FULLSCAN
    UPDATE STATISTICS Perms WITH FULLSCAN
    UPDATE STATISTICS Personalization WITH FULLSCAN
    UPDATE STATISTICS RecycleBin WITH FULLSCAN
    UPDATE STATISTICS RoleAssignment WITH FULLSCAN
    UPDATE STATISTICS Roles WITH FULLSCAN
    UPDATE STATISTICS SchedSubscriptions WITH FULLSCAN
    UPDATE STATISTICS ScheduledWorkItems WITH FULLSCAN
    UPDATE STATISTICS SiteQuota WITH FULLSCAN
    UPDATE STATISTICS Sites WITH FULLSCAN
    UPDATE STATISTICS SiteVersions WITH FULLSCAN
    UPDATE STATISTICS TimerLock WITH FULLSCAN
    UPDATE STATISTICS UserInfo WITH FULLSCAN
    UPDATE STATISTICS Versions WITH FULLSCAN
    UPDATE STATISTICS WebCat WITH FULLSCAN
    UPDATE STATISTICS WebMembers WITH FULLSCAN
    UPDATE STATISTICS WebPartLists WITH FULLSCAN
    UPDATE STATISTICS WebParts WITH FULLSCAN
    UPDATE STATISTICS Webs WITH FULLSCAN
    UPDATE STATISTICS WelcomeNames WITH FULLSCAN
    UPDATE STATISTICS Workflow WITH FULLSCAN
    UPDATE STATISTICS WorkflowAssociation WITH FULLSCAN
    DECLARE @id int
    SET @id = 0
    WHILE @id >= 0
    BEGIN
        DECLARE @name sysname
        DECLARE @idNext int
        SET @name=NULL
        SET @idNext = -1
        SELECT TOP 1
            @idNext = [id],
            @name = [name]
        FROM
            sysobjects AS s
        WHERE
            s.[id] > @id AND
            s.xtype = 'U' AND
            s.[name] LIKE N'NameValuePair%'
        ORDER BY
            s.[id]
        IF (@name IS NOT NULL)
        BEGIN
            DECLARE @cmd nvarchar(192)
            SET @cmd = N'UPDATE STATISTICS ' + @name + ' WITH FULLSCAN'
            EXEC sp_executesql @cmd
        END
        SET @id = @idNext
    END

GO
