/****** Object:  Table [dbo].[GLFact]    Script Date: 5/15/2018 12:07:05 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[GLFact](
	[ZW_Franchise_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Last_OLTP_UpdateDate] [datetime] NULL
) ON [PRIMARY]

GO
