/****** Object:  StoredProcedure [dbo].[dt_verstamp006]    Script Date: 5/15/2018 12:13:18 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
/*
**	This procedure returns the version number of the stored
**    procedures used by the Microsoft Visual Database Tools.
**    Current version is 7.0.00.
*/
create procedure dbo.dt_verstamp006
as
	select 7000

GO
