/****** Object:  StoredProcedure [dbo].[md_CategoryDelete]    Script Date: 5/15/2018 12:13:20 PM ******/
SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF
CREATE PROCEDURE md_CategoryDelete 
(
	@CategoryID int
)
AS
SET NOCOUNT ON
DELETE FROM md_Categories
WHERE CategoryID = @CategoryID

GO
