/****** Object:  UserDefinedFunction [dbo].[norm_enum$xf_route_prefix$build_link]    Script Date: 5/15/2018 12:14:46 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION dbo.norm_enum$xf_route_prefix$build_link 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN dbo.enum2str$xf_route_prefix$build_link(dbo.str2enum$xf_route_prefix$build_link(@setval))
   END
GO
