/****** Object:  Table [dbo].[FIIUser_FIIRole]    Script Date: 5/15/2018 12:00:04 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FIIUser_FIIRole](
	[User_RoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Deny] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[User_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Index [_dta_index_FIIUser_FIIRole_25_158623608__K2_K3_4]    Script Date: 5/15/2018 12:00:04 PM ******/
CREATE NONCLUSTERED INDEX [_dta_index_FIIUser_FIIRole_25_158623608__K2_K3_4] ON [dbo].[FIIUser_FIIRole]
(
	[UserID] ASC,
	[RoleID] ASC
)
INCLUDE ( 	[Deny]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
/****** Object:  Index [_dta_index_FIIUser_FIIRole_25_158623608__K4_K2_K3]    Script Date: 5/15/2018 12:00:04 PM ******/
CREATE NONCLUSTERED INDEX [_dta_index_FIIUser_FIIRole_25_158623608__K4_K2_K3] ON [dbo].[FIIUser_FIIRole]
(
	[Deny] ASC,
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
ALTER TABLE [dbo].[FIIUser_FIIRole]  WITH CHECK ADD  CONSTRAINT [FK_fiiUser_fiiRole_fiiRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[FIIRole] ([RoleID])
ALTER TABLE [dbo].[FIIUser_FIIRole] CHECK CONSTRAINT [FK_fiiUser_fiiRole_fiiRole]
ALTER TABLE [dbo].[FIIUser_FIIRole]  WITH CHECK ADD  CONSTRAINT [FK_fiiUser_fiiRole_fiiUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[FIIUser] ([UserID])
ALTER TABLE [dbo].[FIIUser_FIIRole] CHECK CONSTRAINT [FK_fiiUser_fiiRole_fiiUser]
GO
