/****** Object:  Table [dbo].[sec_UserTypes]    Script Date: 5/15/2018 12:00:06 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[sec_UserTypes](
	[user_type] [bigint] NULL,
	[user_type_desc] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
