/****** Object:  Table [dbo].[FIIUser_DDSFolder]    Script Date: 5/15/2018 12:00:04 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FIIUser_DDSFolder](
	[FIIUser_DDSFolderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DDSFolderID] [int] NULL,
	[FolderRead] [bit] NULL,
	[FolderWrite] [bit] NULL,
	[FolderDelete] [bit] NULL,
 CONSTRAINT [PK_FIIUser_DDSFolder] PRIMARY KEY CLUSTERED 
(
	[FIIUser_DDSFolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[FIIUser_DDSFolder]  WITH CHECK ADD  CONSTRAINT [FK_FIIUser_DDSFolder_DDSFolder] FOREIGN KEY([DDSFolderID])
REFERENCES [dbo].[DDSFolder] ([DDSFolderID])
ALTER TABLE [dbo].[FIIUser_DDSFolder] CHECK CONSTRAINT [FK_FIIUser_DDSFolder_DDSFolder]
ALTER TABLE [dbo].[FIIUser_DDSFolder]  WITH CHECK ADD  CONSTRAINT [FK_FIIUser_DDSFolder_FIIUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[FIIUser] ([UserID])
ALTER TABLE [dbo].[FIIUser_DDSFolder] CHECK CONSTRAINT [FK_FIIUser_DDSFolder_FIIUser]
GO
