/****** Object:  Table [dbo].[FIILog]    Script Date: 5/15/2018 12:00:03 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FIILog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TIME] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_FIILog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[FIILog]  WITH CHECK ADD  CONSTRAINT [FK_FIILog_FIIEvent1] FOREIGN KEY([EventType])
REFERENCES [dbo].[FIIEvent] ([ID])
ALTER TABLE [dbo].[FIILog] CHECK CONSTRAINT [FK_FIILog_FIIEvent1]
ALTER TABLE [dbo].[FIILog]  WITH CHECK ADD  CONSTRAINT [FK_FIILog_FIIUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[FIIUser] ([UserID])
ALTER TABLE [dbo].[FIILog] CHECK CONSTRAINT [FK_FIILog_FIIUser]
ALTER TABLE [dbo].[FIILog]  WITH CHECK ADD  CONSTRAINT [FK_FIILog_FIIUser1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[FIIUser] ([UserID])
ALTER TABLE [dbo].[FIILog] CHECK CONSTRAINT [FK_FIILog_FIIUser1]
GO
