/****** Object:  Table [dbo].[Fastsigns_Users$]    Script Date: 5/15/2018 12:00:50 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Fastsigns_Users$](
	[APIUserName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountID] [int] NULL
) ON [PRIMARY]

GO
