/****** Object:  Table [dbo].[_ExactTarget_Accounts]    Script Date: 5/15/2018 12:00:44 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[_ExactTarget_Accounts](
	[APIUsername] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountID] [int] NULL
) ON [PRIMARY]

GO
