/****** Object:  Table [dbo].[Estimate Details Database_deletes]    Script Date: 5/15/2018 12:00:50 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Estimate Details Database_deletes](
	[OrderDetailID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[LineItemNumber] [int] NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[ProductCode] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Quantity] [float] NULL,
	[Sides] [float] NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[ForegroundColor] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BackgroundColor] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Font] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BasePrice] [float] NULL,
	[BasePriceOverriden] [bit] NULL,
	[BasePriceCalculated] [float] NULL,
	[AVTotal] [float] NULL,
	[InstallAmount] [float] NULL,
	[DiscountPercentage] [float] NULL,
	[DiscountAmount] [float] NULL,
	[ItemTotal] [float] NULL,
	[UnitPriceOverridden] [bit] NULL,
	[OverRidden] [bit] NULL,
	[ItemTotalCalculated] [float] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[Description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SignText] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AVIDS] [varbinary](100) NULL,
	[AVValues] [varbinary](25) NULL,
	[AVAdditionalAmt] [float] NULL,
	[AVAdditionalDescription] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AVOverridden] [bit] NULL,
	[AVCalculated] [float] NULL,
	[ProductionLocation] [int] NULL,
	[ShopTime] [float] NULL,
	[FieldTime] [float] NULL,
	[FieldCrewSize] [float] NULL,
	[MaterialCost] [float] NULL,
	[HeightAboveGround] [float] NULL,
	[OtherInstallConsideration] [float] NULL,
	[SpecialEquipment1] [bit] NULL,
	[SpecialEquipment2] [bit] NULL,
	[SpecialEquipment3] [bit] NULL,
	[SpecialEquipmentOther] [bit] NULL,
	[SpecialEquipmentOtherAmou] [float] NULL,
	[EstimatedInstallCharge] [float] NULL,
	[AccountCode] [int] NULL,
	[Hidden] [bit] NULL,
	[PMsAnswered] [bit] NULL,
	[ParentItemNumber] [int] NULL,
	[ChildLevel] [int] NULL,
	[BaseCost] [float] NULL,
	[ProductionNotes] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HasChildren] [bit] NULL,
	[BaseSonsPrice] [float] NULL,
	[BaseMeAndSonsPrice] [float] NULL,
	[InstallSonsPrice] [float] NULL,
	[InstallMeAndSonsPrice] [float] NULL,
	[DiscountSonsPrice] [float] NULL,
	[DiscountMeAndSonsPrice] [float] NULL,
	[ItemTotalSonsPrice] [float] NULL,
	[ItemTotalMeAndSonsPrice] [float] NULL,
	[ModifierXML] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoyaltyGroupID] [int] NULL,
	[ModifiedByComputer] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Index [IX_Estimate Details Database_deletes]    Script Date: 5/15/2018 12:00:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Estimate Details Database_deletes] ON [dbo].[Estimate Details Database_deletes]
(
	[sys_du] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
