/****** Object:  Table [dbo].[Product Database]    Script Date: 5/15/2018 12:00:55 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Product Database](
	[ProductID] [int] NOT NULL,
	[StoreID] [int] NOT NULL,
	[ProductCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCategoryID] [int] NULL,
	[VolumeCategoryID] [int] NULL,
	[AVICategoryID] [int] NULL,
	[Description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShortDescription] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingStructure] [smallint] NULL,
	[DefaultProductionLocation] [smallint] NULL,
	[ForegroundColors] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BackgroundColor] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Font] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriceBasedOn] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultHeight] [float] NULL,
	[DefaultWidth] [float] NULL,
	[InputUnits] [smallint] NULL,
	[PricingUnits] [smallint] NULL,
	[Thickness] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MinNumberSides] [smallint] NULL,
	[MaxNumberSides] [smallint] NULL,
	[DefaultSides] [smallint] NULL,
	[SecondSidePremium] [float] NULL,
	[SetupCharge] [money] NULL,
	[MinUnitPrice] [money] NULL,
	[MinLineItemPrice] [money] NULL,
	[BaseUnitCharge] [money] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[StandardDeliveryTime] [float] NULL,
	[ProductionRate] [float] NULL,
	[RoundingType] [int] NULL,
	[FGColorListID] [int] NULL,
	[RestrictFGColorToList] [bit] NULL,
	[BGColorListID] [int] NULL,
	[RestrictBGColorToList] [bit] NULL,
	[FontListID] [int] NULL,
	[RestrictFontToList] [bit] NULL,
	[RoundSizeToTable] [bit] NULL,
	[ExtrapolateTable] [bit] NULL,
	[FixedPerPieceCharge] [money] NULL,
	[SecondSideSetup] [money] NULL,
	[SecondSidePerPieceCharge] [money] NULL,
	[ProductImageID] [int] NULL,
	[PriceSheetID] [int] NULL,
	[BaseUnitCost] [float] NULL,
	[DetailDescription] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SymmetricTable] [bit] NULL,
	[TotalSizeDiscounts] [bit] NULL,
	[InterpolateTable] [bit] NULL,
	[MaterialType] [int] NULL,
	[MaterialTypeName] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChargeForScrap] [bit] NULL,
	[ScrapChargeRate] [float] NULL,
	[MaterialHeight] [float] NULL,
	[MaterialWidth] [float] NULL,
	[MaterialDepth] [float] NULL,
	[PanelMaterial] [bit] NULL,
	[PanelGap] [float] NULL,
	[Material2Sided] [bit] NULL,
	[HiddenByDefault] [bit] NULL,
	[ProductActive] [bit] NULL,
	[CostToPriceMargin] [float] NULL,
	[PriceFormula] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CostFormula] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OEEntryFormatID] [int] NULL,
	[SetupFormula] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TilePieces] [bit] NULL,
	[RotatePieces] [bit] NULL,
	[AvoidPaneling] [bit] NULL,
	[ChargeForExtraPanels] [bit] NULL,
	[PanelChargeRate] [float] NULL,
	[PanelChargeAmount] [money] NULL,
	[sys_di] [datetime] NOT NULL,
	[sys_du] [datetime] NOT NULL,
	[zw_franchise_id] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[zw_active] [bit] NOT NULL,
	[zw_pk_id] [int] IDENTITY(1,1) NOT NULL,
	[DefaultProdNotes] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[xSortMarker] [bit] NULL,
	[LimitToTable] [bit] NULL,
	[Flags] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoyaltyGroupID] [int] NULL,
	[ModifiedByComputer] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Product Database] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[StoreID] ASC,
	[zw_franchise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [Idx_Alex3]    Script Date: 5/15/2018 12:00:55 PM ******/
CREATE NONCLUSTERED INDEX [Idx_Alex3] ON [dbo].[Product Database]
(
	[zw_franchise_id] ASC,
	[ProductCategoryID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
