/****** Object:  Table [dbo].[FM_OYBStatus]    Script Date: 5/15/2018 12:00:51 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FM_OYBStatus](
	[IsOYB] [bit] NOT NULL,
	[ZW_ID] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CenterWebNumber] [int] NULL,
 CONSTRAINT [PK_FM_OYBStatus] PRIMARY KEY CLUSTERED 
(
	[ZW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
