/****** Object:  Table [dbo].[FolderType]    Script Date: 5/15/2018 12:01:08 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FolderType](
	[FolderTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FolderTypeName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_FolderType] PRIMARY KEY CLUSTERED 
(
	[FolderTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
