/****** Object:  Table [dbo].[FIIStoresToDelete]    Script Date: 5/15/2018 12:03:25 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[FIIStoresToDelete](
	[Id] [int] NULL,
	[StoreId] [int] NULL
) ON [PRIMARY]

GO
