/****** Object:  StoredProcedure [dbo].[proc_CreateItemVersion]    Script Date: 5/15/2018 12:12:30 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE dbo.proc_CreateItemVersion(
    @ListId uniqueidentifier,
    @ItemId int,
    @Level tinyint = 1)
AS
    SET NOCOUNT ON
    INSERT INTO AllUserData(
            tp_ID,
            tp_ListId,
            tp_SiteId,
            tp_RowOrdinal,
            tp_Version,
            tp_Author,
            tp_Editor,
            tp_Modified,
            tp_Created,
            tp_Ordering,
            tp_ThreadIndex,
            tp_HasAttachment,
            tp_ModerationStatus,
            tp_IsCurrent,
            tp_ItemOrder,
            tp_InstanceID,
            tp_GUID,
            tp_CopySource,
            tp_HasCopyDestinations,
            tp_AuditFlags,
            tp_InheritAuditFlags,
            tp_Size,
            tp_WorkflowVersion,
            tp_WorkflowInstanceID,
            tp_DeleteTransactionId,
            tp_ContentType,
            tp_ContentTypeId,
            tp_DraftOwnerId,
            nvarchar1,
            nvarchar2,
            nvarchar3,
            nvarchar4,
            nvarchar5,
            nvarchar6,
            nvarchar7,
            nvarchar8,
            nvarchar9,
            nvarchar10,
            nvarchar11,
            nvarchar12,
            nvarchar13,
            nvarchar14,
            nvarchar15,
            nvarchar16,
            nvarchar17,
            nvarchar18,
            nvarchar19,
            nvarchar20,
            nvarchar21,
            nvarchar22,
            nvarchar23,
            nvarchar24,
            nvarchar25,
            nvarchar26,
            nvarchar27,
            nvarchar28,
            nvarchar29,
            nvarchar30,
            nvarchar31,
            nvarchar32,
            nvarchar33,
            nvarchar34,
            nvarchar35,
            nvarchar36,
            nvarchar37,
            nvarchar38,
            nvarchar39,
            nvarchar40,
            nvarchar41,
            nvarchar42,
            nvarchar43,
            nvarchar44,
            nvarchar45,
            nvarchar46,
            nvarchar47,
            nvarchar48,
            nvarchar49,
            nvarchar50,
            nvarchar51,
            nvarchar52,
            nvarchar53,
            nvarchar54,
            nvarchar55,
            nvarchar56,
            nvarchar57,
            nvarchar58,
            nvarchar59,
            nvarchar60,
            nvarchar61,
            nvarchar62,
            nvarchar63,
            nvarchar64,
            int1,
            int2,
            int3,
            int4,
            int5,
            int6,
            int7,
            int8,
            int9,
            int10,
            int11,
            int12,
            int13,
            int14,
            int15,
            int16,
            float1,
            float2,
            float3,
            float4,
            float5,
            float6,
            float7,
            float8,
            float9,
            float10,
            float11,
            float12,
            datetime1,
            datetime2,
            datetime3,
            datetime4,
            datetime5,
            datetime6,
            datetime7,
            datetime8,
            bit1,
            bit2,
            bit3,
            bit4,
            bit5,
            bit6,
            bit7,
            bit8,
            bit9,
            bit10,
            bit11,
            bit12,
            bit13,
            bit14,
            bit15,
            bit16,
            uniqueidentifier1,
            ntext1,
            ntext2,
            ntext3,
            ntext4,
            ntext5,
            ntext6,
            ntext7,
            ntext8,
            ntext9,
            ntext10,
            ntext11,
            ntext12,
            ntext13,
            ntext14,
            ntext15,
            ntext16,
            ntext17,
            ntext18,
            ntext19,
            ntext20,
            ntext21,
            ntext22,
            ntext23,
            ntext24,
            ntext25,
            ntext26,
            ntext27,
            ntext28,
            ntext29,
            ntext30,
            ntext31,
            ntext32,
            sql_variant1,
            sql_variant2,
            sql_variant3,
            sql_variant4,
            sql_variant5,
            sql_variant6,
            sql_variant7,
            sql_variant8,
            tp_Level,
            tp_DirName,
            tp_LeafName,
            tp_IsCurrentVersion,
            tp_UIVersion,
            tp_CalculatedVersion)
        SELECT
            tp_ID,
            tp_ListId,
            tp_SiteId,
            tp_RowOrdinal,
            tp_Version,
            tp_Author,
            tp_Editor,
            tp_Modified,
            tp_Created,
            tp_Ordering,
            tp_ThreadIndex,
            tp_HasAttachment,
            tp_ModerationStatus,
            0,
            tp_ItemOrder,
            tp_InstanceID,
            tp_GUID,
            tp_CopySource,
            tp_HasCopyDestinations,
            tp_AuditFlags,
            tp_InheritAuditFlags,
            tp_Size,
            tp_WorkflowVersion,
            tp_WorkflowInstanceID,
            tp_DeleteTransactionId,
            tp_ContentType,
            tp_ContentTypeId,
            tp_DraftOwnerId,
            nvarchar1,
            nvarchar2,
            nvarchar3,
            nvarchar4,
            nvarchar5,
            nvarchar6,
            nvarchar7,
            nvarchar8,
            nvarchar9,
            nvarchar10,
            nvarchar11,
            nvarchar12,
            nvarchar13,
            nvarchar14,
            nvarchar15,
            nvarchar16,
            nvarchar17,
            nvarchar18,
            nvarchar19,
            nvarchar20,
            nvarchar21,
            nvarchar22,
            nvarchar23,
            nvarchar24,
            nvarchar25,
            nvarchar26,
            nvarchar27,
            nvarchar28,
            nvarchar29,
            nvarchar30,
            nvarchar31,
            nvarchar32,
            nvarchar33,
            nvarchar34,
            nvarchar35,
            nvarchar36,
            nvarchar37,
            nvarchar38,
            nvarchar39,
            nvarchar40,
            nvarchar41,
            nvarchar42,
            nvarchar43,
            nvarchar44,
            nvarchar45,
            nvarchar46,
            nvarchar47,
            nvarchar48,
            nvarchar49,
            nvarchar50,
            nvarchar51,
            nvarchar52,
            nvarchar53,
            nvarchar54,
            nvarchar55,
            nvarchar56,
            nvarchar57,
            nvarchar58,
            nvarchar59,
            nvarchar60,
            nvarchar61,
            nvarchar62,
            nvarchar63,
            nvarchar64,
            int1,
            int2,
            int3,
            int4,
            int5,
            int6,
            int7,
            int8,
            int9,
            int10,
            int11,
            int12,
            int13,
            int14,
            int15,
            int16,
            float1,
            float2,
            float3,
            float4,
            float5,
            float6,
            float7,
            float8,
            float9,
            float10,
            float11,
            float12,
            datetime1,
            datetime2,
            datetime3,
            datetime4,
            datetime5,
            datetime6,
            datetime7,
            datetime8,
            bit1,
            bit2,
            bit3,
            bit4,
            bit5,
            bit6,
            bit7,
            bit8,
            bit9,
            bit10,
            bit11,
            bit12,
            bit13,
            bit14,
            bit15,
            bit16,
            uniqueidentifier1,
            ntext1,
            ntext2,
            ntext3,
            ntext4,
            ntext5,
            ntext6,
            ntext7,
            ntext8,
            ntext9,
            ntext10,
            ntext11,
            ntext12,
            ntext13,
            ntext14,
            ntext15,
            ntext16,
            ntext17,
            ntext18,
            ntext19,
            ntext20,
            ntext21,
            ntext22,
            ntext23,
            ntext24,
            ntext25,
            ntext26,
            ntext27,
            ntext28,
            ntext29,
            ntext30,
            ntext31,
            ntext32,
            sql_variant1,
            sql_variant2,
            sql_variant3,
            sql_variant4,
            sql_variant5,
            sql_variant6,
            sql_variant7,
            sql_variant8,
            tp_Level,
            tp_DirName,
            tp_LeafName,
            CONVERT(bit,0),	
            tp_UIVersion,
            tp_UIVersion    
        FROM UserData
        WHERE
            tp_ListId = @ListId AND
            tp_ID = @ItemId AND
            tp_Level = @Level
    EXEC proc_CreateItemJunctionsVersion @ListId, @ItemId, @Level
    RETURN 0

GO
