/****** Object:  UserDefinedFunction [dbo].[fn_sysutility_mi_get_cpu_family_name]    Script Date: 5/15/2018 12:14:56 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION [dbo].[fn_sysutility_mi_get_cpu_family_name](@family INT)
RETURNS NVARCHAR(128)
AS
BEGIN
   DECLARE @family_name NVARCHAR(128) = N''
   SELECT @family_name = 
      CASE 
         WHEN @family = 1 THEN 'Other'
         WHEN @family = 2 THEN 'Unknown'
         WHEN @family = 3 THEN '8086'
         WHEN @family = 4 THEN '80286'
         WHEN @family = 5 THEN 'Intel386 Processor'
         WHEN @family = 6 THEN 'Intel486 Processor'
         WHEN @family = 7 THEN '8087'
         WHEN @family = 8 THEN '80287'
         WHEN @family = 9 THEN '80387'
         WHEN @family = 10 THEN '80487'
         WHEN @family = 11 THEN 'Pentium Brand'
         WHEN @family = 12 THEN 'Pentium Pro'
         WHEN @family = 13 THEN 'Pentium II'
         WHEN @family = 14 THEN 'Pentium Processor with MMX Technology'
         WHEN @family = 15 THEN 'Celeron'
         WHEN @family = 16 THEN 'Pentium II Xeon'
         WHEN @family = 17 THEN 'Pentium III'
         WHEN @family = 18 THEN 'M1 Family'
         WHEN @family = 19 THEN 'M2 Family'
         WHEN @family = 24 THEN 'AMD Duron Processor Family'
         WHEN @family = 25 THEN 'K5 Family'
         WHEN @family = 26 THEN 'K6 Family'
         WHEN @family = 27 THEN 'K6-2'
         WHEN @family = 28 THEN 'K6-3'
         WHEN @family = 29 THEN 'AMD Athlon Processor Family'
         WHEN @family = 30 THEN 'AMD2900 Family'
         WHEN @family = 31 THEN 'K6-2+'
         WHEN @family = 32 THEN 'Power PC Family'
         WHEN @family = 33 THEN 'Power PC 601'
         WHEN @family = 34 THEN 'Power PC 603'
         WHEN @family = 35 THEN 'Power PC 603+'
         WHEN @family = 36 THEN 'Power PC 604'
         WHEN @family = 37 THEN 'Power PC 620'
         WHEN @family = 38 THEN 'Power PC X704'
         WHEN @family = 39 THEN 'Power PC 750'
         WHEN @family = 48 THEN 'Alpha Family'
         WHEN @family = 49 THEN 'Alpha 21064'
         WHEN @family = 50 THEN 'Alpha 21066'
         WHEN @family = 51 THEN 'Alpha 21164'
         WHEN @family = 52 THEN 'Alpha 21164PC'
         WHEN @family = 53 THEN 'Alpha 21164a'
         WHEN @family = 54 THEN 'Alpha 21264'
         WHEN @family = 55 THEN 'Alpha 21364'
         WHEN @family = 64 THEN 'MIPS Family'
         WHEN @family = 65 THEN 'MIPS R4000'
         WHEN @family = 66 THEN 'MIPS R4200'
         WHEN @family = 67 THEN 'MIPS R4400'
         WHEN @family = 68 THEN 'MIPS R4600'
         WHEN @family = 69 THEN 'MIPS R10000'
         WHEN @family = 80 THEN 'SPARC Family'
         WHEN @family = 81 THEN 'SuperSPARC'
         WHEN @family = 82 THEN 'microSPARC II'
         WHEN @family = 83 THEN 'microSPARC IIep'
         WHEN @family = 84 THEN 'UltraSPARC'
         WHEN @family = 85 THEN 'UltraSPARC II'
         WHEN @family = 86 THEN 'UltraSPARC IIi'
         WHEN @family = 87 THEN 'UltraSPARC III'
         WHEN @family = 88 THEN 'UltraSPARC IIIi'
         WHEN @family = 96 THEN '68040'
         WHEN @family = 97 THEN '68xxx Family'
         WHEN @family = 98 THEN '68000'
         WHEN @family = 99 THEN '68010'
         WHEN @family = 100 THEN '68020'
         WHEN @family = 101 THEN '68030'
         WHEN @family = 112 THEN 'Hobbit Family'
         WHEN @family = 120 THEN 'Crusoe TM5000 Family'
         WHEN @family = 121 THEN 'Crusoe TM3000 Family'
         WHEN @family = 122 THEN 'Efficeon TM8000 Family'
         WHEN @family = 128 THEN 'Weitek'
         WHEN @family = 130 THEN 'Itanium Processor'
         WHEN @family = 131 THEN 'AMD Athlon 64 Processor Family'
         WHEN @family = 132 THEN 'AMD Opteron Processor Family'
         WHEN @family = 144 THEN 'PA-RISC Family'
         WHEN @family = 145 THEN 'PA-RISC 8500'
         WHEN @family = 146 THEN 'PA-RISC 8000'
         WHEN @family = 147 THEN 'PA-RISC 7300LC'
         WHEN @family = 148 THEN 'PA-RISC 7200'
         WHEN @family = 149 THEN 'PA-RISC 7100LC'
         WHEN @family = 150 THEN 'PA-RISC 7100'
         WHEN @family = 160 THEN 'V30 Family'
         WHEN @family = 176 THEN 'Pentium III Xeon Processor'
         WHEN @family = 177 THEN 'Pentium III Processor with Intel SpeedStep Technology'
         WHEN @family = 178 THEN 'Pentium 4'
         WHEN @family = 179 THEN 'Intel Xeon'
         WHEN @family = 180 THEN 'AS400 Family'
         WHEN @family = 181 THEN 'Intel Xeon Processor MP'
         WHEN @family = 182 THEN 'AMD Athlon XP Family'
         WHEN @family = 183 THEN 'AMD Athlon MP Family'
         WHEN @family = 184 THEN 'Intel Itanium 2'
         WHEN @family = 185 THEN 'Intel Pentium M Processor'
         WHEN @family = 190 THEN 'K7'
         WHEN @family = 200 THEN 'IBM390 Family'
         WHEN @family = 201 THEN 'G4'
         WHEN @family = 202 THEN 'G5'
         WHEN @family = 203 THEN 'G6'
         WHEN @family = 204 THEN 'z/Architecture Base'
         WHEN @family = 250 THEN 'i860'
         WHEN @family = 251 THEN 'i960'
         WHEN @family = 260 THEN 'SH-3'
         WHEN @family = 261 THEN 'SH-4'
         WHEN @family = 280 THEN 'ARM'
         WHEN @family = 281 THEN 'StrongARM'
         WHEN @family = 300 THEN '6x86'
         WHEN @family = 301 THEN 'MediaGX'
         WHEN @family = 302 THEN 'MII'
         WHEN @family = 320 THEN 'WinChip'
         WHEN @family = 350 THEN 'DSP'
         WHEN @family = 500 THEN 'Video Processor'
      END
   RETURN @family_name
END

GO
