/****** Object:  Table [dbo].[LEADDBFS]    Script Date: 5/15/2018 12:01:16 PM ******/
SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[LEADDBFS](
	[FILEDESC] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FILENAME] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RECID] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
