/****** Object:  Table [dbo].[AD_All_Owners]    Script Date: 5/15/2018 12:01:11 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[AD_All_Owners](
	[Name] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Company] [int] NULL,
	[Department] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[E-Mail Address] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Zip Code] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
