/****** Object:  Table [dbo].[sf_tr_prjcts]    Script Date: 5/15/2018 12:02:06 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[sf_tr_prjcts](
	[title] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[site_id] [uniqueidentifier] NULL,
	[retry_count] [int] NOT NULL,
	[po_ref] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[owner] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[external_id] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[due_date] [datetime] NOT NULL,
	[dscrptn] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[date_sent] [datetime] NULL,
	[date_created] [datetime] NOT NULL,
	[date_completed] [datetime] NULL,
	[cnctr] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[act_src_lang] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [pk_sf_tr_prjcts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING ON

/****** Object:  Index [idx_tr_prjcts_extrnl_id]    Script Date: 5/15/2018 12:02:06 PM ******/
CREATE NONCLUSTERED INDEX [idx_tr_prjcts_extrnl_id] ON [dbo].[sf_tr_prjcts]
(
	[external_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
