/****** Object:  Table [dbo].[ev_AttendantAgenda]    Script Date: 5/15/2018 12:07:09 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ev_AttendantAgenda](
	[AttendantID] [int] NOT NULL,
	[AgendaID] [int] NOT NULL
) ON [PRIMARY]

GO
