/****** Object:  Table [dbo].[RC_CSRCert]    Script Date: 5/15/2018 12:07:13 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RC_CSRCert](
	[ReportID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Q1] [int] NULL,
	[Q2] [int] NULL,
	[Q3] [int] NULL,
	[Q4] [int] NULL,
	[Q5] [int] NULL,
	[Q6] [int] NULL,
	[Q7] [int] NULL,
	[Q8] [int] NULL,
	[Q9] [int] NULL,
	[Q10] [int] NULL,
	[Q11] [int] NULL,
	[Q12] [int] NULL,
	[Q13] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q14] [int] NULL,
	[Q15] [int] NULL,
	[Q16] [int] NULL,
	[Q17] [int] NULL,
	[Q18] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q19] [int] NULL,
	[Q20] [int] NULL,
	[Q21] [int] NULL,
	[Q22] [int] NULL,
	[Q23] [int] NULL,
	[Q24] [int] NULL,
	[Q25] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q26] [int] NULL,
	[Q27] [int] NULL,
	[Q28] [int] NULL,
	[Q29] [int] NULL,
	[Q30] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q31] [int] NULL,
	[Q32] [int] NULL,
	[Q33] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q34] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q35] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q36] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q37] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q38] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q39] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q40] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q41] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q42] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q43] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q44] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q45] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q46] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q47] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q48] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q49] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q50] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q51] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q52] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q53] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q54] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q55] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q56] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q57] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q58] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q59] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q60] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q61] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q62] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q63] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q64] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q65] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q66] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q67] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q68] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q69] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q70] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q71] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q72] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q73] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q74] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q75] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q76] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q77] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q78] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q79] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q80] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q81] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q82] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q83] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q84] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q85] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q86] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q87] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q88] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q89] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q90] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q91] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q92] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q93] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q94] [int] NULL,
	[Q95] [int] NULL,
	[Q96] [int] NULL,
	[Q97] [int] NULL,
	[Q98] [int] NULL,
	[Q99] [int] NULL,
	[Q100] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q101] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q102] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q103] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q104] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q105] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q106] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q107] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q108] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q109] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q110] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q111] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q112] [int] NULL,
	[Q113] [int] NULL,
	[Q114] [int] NULL,
	[Q115] [int] NULL,
	[Q116] [int] NULL,
	[Q117] [int] NULL,
	[Q118] [int] NULL,
	[Q119] [int] NULL,
	[Q120] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Misc] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_RC_CSRCert] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
