/****** Object:  Table [dbo].[RC_FCP]    Script Date: 5/15/2018 12:07:13 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RC_FCP](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[Q1] [int] NULL,
	[Q2] [int] NULL,
	[Q3] [int] NULL,
	[Q4] [int] NULL,
	[Q5] [int] NULL,
	[Q6] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q7] [int] NULL,
	[Q8] [int] NULL,
	[Q9] [int] NULL,
	[Q10] [int] NULL,
	[Q11] [int] NULL,
	[Q12] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q13] [int] NULL,
	[Q14] [int] NULL,
	[Q15] [int] NULL,
	[Q16] [int] NULL,
	[Q17] [int] NULL,
	[Q18] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q19] [int] NULL,
	[Q20] [int] NULL,
	[Q21] [int] NULL,
	[Q22] [int] NULL,
	[Q23] [int] NULL,
	[Q24] [int] NULL,
	[Q25] [int] NULL,
	[Q26] [int] NULL,
	[Q27] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Q28] [int] NULL,
	[Q29] [int] NULL,
	[Q30] [int] NULL,
	[Q31] [int] NULL,
	[Q32] [int] NULL,
	[Q33] [int] NULL,
	[Q34] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
