/****** Object:  Table [dbo].[RC_NOTa_Archive]    Script Date: 5/15/2018 12:07:14 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[RC_NOTa_Archive](
	[ReportID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[A1] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A2] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A3] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A4] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A5] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A6] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A7] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A8] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A9] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A10] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A11] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A12] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A13] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A14] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A15] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A16] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A17] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A18] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A19] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A20] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A21] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A22] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A23] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A24] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A25] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A26] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A27] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A28] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A29] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A30] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A31] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A32] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A33] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A34] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A35] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A36] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A37] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A38] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A39] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A40] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A41] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A42] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A43] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A44] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A45] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A46] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A47] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A48] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A49] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A50] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A51] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A52] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A53] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A54] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A55] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A56] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A57] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A58] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A59] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A60] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A61] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A62] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A63] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A64] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A65] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A66] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A67] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A68] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A69] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A70] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A71] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A72] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A73] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A74] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A75] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A76] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A77] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A78] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A79] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A80] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A81] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A82] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A83] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A84] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A85] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A86] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A87] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A88] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A89] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A90] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A91] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A92] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A93] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A94] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A95] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A96] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A97] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A98] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A99] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A100] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A101] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A102] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A103] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A104] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A105] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A106] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A107] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A108] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A109] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A110] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A111] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A112] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A113] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A114] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A115] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A116] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A117] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A118] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A119] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A120] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A121] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A122] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A123] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A124] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A125] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A126] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A127] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A128] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A129] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A130] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A131] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A132] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A133] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A134] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A135] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A136] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A137] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A138] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A139] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A140] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A141] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A142] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A143] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A144] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A145] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A146] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A147] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A148] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A149] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A150] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A151] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A152] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A153] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A154] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A155] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A156] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A157] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A158] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A159] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A160] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A161] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A162] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A163] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A164] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A165] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A166] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A167] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A168] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A169] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A170] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A171] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A172] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A173] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A174] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A175] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A176] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A177] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A178] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A179] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A180] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A181] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A182] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A183] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A184] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A185] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A186] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A187] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A188] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A189] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A190] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A191] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A192] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A193] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A194] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A195] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A196] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A197] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A198] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A199] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A200] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A201] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A202] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A203] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A204] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A205] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A206] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A207] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A208] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A209] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A210] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A211] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A212] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A213] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A214] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A215] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A216] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A217] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A218] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A219] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A220] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A221] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A222] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A223] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A224] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A225] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A226] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A227] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A228] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A229] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A230] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A231] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A232] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A233] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A234] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A235] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A236] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A237] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A238] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A239] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A240] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A241] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A242] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A243] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A244] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A245] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A246] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A247] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A248] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A249] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A250] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A251] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[A252] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_RC_NOTa] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
