/****** Object:  Table [dbo].[ev_AgendaTypes]    Script Date: 5/15/2018 12:07:09 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ev_AgendaTypes](
	[AgendaTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AgendaTypeName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
