/****** Object:  Table [dbo].[MSSSessionExistingDocsAlt]    Script Date: 5/15/2018 12:05:29 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSSessionExistingDocsAlt](
	[DocId] [int] NOT NULL
) ON [PRIMARY]

GO
