/****** Object:  Table [dbo].[MSSSecurityDescriptors]    Script Date: 5/15/2018 12:05:27 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSSecurityDescriptors](
	[Sdid] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[SDHash] [int] NOT NULL,
	[SD] [image] NOT NULL,
 CONSTRAINT [PK_Sdid] PRIMARY KEY CLUSTERED 
(
	[Sdid] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

/****** Object:  Index [IX_SDHash]    Script Date: 5/15/2018 12:05:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_SDHash] ON [dbo].[MSSSecurityDescriptors]
(
	[SDHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
