/****** Object:  Table [dbo].[MSSNextDocID]    Script Date: 5/15/2018 12:05:27 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[MSSNextDocID](
	[NextDocID] [int] NOT NULL
) ON [PRIMARY]

GO
