/****** Object:  UserDefinedFunction [dbo].[norm_enum$products$catalog_type]    Script Date: 5/15/2018 12:15:02 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION dbo.norm_enum$products$catalog_type 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN dbo.enum2str$products$catalog_type(dbo.str2enum$products$catalog_type(@setval))
   END
GO
