/****** Object:  UserDefinedFunction [dbo].[GetDeliveryMethodFromGUID]    Script Date: 5/15/2018 12:15:01 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE FUNCTION [dbo].[GetDeliveryMethodFromGUID] ( @GUID VARCHAR(32) )
RETURNS VARCHAR(20)
AS 
-- Uses code from Taxationmanager.php
    BEGIN
        RETURN CASE @GUID 
		WHEN 'f25de01b9599cc2f225e5a6f931909d0' THEN 'SHIPPING'
		WHEN '6a83e3671db82cb3a57a283cd956a4fc' THEN 'DELIVERY'
		WHEN 'f26481eb3a133d0f9cb17e8c6643a06d' THEN 'INSTALL'
		WHEN 'fb0ef5d411d05aea95c1c3aa67ab7d3b' THEN 'OTHER'
		WHEN '0aee5ea87895414a8ba09d1dce022151' THEN 'PRODUCTION'
		WHEN 'rush' THEN 'RUSH'
		WHEN 'dd455a8cd6bcb4a000a6cf00a85dc987' THEN '3rd PARTY'
		WHEN 'SMT_HANDLING_SPECIAL' THEN 'HANDLING'
		WHEN '1' THEN 'PICK UP'
		ELSE ''
	END
    END

GO
