/****** Object:  Table [dbo].[SalesResultsIncomeAccounts]    Script Date: 5/15/2018 11:59:05 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[SalesResultsIncomeAccounts](
	[CompanyLocationId] [char](8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FranchiseName] [varchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LocationId] [int] NULL,
	[LocationName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductionLocationId] [int] NULL,
	[OrderId] [int] NULL,
	[InvoiceNumber] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderProductId] [int] NULL,
	[OrderProductLineItem] [int] NULL,
	[IsActive] [int] NULL,
	[OrderStatusId] [int] NULL,
	[OrderCompletionDate] [datetime] NULL,
	[OrderClosedDate] [datetime] NULL,
	[OrderBuiltDate] [datetime] NULL,
	[OrderCreatedDate] [datetime] NULL,
	[GLAcctId] [int] NULL,
	[GL_Account] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SortAccount] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsVoided] [bit] NULL,
	[OrderFeeTypeId] [int] NULL,
	[CostOfGoodsSold] [decimal](18, 6) NULL,
	[AdditionalCosts] [decimal](18, 6) NULL,
	[Amount] [decimal](18, 6) NULL,
	[OrderContactName] [varchar](127) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCity] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingState] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCounty] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingZip] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillngZipExtended] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress1] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress2] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingAddress3] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingCity] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingState] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingCounty] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingZip] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingZipExtended] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
