/****** Object:  Table [dbo].[CoreBridgeStaging]    Script Date: 5/15/2018 11:59:02 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[CoreBridgeStaging](
	[CorebridgeRowID] [int] IDENTITY(1,1) NOT NULL,
	[ZW_Franchise_ID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastUpdate] [date] NULL,
	[WebNumber] [int] NULL,
	[StoreNumber] [int] NULL,
	[VanityName] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OpenStatus] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CityName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StateName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Zip] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryCode] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Region] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RegionName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoyaltyFIIpercent] [float] NULL,
	[RoyaltyNACpercent] [float] NULL,
	[StoreOpenDate] [date] NULL,
	[OperationalName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreTypeName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FBC] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Director] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ResaleOpenDate] [date] NULL,
	[CurrentStoreOpenDate] [date] NULL,
	[# of Voided (Post-Completed)] [int] NULL,
	[# of Orders in BUILT] [int] NULL,
	[$ in New Orders] [decimal](18, 6) NULL,
	[$ Collected] [decimal](18, 6) NULL,
	[$ in Orders in BUILT] [decimal](18, 6) NULL,
	[$ in Cancelled Estimates] [decimal](18, 6) NULL,
	[$ in Net Completed Orders] [decimal](18, 6) NULL,
	[# of Converted Estimates] [int] NULL,
	[# of Orders in WIP] [int] NULL,
	[$ in Total Estimates] [decimal](18, 6) NULL,
	[$ in New Estimates] [decimal](18, 6) NULL,
	[$ in Orders in WIP] [decimal](18, 6) NULL,
	[# of New Customers] [int] NULL,
	[# of Total New Orders] [int] NULL,
	[# of New Estimates] [int] NULL,
	[# of Total Estimates] [int] NULL,
	[$ in Voided (Post-Completed)] [decimal](18, 6) NULL,
	[# of Orders in Receivables] [int] NULL,
	[# of Completed Orders] [int] NULL,
	[$ in Converted Estimates] [decimal](18, 6) NULL,
	[# of Net Completed Orders] [int] NULL,
	[# of Voided (Pre-Completed)] [int] NULL,
	[# of Cancelled Estimates] [int] NULL,
	[$ in Voided (Pre-Completed)] [decimal](18, 6) NULL,
	[$ in Completed Orders] [decimal](18, 6) NULL,
	[$ in Total New Orders] [decimal](18, 6) NULL,
	[Total $ in Receivables] [decimal](18, 6) NULL,
	[# of New Orders] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CorebridgeRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
