/****** Object:  Table [dbo].[OrderDim]    Script Date: 5/15/2018 11:59:53 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[OrderDim](
	[OrderKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderDescription] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingRatio] [float] NULL,
	[NumberItems] [int] NULL,
	[OrdererFirstName] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererLastName] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererTitle] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererPareaCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererPhoneNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererPhoneExtention] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererFareaCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererFaxNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrdererEmailAddress] [varchar](75) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalePersonID] [int] NULL,
	[EnteredByID] [int] NULL,
	[Status] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OnHold] [bit] NULL,
	[EstimateDate] [datetime] NULL,
	[OrderDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[DueTime] [datetime] NULL,
	[BuiltDate] [datetime] NULL,
	[VoidDate] [datetime] NULL,
	[PickedUpDate] [datetime] NULL,
	[WriteoffDate] [datetime] NULL,
	[HoldDate] [datetime] NULL,
	[LastInterestDate] [datetime] NULL,
	[ClosedDate] [datetime] NULL,
	[SignSales] [money] NULL,
	[AVISales] [money] NULL,
	[InstallSales] [money] NULL,
	[ProductionCat1Sales] [money] NULL,
	[ProductionCat2Sales] [money] NULL,
	[ProductionCat3Sales] [money] NULL,
	[ItemsTotal] [money] NULL,
	[SalesSubtotal] [money] NULL,
	[TaxableAmount] [money] NULL,
	[TaxExemptAmount] [money] NULL,
	[TaxExemptAmountCalculated] [money] NULL,
	[TaxExemptAmountOverridden] [bit] NULL,
	[TaxExempt] [bit] NULL,
	[TaxIDNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TaxRegionID] [int] NULL,
	[CountySalesTax] [money] NULL,
	[CountySalesTaxRate] [float] NULL,
	[StateSalesTax] [money] NULL,
	[StateSalesTaxRate] [float] NULL,
	[TaxTotal] [money] NULL,
	[PromotionID] [int] NULL,
	[DiscountAmount] [money] NULL,
	[DiscountPercent] [float] NULL,
	[ShippingCharge] [money] NULL,
	[InterestAmount] [money] NULL,
	[SalesTotal] [money] NULL,
	[TotalPayments] [money] NULL,
	[BalanceOutstanding] [money] NULL,
	[WriteoffAmount] [money] NULL,
	[PurchaseOrderNumber] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DispositionOnCompletion] [varchar](9) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EstimateNumber] [int] NULL,
	[ItemsDiscountTotal] [money] NULL,
	[DiscountTotal] [money] NULL,
	[DispositionOnCompletionID] [int] NULL,
	[CustomerName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShippingTaxable] [bit] NULL,
	[RoyaltyRate] [float] NULL,
	[JobBox] [varchar](18) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProofDate] [datetime] NULL,
	[LineItemsOverriden] [bit] NULL,
	[OrderOriginID] [int] NULL,
	[IsLocked] [bit] NULL,
	[LockedDate] [datetime] NULL,
	[LockedUser] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsertDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[DW_InsertDate] [datetime] NULL,
	[T_WebNumber] [smallint] NULL,
	[T_OrderID] [int] NULL,
	[T_StoreID] [int] NULL,
	[T_CustomerID] [int] NULL,
	[T_ContactID] [int] NULL,
	[T_ZW_Franchise_ID] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderName]  AS ((CONVERT([varchar],[T_WEBNUMBER],0)+'-')+CONVERT([varchar],[T_OrderID],0)),
 CONSTRAINT [PK_OrderDim] PRIMARY KEY CLUSTERED 
(
	[OrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[OrderDim] ADD  CONSTRAINT [DF_OrderDim_DW_InsertDate]  DEFAULT (getdate()) FOR [DW_InsertDate]
GO
