/****** Object:  Table [dbo].[OriginDim]    Script Date: 5/15/2018 11:59:53 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[OriginDim](
	[OriginKey] [int] NOT NULL,
	[OriginName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
