/****** Object:  Table [dbo].[_2009SalesData]    Script Date: 5/15/2018 11:59:50 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[_2009SalesData](
	[Opening Date] [datetime] NULL,
	[Store#] [float] NULL,
	[Owner] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Jan] [float] NULL,
	[Feb] [float] NULL,
	[Mar] [float] NULL,
	[Apr] [float] NULL,
	[May] [float] NULL,
	[Jun] [float] NULL,
	[Jul] [float] NULL,
	[Aug] [float] NULL,
	[Sep] [float] NULL,
	[Oct] [float] NULL,
	[Nov] [float] NULL,
	[Dec] [float] NULL,
	[Total] [float] NULL,
	[StoreKey] [int] NULL
) ON [PRIMARY]

GO
