/****** Object:  Table [dbo].[storedimhold]    Script Date: 5/15/2018 11:59:54 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[storedimhold](
	[StoreKey] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [varchar](419) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsRowCurrent] [bit] NULL,
	[WebsiteUrl] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuditID] [int] NULL,
	[Status] [int] NULL,
	[RoyaltyFIIpercent] [numeric](9, 4) NULL,
	[RoyaltyNACpercent] [numeric](9, 4) NULL,
	[Alert] [bit] NULL,
	[LimitedServices] [bit] NULL,
	[COD] [bit] NULL,
	[Operational] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Pacesetter] [bit] NULL,
	[VanityName] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreOpenDate] [datetime] NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Reportable] [bit] NULL,
	[AddressType] [int] NULL,
	[Address1] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address2] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PostalCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Latitude] [numeric](18, 0) NULL,
	[Longitude] [numeric](18, 0) NULL,
	[AddrAuditID] [int] NULL,
	[AddrStatus] [int] NULL,
	[GoldMinePlacement] [int] NULL,
	[DivisionCode] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DivisionName] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalesRegionName] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryCode] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InternationalRegionName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FBC] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STBLevel] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ASI] [bit] NULL,
	[EquipmentPackage] [int] NULL,
	[Router] [bit] NULL,
	[LastConvention] [int] NULL,
	[OutsideSalesRep] [bit] NULL,
	[Luminate] [bit] NULL,
	[LocationType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrafficCount] [int] NULL,
	[SingleOwner] [bit] NULL,
	[OwnerCount] [int] NULL,
	[Landlord] [bit] NULL,
	[FAC] [bit] NULL,
	[NAC] [bit] NULL,
	[TAC] [bit] NULL,
	[SquareFeet] [int] NULL,
	[T_WebNumber] [smallint] NULL,
	[T_StoreID] [int] NULL,
	[T_StoreNumber] [int] NULL,
	[T_AddressID] [int] NULL,
	[T_PoliticalDivisionID] [int] NULL,
	[T_SalesRegionID] [int] NULL,
	[T_CountryID] [int] NULL,
	[T_InternationalRegionID] [int] NULL,
	[SalesRegionLevel1] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalesRegionLevel2] [varchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreOpenDate_YYYYMM] [int] NULL,
	[StoreOpenDate_YYYY] [int] NULL,
	[StoreOpenDate_Month] [nvarchar](33) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StoreOpenDate_YYYY_Month] [nvarchar](61) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
