/****** Object:  Table [Exceptions].[IndustryMappingLookup]    Script Date: 5/15/2018 11:59:56 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Exceptions].[IndustryMappingLookup](
	[IndustryType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreliminaryIndustryMatch] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
