/****** Object:  Table [Exceptions].[CountryCodes]    Script Date: 5/15/2018 11:59:55 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Exceptions].[CountryCodes](
	[T_Country] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CountryCode] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
