/****** Object:  Table [Staging].[Products]    Script Date: 5/15/2018 11:59:58 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Staging].[Products](
	[WebNumber]  AS (case when ascii(substring([ZW_FRANCHISE_ID],(4),(1)))<(58) then CONVERT([smallint],right([ZW_FRANCHISE_ID],(4)),(0)) else CONVERT([smallint],(-1),(0)) end),
	[ProductID] [int] NULL,
	[StoreID] [int] NULL,
	[ProductCode] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCategoryID] [int] NULL,
	[VolumeCategoryID] [int] NULL,
	[AVICategoryID] [int] NULL,
	[ShortDescription] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PricingStructure] [smallint] NULL,
	[DefaultProductionLocation] [smallint] NULL,
	[ForegroundColors] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BackgroundColor] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Font] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriceBasedOn] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DefaultHeight] [float] NULL,
	[DefaultWidth] [float] NULL,
	[InputUnits] [smallint] NULL,
	[PricingUnits] [smallint] NULL,
	[Thickness] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MinNumberSides] [smallint] NULL,
	[MaxNumberSides] [smallint] NULL,
	[DefaultSides] [smallint] NULL,
	[SecondSidePremium] [float] NULL,
	[SetupCharge] [money] NULL,
	[MinUnitPrice] [money] NULL,
	[MinLineItemPrice] [money] NULL,
	[BaseUnitCharge] [money] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[StandardDeliveryTime] [float] NULL,
	[ProductionRate] [float] NULL,
	[RoundingType] [int] NULL,
	[FGColorListID] [int] NULL,
	[RestrictFGColorToList] [bit] NULL,
	[BGColorListID] [int] NULL,
	[RestrictBGColorToList] [bit] NULL,
	[FontListID] [int] NULL,
	[RestrictFontToList] [bit] NULL,
	[RoundSizeToTable] [bit] NULL,
	[ExtrapolateTable] [bit] NULL,
	[FixedPerPieceCharge] [money] NULL,
	[SecondSideSetup] [money] NULL,
	[SecondSidePerPieceCharge] [money] NULL,
	[ProductImageID] [int] NULL,
	[PriceSheetID] [int] NULL,
	[BaseUnitCost] [float] NULL,
	[SymmetricTable] [bit] NULL,
	[TotalSizeDiscounts] [bit] NULL,
	[InterpolateTable] [bit] NULL,
	[MaterialType] [int] NULL,
	[MaterialTypeName] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChargeForScrap] [bit] NULL,
	[ScrapChargeRate] [float] NULL,
	[MaterialHeight] [float] NULL,
	[MaterialWidth] [float] NULL,
	[MaterialDepth] [float] NULL,
	[PanelMaterial] [bit] NULL,
	[PanelGap] [float] NULL,
	[Material2Sided] [bit] NULL,
	[HiddenByDefault] [bit] NULL,
	[ProductActive] [bit] NULL,
	[CostToPriceMargin] [float] NULL,
	[OEEntryFormatID] [int] NULL,
	[TilePieces] [bit] NULL,
	[RotatePieces] [bit] NULL,
	[AvoidPaneling] [bit] NULL,
	[ChargeForExtraPanels] [bit] NULL,
	[PanelChargeRate] [float] NULL,
	[PanelChargeAmount] [money] NULL,
	[sys_di] [datetime] NULL,
	[sys_du] [datetime] NULL,
	[zw_franchise_id] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCategory] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
