/****** Object:  Table [Utility].[IndustryMapping2]    Script Date: 5/15/2018 11:59:58 AM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Utility].[IndustryMapping2](
	[SourceIndustryType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MatchingIndustry] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
