/****** Object:  Table [Contact].[CustomerFact]    Script Date: 5/15/2018 12:02:13 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Contact].[CustomerFact](
	[CustomerKey] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[ZW_Franchise_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanyName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DepartmentName] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrimaryContactID] [int] NULL,
	[APContactID] [int] NULL,
	[APSameAsPrimary] [bit] NULL,
	[SalesPersonID] [int] NULL,
	[SalesPersonKey] [int] NULL,
	[PricingRatio] [float] NULL,
	[BillingAddress1] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingAddress2] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[P2PhoneNumber] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Zip] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerTypeID] [int] NULL,
	[IndustryTypeID] [int] NULL,
	[OutstandingBalance] [money] NULL,
	[ChargeAccount] [bit] NULL,
	[CreditLimit] [money] NULL,
	[CreditLimitUsed] [money] NULL,
	[CreditBalance] [money] NULL,
	[TaxExempt] [bit] NULL,
	[TaxExemptNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AlternateStateTax] [float] NULL,
	[AlternateCountyTax] [float] NULL,
	[Notes] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Prospect] [bit] NULL,
	[CreateDate] [date] NULL,
	[ImportBatchKey] [int] NULL,
	[FirstOrderDate] [date] NULL,
	[LastOrderDate] [date] NULL,
	[LastPickedUpDate] [date] NULL,
	[LastEstimateDate] [date] NULL,
	[LastStatementDate] [date] NULL,
	[LastContact1] [date] NULL,
	[LastContact2] [date] NULL,
	[LastContact3] [date] NULL,
	[LastContact4] [date] NULL,
	[LastContact5] [date] NULL,
	[TaxRegion] [int] NULL,
	[ImportDate] [date] NULL,
	[FlagsKey] [int] NULL,
	[ActiveCustomer] [bit] NULL,
	[PaymentTerms] [int] NULL,
	[LastContactDate] [date] NULL,
	[MarketingFlag6] [date] NULL,
	[MarketingFlag7] [date] NULL,
	[MarketingFlag8] [date] NULL,
	[MarketingFlag9] [date] NULL,
	[MarketingFlag10] [date] NULL,
	[MarketingFlag11] [date] NULL,
	[MarketingFlag12] [date] NULL,
	[MarketingFlag13] [date] NULL,
	[MarketingFlag14] [date] NULL,
	[MarketingFlag15] [date] NULL,
	[MarketingFlag16] [date] NULL,
	[MarketingFlag17] [date] NULL,
	[MarketingFlag18] [date] NULL,
	[MarketingFlag19] [date] NULL,
	[MarketingFlag20] [date] NULL,
	[MarketingFlag21] [date] NULL,
	[MarketingFlag22] [date] NULL,
	[MarketingFlag23] [date] NULL,
	[MarketingFlag24] [date] NULL,
	[MarketingFlag25] [date] NULL,
	[MktgList1Key] [int] NULL,
	[MktgList2Key] [int] NULL,
	[ChargeStatusDate] [date] NULL,
	[PORequired] [bit] NULL,
	[OLTP_InsertDate] [datetime] NULL,
	[OLTP_UpdateDate] [datetime] NULL,
	[UpdateCheckSum] [int] NULL,
	[CenterKey] [int] NULL,
	[URL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TaxIDExpDate] [datetime] NULL,
	[KeystoneCustomerKey] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastSaleAmount] [money] NULL,
	[KeyStoneSalesPersonID] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_CustomerFact] PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
