/****** Object:  Table [KeyStone].[Industry]    Script Date: 5/15/2018 12:02:13 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [KeyStone].[Industry](
	[attribute_id] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Name] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Types_Name] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
