/****** Object:  Table [Orders].[OrderDetailFact]    Script Date: 5/15/2018 12:02:14 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Orders].[OrderDetailFact](
	[OrderDetailKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [int] NULL,
	[ZW_Franchise_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OrderID] [int] NULL,
	[OrderHeaderKey] [int] NULL,
	[LineNumber] [varchar](11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Product] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductKey] [int] NULL,
	[ProductCodeKey] [int] NULL,
	[Quantity] [float] NULL,
	[Sides] [float] NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[ForegroundColor] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BackgroundColor] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Font] [varchar](45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BasePrice] [money] NULL,
	[BasePriceOverriden] [bit] NULL,
	[BasePriceCalculated] [money] NULL,
	[DiscountAmount] [money] NULL,
	[DiscountPercentage] [float] NULL,
	[ItemTotal] [money] NULL,
	[UnitPriceOverridden] [bit] NULL,
	[OverRidden] [bit] NULL,
	[ItemTotalCalculated] [money] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[Description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SignText] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AVAdditionalAmt] [money] NULL,
	[AVAdditionalDescriptionKey] [int] NULL,
	[AVOverridden] [bit] NULL,
	[AVCalculated] [money] NULL,
	[ProductionLocation] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShopTime] [float] NULL,
	[StateSalesTax] [money] NULL,
	[StateSalesTaxRate] [float] NULL,
	[ChildLevel] [int] NULL,
	[BaseCost] [money] NULL,
	[ProductionNotesKey] [int] NULL,
	[OLTP_InsertDate] [datetime] NULL,
	[OLTP_UpdateDate] [datetime] NULL,
	[UpdateCheckSum] [int] NULL,
	[CenterKey] [int] NULL,
	[KeystoneJob_ID] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[KeyStoneInvoice_ID] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[KeystoneEnteredByID] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InvoiceNumber] [varchar](21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoyaltyExempt] [bit] NULL,
	[Type] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[JobLineLabel] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_OrderDetailFact] PRIMARY KEY CLUSTERED 
(
	[OrderDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
