/****** Object:  Table [Product].[ProductFact]    Script Date: 5/15/2018 12:02:16 PM ******/
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [Product].[ProductFact](
	[ProductKey] [int] NOT NULL,
	[ProductID] [int] NULL,
	[ZW_Franchise_ID] [char](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductCodeKey] [int] NULL,
	[ProductCategoryID] [int] NULL,
	[VolumeCategoryID] [int] NULL,
	[AVICategoryID] [int] NULL,
	[DescriptionKey] [int] NULL,
	[PricingStructure] [smallint] NULL,
	[DefaultProductionLocation] [smallint] NULL,
	[ForegroundColorsKey] [int] NULL,
	[BackgroundColorKey] [int] NULL,
	[Font] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriceBasedOnKey] [int] NULL,
	[DefaultHeight] [float] NULL,
	[DefaultWidth] [float] NULL,
	[InputUnits] [smallint] NULL,
	[PricingUnits] [smallint] NULL,
	[ThicknessKey] [int] NULL,
	[MinNumberSides] [smallint] NULL,
	[MaxNumberSides] [smallint] NULL,
	[DefaultSides] [smallint] NULL,
	[SecondSidePremium] [float] NULL,
	[SetupCharge] [money] NULL,
	[MinUnitPrice] [money] NULL,
	[MinLineItemPrice] [money] NULL,
	[BaseUnitCharge] [money] NULL,
	[Taxable] [bit] NULL,
	[AllInstallation] [bit] NULL,
	[StandardDeliveryTime] [float] NULL,
	[ProductionRate] [float] NULL,
	[RoundingType] [int] NULL,
	[FGColorListID] [int] NULL,
	[RestrictFGColorToList] [bit] NULL,
	[BGColorListID] [int] NULL,
	[RestrictBGColorToList] [bit] NULL,
	[FontListID] [bit] NULL,
	[RestrictFontToList] [bit] NULL,
	[RoundSizeToTable] [bit] NULL,
	[ExtrapolateTable] [bit] NULL,
	[FixedPerPieceCharge] [money] NULL,
	[SecondSideSetup] [bit] NULL,
	[SecondSidePerPieceCharge] [money] NULL,
	[ProductImageID] [int] NULL,
	[PriceSheetID] [int] NULL,
	[BaseUnitCost] [float] NULL,
	[DetailDescriptionKey] [int] NULL,
	[SymmetricTable] [bit] NULL,
	[TotalSizeDiscounts] [bit] NULL,
	[InterpolateTable] [bit] NULL,
	[MaterialTypeNameKey] [int] NULL,
	[ChargeForScrap] [bit] NULL,
	[ScrapChargeRate] [float] NULL,
	[MaterialHeight] [float] NULL,
	[MaterialWidth] [float] NULL,
	[MaterialDepth] [float] NULL,
	[PanelMaterial] [bit] NULL,
	[PanelGap] [float] NULL,
	[Material2Sided] [bit] NULL,
	[HiddenByDefault] [bit] NULL,
	[ProductActive] [bit] NULL,
	[CostToPriceMargin] [float] NULL,
	[PriceFormulaKey] [int] NULL,
	[CostFormulaKey] [int] NULL,
	[OEEntryFormatID] [int] NULL,
	[SetupFormulaKey] [int] NULL,
	[TilePieces] [bit] NULL,
	[RotatePieces] [bit] NULL,
	[AvoidPaneling] [bit] NULL,
	[ChargeForExtraPanels] [bit] NULL,
	[PanelChargeRate] [float] NULL,
	[PanelChargeAmount] [money] NULL,
	[DefaultProdNotesKey] [int] NULL,
	[xSortMarker] [bit] NULL,
	[LimitToTable] [bit] NULL,
	[FlagsKey] [int] NULL,
	[RoyaltyGroupID] [int] NULL,
	[OLTP_InsertDate] [datetime] NULL,
	[OLTP_UpdateDate] [datetime] NULL,
	[UpdateCheckSum] [int] NULL,
	[CenterKey] [int] NULL
) ON [PRIMARY]

GO
